{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/splide.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
          integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet'
          href='https://mverissimo.github.io/tweenslideshow/dist/assets/stylesheet/application.min.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

{% include 'layouts/header.html' %}

{% block content %}
{% endblock %}

{% include 'layouts/footer.html' %}


<script src="{% static 'js/splide.min.js' %}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js'></script>
<script src='https://mverissimo.github.io/tweenslideshow/dist/assets/javascript/script.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
<script src='https://kenwheeler.github.io/slick/slick/slick.js'></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
<script src='https://s3.amazonaws.com/dimsemenov-static/dist/jquery.magnific-popup.min.js'></script>
<script src="{% static 'js/main.js' %}"></script>

<script>
    (function () {

        $(".hamburger").on("click", function () {
            $(this).parent(".hamburger-wrapper").toggleClass("hamburger-active")
        });

    }());
</script>
<script>
    $('.control').click( function(){
      $('body').addClass('mode-search');
      $('.input-search').focus();
    });

    $('.icon-close').click( function(){
      $('body').removeClass('mode-search');
    });
</script>
<script>
    $(document).ready(function () {
        $(".minimalist-vertical-menu2").on("mouseleave", function () {
            $(".minimalist-tab-content2").removeClass("active");
            $(".minimalist-tab-menu2>.list-group2>.menu-item2").removeClass("active");
        });

        $(".menu-item2").on("mouseleave", function () {
            if (!$(".minimalist-tab-content2").hasClass("active")) {
                $(this).removeClass("active");
            }
        }).on("mouseenter", function (e) {
            e.preventDefault();
            $(this)
                .siblings(".menu-item2.active")
                .removeClass("active");
            $(this).addClass("active");
            var index = $(this).index();
            $(".minimalist-tab-content2")
                .removeClass("active")
            $(".minimalist-tab2>.minimalist-tab-content2")
                .eq(index)
                .addClass("active");
        });
    });

    $(document).ready(function () {
        $(".minimalist-vertical-menu3").on("mouseleave", function () {
            $(".minimalist-tab-content3").removeClass("active");
            $(".minimalist-tab-menu3>.list-group3>.menu-item3").removeClass("active");
        });

        $(".menu-item3").on("mouseleave", function () {
            if (!$(".minimalist-tab-content3").hasClass("active")) {
                $(this).removeClass("active");
            }
        }).on("mouseenter", function (e) {
            e.preventDefault();
            $(this)
                .siblings(".menu-item3.active")
                .removeClass("active");
            $(this).addClass("active");
            var index = $(this).index();
            $(".minimalist-tab-content3")
                .removeClass("active")
            $(".minimalist-tab3>.minimalist-tab-content3")
                .eq(index)
                .addClass("active");
        });
    });


    $('.btn1').click(function () {
        $(this).toggleClass("click");
        $('.sidebar').toggleClass("show");
    });
    $('.feat-btn').click(function () {
        $('nav ul .feat-show').toggleClass("show");
        $('nav ul .first').toggleClass("rotate");
    });
    $('.serv-btn').click(function () {
        $('nav ul .serv-show').toggleClass("show1");
        $('nav ul .second').toggleClass("rotate");
    });
    $('nav ul li').click(function () {
        $(this).addClass("active").siblings().removeClass("active");
    });

</script>
<script>
    $(function () {
        var Accordion = function (el, multiple) {
            this.el = el || {};
            this.multiple = multiple || false;

            // Variables privadas
            var links = this.el.find('.link');
            // Evento
            links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
        }

        Accordion.prototype.dropdown = function (e) {
            var $el = e.data.el;
            $this = $(this),
                $next = $this.next();

            $next.slideToggle();
            $this.parent().toggleClass('open');

            if (!e.data.multiple) {
                $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
            }
            ;
        }

        var accordion = new Accordion($('#accordion4'), false);
    });

</script>

{% block extra_js %}{% endblock %}


</body>
</html>