{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% trans 'Uskunalar.uz | Xalqaro uskunalar savdo markazi' %}{% endblock %}</title>
    <meta name="google-site-verification" content="BKoQKvktTYBYK4gBlkz2Bk1AvjMam45M4Neb4otwUbU" />
    <meta name="description" content="{% trans "O'zbekiston bo'ylab barcha turdagi yuqori sifatli ishlab chiqarish uskunalarini hamyonbop narxlarda yetkazib beruvchi kompaniya." %}">
    <meta name="keywords" content="{% trans "Uskunalar, Biznes loyihalar, Ускуналар, Ishlab chiqarish, Qayta ishlash, Liniyalar, Biznes Rejalar" %}">
    <link rel="stylesheet" href="{% static 'css/splide.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
      <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
     <link rel="icon" type="image/x-icon" href="{% static './images/favicon-us.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.1.6/swiper-bundle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'images/uslogo.css' %}">
    {% block extra_css %}{% endblock %}

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(90825363, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<!-- /Yandex.Metrika counter -->

</head>

<body>
   <div class="loader">
        <div class="loader-container">
            <div class="animation">
                <div class="polygon-1">
                    <div class="inside-1"></div>
                </div>
                <div class="polygon-2">
                    <div class="inside-2"></div>
                </div>
                <div class="polygon-3">
                    <div class="inside-3"></div>
                </div><h3 class="loader-title">Uskunalar.uz</h3>
            </div>

            <div class="box-loader">
                <div class="loader-line"></div>
                <p class="box-loader-title" style="font-size: 25px">{% trans 'Yuklanmoqda' %} <span></span></p>
            </div>

        </div>
    </div>
{% include 'layouts/header.html' %}

{% block content %}
{% endblock %}

{% include 'layouts/footer.html' %}
{% include 'layouts/tabbar.html' %}



 <script>
window.addEventListener('load', (event) => {
    event.preventDefault()
    progress()
    setTimeout( () => {
        var loader = document.querySelector('.loader')
        setTimeout( () => {
             loader.classList.add('loaded')
        }, 100)
    }, 100)
    window.data = event.data
})

var i = 0;
function progress() {
  if (i == 0) {
    i = 1;
    var loaderCount = document.querySelector(".box-loader-title span");
    var width = 0;
    var id = setInterval(frame, 5);
    function frame() {
      if (width >= 100) {
        clearInterval(id);
        i = 0;
      } else {
        width++;
        document.documentElement.style.setProperty('--loaderWidth', width + '%');
        loaderCount.innerHTML = `${width}%`
      }
    }
  }
}


 </script>
<script src="{% static 'js/splide.min.js' %}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
<script src='https://kenwheeler.github.io/slick/slick/slick.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.1.6/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script src='https://s3.amazonaws.com/dimsemenov-static/dist/jquery.magnific-popup.min.js'></script>
{#<script src="//code-eu1.jivosite.com/widget/rmQE0QqY5D" async></script>#}
<script src="{% static 'js/main.js' %}"></script>
<script>
    (function () {

        $(".hamburger").on("click", function () {
            $(this).parent(".hamburger-wrapper").toggleClass("hamburger-active")
        });

    }());
</script>
<script>
    $('.control').click( function(){
      $('body').addClass('mode-search');
      $('.input-search').focus();
    });

    $('.icon-close').click( function(){
      $('body').removeClass('mode-search');
    });
</script>
<script>
    $(document).ready(function () {
        $(".minimalist-vertical-menu2").on("mouseleave", function () {
            $(".minimalist-tab-content2").removeClass("active");
            $(".minimalist-tab-menu2>.list-group2>.menu-item2").removeClass("active");
        });

        $(".menu-item2").on("mouseleave", function () {
            if (!$(".minimalist-tab-content2").hasClass("active")) {
                $(this).removeClass("active");
            }
        }).on("mouseenter", function (e) {
            e.preventDefault();
            $(this)
                .siblings(".menu-item2.active")
                .removeClass("active");
            $(this).addClass("active");
            var index = $(this).index();
            $(".minimalist-tab-content2")
                .removeClass("active")
            $(".minimalist-tab2>.minimalist-tab-content2")
                .eq(index)
                .addClass("active");
        });
    });

    $(document).ready(function () {
        $(".minimalist-vertical-menu3").on("mouseleave", function () {
            $(".minimalist-tab-content3").removeClass("active");
            $(".minimalist-tab-menu3>.list-group3>.menu-item3").removeClass("active");
        });

        $(".menu-item3").on("mouseleave", function () {
            if (!$(".minimalist-tab-content3").hasClass("active")) {
                $(this).removeClass("active");
            }
        }).on("mouseenter", function (e) {
            e.preventDefault();
            $(this)
                .siblings(".menu-item3.active")
                .removeClass("active");
            $(this).addClass("active");
            var index = $(this).index();
            $(".minimalist-tab-content3")
                .removeClass("active")
            $(".minimalist-tab3>.minimalist-tab-content3")
                .eq(index)
                .addClass("active");
        });
    });


    $('.btn1').click(function () {
        $(this).toggleClass("click");
        $('.sidebar').toggleClass("show");
    });
    $('.feat-btn').click(function () {
        $('nav ul .feat-show').toggleClass("show");
        $('nav ul .first').toggleClass("rotate");
    });
    $('.serv-btn').click(function () {
        $('nav ul .serv-show').toggleClass("show1");
        $('nav ul .second').toggleClass("rotate");
    });
    $('nav ul li').click(function () {
        $(this).addClass("active").siblings().removeClass("active");
    });

</script>
<script>
    $(function () {
        var Accordion = function (el, multiple) {
            this.el = el || {};
            this.multiple = multiple || false;

            // Variables privadas
            var links = this.el.find('.link');
            // Evento
            links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
        }

        Accordion.prototype.dropdown = function (e) {
            var $el = e.data.el;
            $this = $(this),
                $next = $this.next();

            $next.slideToggle();
            $this.parent().toggleClass('open');

            if (!e.data.multiple) {
                $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
            }
            ;
        }

        var accordion = new Accordion($('#accordion9_1'), false);
    });


</script>

<script>
window.FontAwesomeKitConfig = {
  asyncLoading: { enabled: false },
  autoA11y: { enabled: true },
  baseUrl: "https://ka-f.fontawesome.com",
  baseUrlKit: "https://kit.fontawesome.com",
  detectConflictsUntil: null,
  iconUploads: {},
  id: 104562792,
  license: "pro",
  method: "css",
  minify: { enabled: true },
  token: "704f56d977",
  v4FontFaceShim: { enabled: true },
  v4shim: { enabled: true },
  v5FontFaceShim: { enabled: true },
  version: "6.1.1",
};
!(function (t) {
  "function" == typeof define && define.amd ? define("kit-loader", t) : t();
})(function () {
  "use strict";
  function t(e) {
    return (t =
      "function" == typeof Symbol && "symbol" == typeof Symbol.iterator
        ? function (t) {
            return typeof t;
          }
        : function (t) {
            return t &&
              "function" == typeof Symbol &&
              t.constructor === Symbol &&
              t !== Symbol.prototype
              ? "symbol"
              : typeof t;
          })(e);
  }
  function e(t, e, n) {
    return (
      e in t
        ? Object.defineProperty(t, e, {
            value: n,
            enumerable: !0,
            configurable: !0,
            writable: !0,
          })
        : (t[e] = n),
      t
    );
  }
  function n(t, e) {
    var n = Object.keys(t);
    if (Object.getOwnPropertySymbols) {
      var o = Object.getOwnPropertySymbols(t);
      e &&
        (o = o.filter(function (e) {
          return Object.getOwnPropertyDescriptor(t, e).enumerable;
        })),
        n.push.apply(n, o);
    }
    return n;
  }
  function o(t) {
    for (var o = 1; o < arguments.length; o++) {
      var r = null != arguments[o] ? arguments[o] : {};
      o % 2
        ? n(Object(r), !0).forEach(function (n) {
            e(t, n, r[n]);
          })
        : Object.getOwnPropertyDescriptors
        ? Object.defineProperties(t, Object.getOwnPropertyDescriptors(r))
        : n(Object(r)).forEach(function (e) {
            Object.defineProperty(t, e, Object.getOwnPropertyDescriptor(r, e));
          });
    }
    return t;
  }
  function r(t, e) {
    return (
      (function (t) {
        if (Array.isArray(t)) return t;
      })(t) ||
      (function (t, e) {
        if ("undefined" == typeof Symbol || !(Symbol.iterator in Object(t)))
          return;
        var n = [],
          o = !0,
          r = !1,
          i = void 0;
        try {
          for (
            var c, a = t[Symbol.iterator]();
            !(o = (c = a.next()).done) &&
            (n.push(c.value), !e || n.length !== e);
            o = !0
          );
        } catch (t) {
          (r = !0), (i = t);
        } finally {
          try {
            o || null == a.return || a.return();
          } finally {
            if (r) throw i;
          }
        }
        return n;
      })(t, e) ||
      (function (t, e) {
        if (!t) return;
        if ("string" == typeof t) return i(t, e);
        var n = Object.prototype.toString.call(t).slice(8, -1);
        "Object" === n && t.constructor && (n = t.constructor.name);
        if ("Map" === n || "Set" === n) return Array.from(t);
        if (
          "Arguments" === n ||
          /^(?:Ui|I)nt(?:8|16|32)(?:Clamped)?Array$/.test(n)
        )
          return i(t, e);
      })(t, e) ||
      (function () {
        throw new TypeError(
          "Invalid attempt to destructure non-iterable instance.\nIn order to be iterable, non-array objects must have a [Symbol.iterator]() method."
        );
      })()
    );
  }
  function i(t, e) {
    (null == e || e > t.length) && (e = t.length);
    for (var n = 0, o = new Array(e); n < e; n++) o[n] = t[n];
    return o;
  }
  function c(t, e) {
    var n = (e && e.addOn) || "",
      o = (e && e.baseFilename) || t.license + n,
      r = e && e.minify ? ".min" : "",
      i = (e && e.fileSuffix) || t.method,
      c = (e && e.subdir) || t.method;
    return (
      t.baseUrl +
      "/releases/" +
      ("latest" === t.version ? "latest" : "v".concat(t.version)) +
      "/" +
      c +
      "/" +
      o +
      r +
      "." +
      i
    );
  }
  function a(t) {
    return t.baseUrlKit + "/" + t.token + "/" + t.id + "/kit-upload.css";
  }
  function u(t, e) {
    var n = e || ["fa"],
      o = "." + Array.prototype.join.call(n, ",."),
      r = t.querySelectorAll(o);
    Array.prototype.forEach.call(r, function (e) {
      var n = e.getAttribute("title");
      e.setAttribute("aria-hidden", "true");
      var o =
        !e.nextElementSibling ||
        !e.nextElementSibling.classList.contains("sr-only");
      if (n && o) {
        var r = t.createElement("span");
        (r.innerHTML = n),
          r.classList.add("sr-only"),
          e.parentNode.insertBefore(r, e.nextSibling);
      }
    });
  }
  var f,
    s = function () {},
    d =
      "undefined" != typeof global &&
      void 0 !== global.process &&
      "function" == typeof global.process.emit,
    l = "undefined" == typeof setImmediate ? setTimeout : setImmediate,
    h = [];
  function m() {
    for (var t = 0; t < h.length; t++) h[t][0](h[t][1]);
    (h = []), (f = !1);
  }
  function p(t, e) {
    h.push([t, e]), f || ((f = !0), l(m, 0));
  }
  function v(t) {
    var e = t.owner,
      n = e._state,
      o = e._data,
      r = t[n],
      i = t.then;
    if ("function" == typeof r) {
      n = "fulfilled";
      try {
        o = r(o);
      } catch (t) {
        w(i, t);
      }
    }
    y(i, o) || ("fulfilled" === n && b(i, o), "rejected" === n && w(i, o));
  }
  function y(e, n) {
    var o;
    try {
      if (e === n)
        throw new TypeError(
          "A promises callback cannot return that same promise."
        );
      if (n && ("function" == typeof n || "object" === t(n))) {
        var r = n.then;
        if ("function" == typeof r)
          return (
            r.call(
              n,
              function (t) {
                o || ((o = !0), n === t ? g(e, t) : b(e, t));
              },
              function (t) {
                o || ((o = !0), w(e, t));
              }
            ),
            !0
          );
      }
    } catch (t) {
      return o || w(e, t), !0;
    }
    return !1;
  }
  function b(t, e) {
    (t !== e && y(t, e)) || g(t, e);
  }
  function g(t, e) {
    "pending" === t._state && ((t._state = "settled"), (t._data = e), p(S, t));
  }
  function w(t, e) {
    "pending" === t._state && ((t._state = "settled"), (t._data = e), p(O, t));
  }
  function A(t) {
    t._then = t._then.forEach(v);
  }
  function S(t) {
    (t._state = "fulfilled"), A(t);
  }
  function O(t) {
    (t._state = "rejected"),
      A(t),
      !t._handled && d && global.process.emit("unhandledRejection", t._data, t);
  }
  function j(t) {
    global.process.emit("rejectionHandled", t);
  }
  function E(t) {
    if ("function" != typeof t)
      throw new TypeError("Promise resolver " + t + " is not a function");
    if (this instanceof E == !1)
      throw new TypeError(
        "Failed to construct 'Promise': Please use the 'new' operator, this object constructor cannot be called as a function."
      );
    (this._then = []),
      (function (t, e) {
        function n(t) {
          w(e, t);
        }
        try {
          t(function (t) {
            b(e, t);
          }, n);
        } catch (t) {
          n(t);
        }
      })(t, this);
  }
  (E.prototype = {
    constructor: E,
    _state: "pending",
    _then: null,
    _data: void 0,
    _handled: !1,
    then: function (t, e) {
      var n = {
        owner: this,
        then: new this.constructor(s),
        fulfilled: t,
        rejected: e,
      };
      return (
        (!e && !t) ||
          this._handled ||
          ((this._handled = !0), "rejected" === this._state && d && p(j, this)),
        "fulfilled" === this._state || "rejected" === this._state
          ? p(v, n)
          : this._then.push(n),
        n.then
      );
    },
    catch: function (t) {
      return this.then(null, t);
    },
  }),
    (E.all = function (t) {
      if (!Array.isArray(t))
        throw new TypeError("You must pass an array to Promise.all().");
      return new E(function (e, n) {
        var o = [],
          r = 0;
        function i(t) {
          return (
            r++,
            function (n) {
              (o[t] = n), --r || e(o);
            }
          );
        }
        for (var c, a = 0; a < t.length; a++)
          (c = t[a]) && "function" == typeof c.then
            ? c.then(i(a), n)
            : (o[a] = c);
        r || e(o);
      });
    }),
    (E.race = function (t) {
      if (!Array.isArray(t))
        throw new TypeError("You must pass an array to Promise.race().");
      return new E(function (e, n) {
        for (var o, r = 0; r < t.length; r++)
          (o = t[r]) && "function" == typeof o.then ? o.then(e, n) : e(o);
      });
    }),
    (E.resolve = function (e) {
      return e && "object" === t(e) && e.constructor === E
        ? e
        : new E(function (t) {
            t(e);
          });
    }),
    (E.reject = function (t) {
      return new E(function (e, n) {
        n(t);
      });
    });
  var _ = "function" == typeof Promise ? Promise : E;
  function F(t, e) {
    var n = e.fetch,
      o = e.XMLHttpRequest,
      r = e.token,
      i = t;
    return (
      "URLSearchParams" in window
        ? (i = new URL(t)).searchParams.set("token", r)
        : (i = i + "?token=" + encodeURIComponent(r)),
      (i = i.toString()),
      new _(function (t, e) {
        if ("function" == typeof n)
          n(i, { mode: "cors", cache: "default" })
            .then(function (t) {
              if (t.ok) return t.text();
              throw new Error("");
            })
            .then(function (e) {
              t(e);
            })
            .catch(e);
        else if ("function" == typeof o) {
          var r = new o();
          r.addEventListener("loadend", function () {
            this.responseText ? t(this.responseText) : e(new Error(""));
          });
          ["abort", "error", "timeout"].map(function (t) {
            r.addEventListener(t, function () {
              e(new Error(""));
            });
          }),
            r.open("GET", i),
            r.send();
        } else {
          e(new Error(""));
        }
      })
    );
  }
  function P(t, e, n) {
    var o = t;
    return (
      [
        [
          /(url\("?)\.\.\/\.\.\/\.\./g,
          function (t, n) {
            return "".concat(n).concat(e);
          },
        ],
        [
          /(url\("?)\.\.\/webfonts/g,
          function (t, o) {
            return "".concat(o).concat(e, "/releases/v").concat(n, "/webfonts");
          },
        ],
        [
          /(url\("?)https:\/\/kit-free([^.])*\.fontawesome\.com/g,
          function (t, n) {
            return "".concat(n).concat(e);
          },
        ],
      ].forEach(function (t) {
        var e = r(t, 2),
          n = e[0],
          i = e[1];
        o = o.replace(n, i);
      }),
      o
    );
  }
  function C(t, e) {
    var n =
        arguments.length > 2 && void 0 !== arguments[2]
          ? arguments[2]
          : function () {},
      r = e.document || r,
      i = u.bind(u, r, ["fa", "fab", "fas", "far", "fal", "fad", "fak"]),
      f = Object.keys(t.iconUploads || {}).length > 0;
    t.autoA11y.enabled && n(i);
    var s = [{ id: "fa-main", addOn: void 0 }];
    t.v4shim &&
      t.v4shim.enabled &&
      s.push({ id: "fa-v4-shims", addOn: "-v4-shims" }),
      t.v5FontFaceShim &&
        t.v5FontFaceShim.enabled &&
        s.push({ id: "fa-v5-font-face", addOn: "-v5-font-face" }),
      t.v4FontFaceShim &&
        t.v4FontFaceShim.enabled &&
        s.push({ id: "fa-v4-font-face", addOn: "-v4-font-face" }),
      f && s.push({ id: "fa-kit-upload", customCss: !0 });
    var d = s.map(function (n) {
      return new _(function (r, i) {
        F(
          n.customCss
            ? a(t)
            : c(t, { addOn: n.addOn, minify: t.minify.enabled }),
          e
        )
          .then(function (i) {
            r(
              U(
                i,
                o(
                  o({}, e),
                  {},
                  {
                    baseUrl: t.baseUrl,
                    version: t.version,
                    id: n.id,
                    contentFilter: function (t, e) {
                      return P(t, e.baseUrl, e.version);
                    },
                  }
                )
              )
            );
          })
          .catch(i);
      });
    });
    return _.all(d);
  }
  function U(t, e) {
    var n =
        e.contentFilter ||
        function (t, e) {
          return t;
        },
      o = document.createElement("style"),
      r = document.createTextNode(n(t, e));
    return (
      o.appendChild(r),
      (o.media = "all"),
      e.id && o.setAttribute("id", e.id),
      e &&
        e.detectingConflicts &&
        e.detectionIgnoreAttr &&
        o.setAttributeNode(document.createAttribute(e.detectionIgnoreAttr)),
      o
    );
  }
  function k(t, e) {
    (e.autoA11y = t.autoA11y.enabled),
      "pro" === t.license &&
        ((e.autoFetchSvg = !0),
        (e.fetchSvgFrom =
          t.baseUrl +
          "/releases/" +
          ("latest" === t.version ? "latest" : "v".concat(t.version)) +
          "/svgs"),
        (e.fetchUploadedSvgFrom = t.uploadsUrl));
    var n = [];
    return (
      t.v4shim.enabled &&
        n.push(
          new _(function (n, r) {
            F(c(t, { addOn: "-v4-shims", minify: t.minify.enabled }), e)
              .then(function (t) {
                n(I(t, o(o({}, e), {}, { id: "fa-v4-shims" })));
              })
              .catch(r);
          })
        ),
      n.push(
        new _(function (n, r) {
          F(c(t, { minify: t.minify.enabled }), e)
            .then(function (t) {
              var r = I(t, o(o({}, e), {}, { id: "fa-main" }));
              n(
                (function (t, e) {
                  var n =
                      e && void 0 !== e.autoFetchSvg ? e.autoFetchSvg : void 0,
                    o = e && void 0 !== e.autoA11y ? e.autoA11y : void 0;
                  void 0 !== o &&
                    t.setAttribute("data-auto-a11y", o ? "true" : "false");
                  n &&
                    (t.setAttributeNode(
                      document.createAttribute("data-auto-fetch-svg")
                    ),
                    t.setAttribute("data-fetch-svg-from", e.fetchSvgFrom),
                    t.setAttribute(
                      "data-fetch-uploaded-svg-from",
                      e.fetchUploadedSvgFrom
                    ));
                  return t;
                })(r, e)
              );
            })
            .catch(r);
        })
      ),
      _.all(n)
    );
  }
  function I(t, e) {
    var n = document.createElement("SCRIPT"),
      o = document.createTextNode(t);
    return (
      n.appendChild(o),
      (n.referrerPolicy = "strict-origin"),
      e.id && n.setAttribute("id", e.id),
      e &&
        e.detectingConflicts &&
        e.detectionIgnoreAttr &&
        n.setAttributeNode(document.createAttribute(e.detectionIgnoreAttr)),
      n
    );
  }
  function L(t) {
    var e,
      n = [],
      o = document,
      r = o.documentElement.doScroll,
      i = (r ? /^loaded|^c/ : /^loaded|^i|^c/).test(o.readyState);
    i ||
      o.addEventListener(
        "DOMContentLoaded",
        (e = function () {
          for (
            o.removeEventListener("DOMContentLoaded", e), i = 1;
            (e = n.shift());

          )
            e();
        })
      ),
      i ? setTimeout(t, 0) : n.push(t);
  }
  function T(t) {
    "undefined" != typeof MutationObserver &&
      new MutationObserver(t).observe(document, { childList: !0, subtree: !0 });
  }
  try {
    if (window.FontAwesomeKitConfig) {
      var x = window.FontAwesomeKitConfig,
        M = {
          detectingConflicts:
            x.detectConflictsUntil &&
            new Date() <= new Date(x.detectConflictsUntil),
          detectionIgnoreAttr: "data-fa-detection-ignore",
          fetch: window.fetch,
          token: x.token,
          XMLHttpRequest: window.XMLHttpRequest,
          document: document,
        },
        D = document.currentScript,
        N = D ? D.parentElement : document.head;
      (function () {
        var t =
            arguments.length > 0 && void 0 !== arguments[0] ? arguments[0] : {},
          e =
            arguments.length > 1 && void 0 !== arguments[1] ? arguments[1] : {};
        return "js" === t.method
          ? k(t, e)
          : "css" === t.method
          ? C(t, e, function (t) {
              L(t), T(t);
            })
          : void 0;
      })(x, M)
        .then(function (t) {
          t.map(function (t) {
            try {
              N.insertBefore(t, D ? D.nextSibling : null);
            } catch (e) {
              N.appendChild(t);
            }
          }),
            M.detectingConflicts &&
              D &&
              L(function () {
                D.setAttributeNode(
                  document.createAttribute(M.detectionIgnoreAttr)
                );
                var t = (function (t, e) {
                  var n = document.createElement("script");
                  return (
                    e &&
                      e.detectionIgnoreAttr &&
                      n.setAttributeNode(
                        document.createAttribute(e.detectionIgnoreAttr)
                      ),
                    (n.src = c(t, {
                      baseFilename: "conflict-detection",
                      fileSuffix: "js",
                      subdir: "js",
                      minify: t.minify.enabled,
                    })),
                    n
                  );
                })(x, M);
                document.body.appendChild(t);
              });
        })
        .catch(function (t) {
          console.error("".concat("Font Awesome Kit:", " ").concat(t));
        });
    }
  } catch (t) {
    console.error("".concat("Font Awesome Kit:", " ").concat(t));
  }
});

</script>
<script>
    $("#search2_input_box").hide();
    $("#search2").on("click", function () {
        $("#search2_input_box").slideToggle();
        $("#search2_input").focus();
    });
    $("#close_search2").on("click", function () {
        $('#search2_input_box').slideUp(500);
    });

</script>


<script>
    $(function () {
        var Accordion = function (el, multiple) {
            this.el = el || {};
            this.multiple = multiple || false;

            // Variables privadas
            var links = this.el.find('.link');
            // Evento
            links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
        }

        Accordion.prototype.dropdown = function (e) {
            var $el = e.data.el;
            $this = $(this),
                $next = $this.next();

            $next.slideToggle();
            $this.parent().toggleClass('open');

            if (!e.data.multiple) {
                $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
            }
            ;
        }

        var accordion = new Accordion($('#accordion9_1'), false);
    });


</script>

<script>
    var splide = new Splide('.splide_3_2', {
        perPage: 1,
        rewind: true,
    });

    splide.mount();



</script>
  <script>
    $('.control').click( function(){
      $('body').addClass('mode-search');
      $('.input-search').focus();
    });

    $('.icon-close').click( function(){
      $('body').removeClass('mode-search');
    });
</script>
<script>
function getCategoriesNumber() {
  let categoriesSlideCount;
  switch (true) {
    case ( window.innerWidth >= 2000):
      return categoriesSlideCount = 5;
    case (window.innerWidth < 2000 && window.innerWidth >= 1000):
      return categoriesSlideCount = 4;
    case (window.innerWidth < 1000 && window.innerWidth >= 900):
      return categoriesSlideCount = 3.5;
    case (window.innerWidth < 900 && window.innerWidth >= 700):
      return categoriesSlideCount = 3;
    case (window.innerWidth < 700 && window.innerWidth >= 500):
      return categoriesSlideCount = 2;
    case (window.innerWidth < 500 ):
      return categoriesSlideCount = 1.5;

    default:
      return categoriesSlideCount = 4;
  }
 }

const categories_swiper = new Swiper('.categories', {
    // Optional parameters
    centeredSlides: true,
    loop: true,
    loopFillGroupWithBlank:true,
    slidesPerView: getCategoriesNumber(),
    spaceBetween: 15,

    // Navigation arrows
    navigation: {
      prevEl: '#categories-prev-1',
      nextEl: '#categories-next-1',
    },
  });

</script>
<!--lines js-->
<script>

function getSlideSize() {
  let windowSize = window.innerWidth;

  switch (true) {
      case windowSize >= 4000:
      return slideSize = 7;

    case windowSize >= 3000:
      return slideSize = 6;

    case windowSize <= 3000 && windowSize > 2000:
      return slideSize = 5;

    case windowSize <= 2000 && windowSize > 1500:
      return slideSize = 4.5;

    case windowSize <= 1500 && windowSize > 1100:
      return slideSize = 3.5;

    case windowSize <= 1100 && windowSize > 900:
      return slideSize = 3;

    case windowSize <= 900 && windowSize > 800:
      return slideSize = 2.5;

    case windowSize <= 800 && windowSize > 500:
      return slideSize = 2;

    case windowSize <= 500:
      return slideSize = 1.5;

    default:
      return slideSize = 1.5;
  }
}

const swiper1 = new Swiper(".lines", {
  // Optional parameters
  slidesPerView: getSlideSize(),
  spaceBetween: 30,
  centeredSlides: true,
  direction: "horizontal",
  loop: true,
  autoplay: {
    delay: 2500,
    disableOnInteraction: false
  },
  // If we need pagination
  pagination: {
    el: ".swiper-pagination",
    type: "progressbar"
  },
  // Navigation arrows
  navigation: {
    nextEl: ".swiper-button_next",
    prevEl: ".swiper-button_prev"
  }
});
</script>
<!-- end lines js-->
<script>
var players = document.querySelectorAll('.youtube-player');
var content = document.querySelector('.about-content_block');

var loadPlayer = function (event) {
  var target = event.currentTarget;
  var iframe = document.createElement('iframe');
  iframe.height = target.clientHeight;
  iframe.width = target.clientWidth;
  iframe.src = 'https://www.youtube.com/embed/' + target.dataset.videoId + '?autoplay=1';
  iframe.setAttribute('frameborder', 0);
  iframe.setAttribute('controls', 1);
  iframe.setAttribute('autoplay', '');
  iframe.setAttribute('allow', 'autoplay; picture-in-picture');
  iframe.setAttribute('allowFullScreen', 'allowFullScreen');
  target.classList.remove('pristine');

  if (target.children.length) {
    target.replaceChild(iframe, target.firstElementChild);
  } else {
    target.appendChild(iframe);
  }
};

var config = {
  once: true
};
Array.from(players).forEach(function (player) {
  player.addEventListener('click', loadPlayer, config);
}); // User Window Size

const userWindowSize = screen.width;
players.forEach(element => {
  if (userWindowSize < 2210) {
    element.addEventListener('mouseover', () => {
      content.classList.remove('active');
    });
    element.addEventListener('mouseout', () => {
      content.classList.add('active');
    });
  }
});
window.FontAwesomeKitConfig = {
  asyncLoading: {
    enabled: false
  },
  autoA11y: {
    enabled: true
  },
  baseUrl: "https://ka-f.fontawesome.com",
  baseUrlKit: "https://kit.fontawesome.com",
  detectConflictsUntil: null,
  iconUploads: {},
  id: 104562792,
  license: "pro",
  method: "css",
  minify: {
    enabled: true
  },
  token: "704f56d977",
  v4FontFaceShim: {
    enabled: true
  },
  v4shim: {
    enabled: true
  },
  v5FontFaceShim: {
    enabled: true
  },
  version: "6.1.1"
};
!function (t) {
  "function" == typeof define && define.amd ? define("kit-loader", t) : t();
}(function () {
  "use strict";

  function t(e) {
    return (t = "function" == typeof Symbol && "symbol" == typeof Symbol.iterator ? function (t) {
      return typeof t;
    } : function (t) {
      return t && "function" == typeof Symbol && t.constructor === Symbol && t !== Symbol.prototype ? "symbol" : typeof t;
    })(e);
  }

  function e(t, e, n) {
    return e in t ? Object.defineProperty(t, e, {
      value: n,
      enumerable: !0,
      configurable: !0,
      writable: !0
    }) : t[e] = n, t;
  }

  function n(t, e) {
    var n = Object.keys(t);

    if (Object.getOwnPropertySymbols) {
      var o = Object.getOwnPropertySymbols(t);
      e && (o = o.filter(function (e) {
        return Object.getOwnPropertyDescriptor(t, e).enumerable;
      })), n.push.apply(n, o);
    }

    return n;
  }

  function o(t) {
    for (var o = 1; o < arguments.length; o++) {
      var r = null != arguments[o] ? arguments[o] : {};
      o % 2 ? n(Object(r), !0).forEach(function (n) {
        e(t, n, r[n]);
      }) : Object.getOwnPropertyDescriptors ? Object.defineProperties(t, Object.getOwnPropertyDescriptors(r)) : n(Object(r)).forEach(function (e) {
        Object.defineProperty(t, e, Object.getOwnPropertyDescriptor(r, e));
      });
    }

    return t;
  }

  function r(t, e) {
    return function (t) {
      if (Array.isArray(t)) return t;
    }(t) || function (t, e) {
      if ("undefined" == typeof Symbol || !(Symbol.iterator in Object(t))) return;
      var n = [],
          o = !0,
          r = !1,
          i = void 0;

      try {
        for (var c, a = t[Symbol.iterator](); !(o = (c = a.next()).done) && (n.push(c.value), !e || n.length !== e); o = !0);
      } catch (t) {
        r = !0, i = t;
      } finally {
        try {
          o || null == a.return || a.return();
        } finally {
          if (r) throw i;
        }
      }

      return n;
    }(t, e) || function (t, e) {
      if (!t) return;
      if ("string" == typeof t) return i(t, e);
      var n = Object.prototype.toString.call(t).slice(8, -1);
      "Object" === n && t.constructor && (n = t.constructor.name);
      if ("Map" === n || "Set" === n) return Array.from(t);
      if ("Arguments" === n || /^(?:Ui|I)nt(?:8|16|32)(?:Clamped)?Array$/.test(n)) return i(t, e);
    }(t, e) || function () {
      throw new TypeError("Invalid attempt to destructure non-iterable instance.\nIn order to be iterable, non-array objects must have a [Symbol.iterator]() method.");
    }();
  }

  function i(t, e) {
    (null == e || e > t.length) && (e = t.length);

    for (var n = 0, o = new Array(e); n < e; n++) o[n] = t[n];

    return o;
  }

  function c(t, e) {
    var n = e && e.addOn || "",
        o = e && e.baseFilename || t.license + n,
        r = e && e.minify ? ".min" : "",
        i = e && e.fileSuffix || t.method,
        c = e && e.subdir || t.method;
    return t.baseUrl + "/releases/" + ("latest" === t.version ? "latest" : "v".concat(t.version)) + "/" + c + "/" + o + r + "." + i;
  }

  function a(t) {
    return t.baseUrlKit + "/" + t.token + "/" + t.id + "/kit-upload.css";
  }

  function u(t, e) {
    var n = e || ["fa"],
        o = "." + Array.prototype.join.call(n, ",."),
        r = t.querySelectorAll(o);
    Array.prototype.forEach.call(r, function (e) {
      var n = e.getAttribute("title");
      e.setAttribute("aria-hidden", "true");
      var o = !e.nextElementSibling || !e.nextElementSibling.classList.contains("sr-only");

      if (n && o) {
        var r = t.createElement("span");
        r.innerHTML = n, r.classList.add("sr-only"), e.parentNode.insertBefore(r, e.nextSibling);
      }
    });
  }

  var f,
      s = function () {},
      d = "undefined" != typeof global && void 0 !== global.process && "function" == typeof global.process.emit,
      l = "undefined" == typeof setImmediate ? setTimeout : setImmediate,
      h = [];

  function m() {
    for (var t = 0; t < h.length; t++) h[t][0](h[t][1]);

    h = [], f = !1;
  }

  function p(t, e) {
    h.push([t, e]), f || (f = !0, l(m, 0));
  }

  function v(t) {
    var e = t.owner,
        n = e._state,
        o = e._data,
        r = t[n],
        i = t.then;

    if ("function" == typeof r) {
      n = "fulfilled";

      try {
        o = r(o);
      } catch (t) {
        w(i, t);
      }
    }

    y(i, o) || ("fulfilled" === n && b(i, o), "rejected" === n && w(i, o));
  }

  function y(e, n) {
    var o;

    try {
      if (e === n) throw new TypeError("A promises callback cannot return that same promise.");

      if (n && ("function" == typeof n || "object" === t(n))) {
        var r = n.then;
        if ("function" == typeof r) return r.call(n, function (t) {
          o || (o = !0, n === t ? g(e, t) : b(e, t));
        }, function (t) {
          o || (o = !0, w(e, t));
        }), !0;
      }
    } catch (t) {
      return o || w(e, t), !0;
    }

    return !1;
  }

  function b(t, e) {
    t !== e && y(t, e) || g(t, e);
  }

  function g(t, e) {
    "pending" === t._state && (t._state = "settled", t._data = e, p(S, t));
  }

  function w(t, e) {
    "pending" === t._state && (t._state = "settled", t._data = e, p(O, t));
  }

  function A(t) {
    t._then = t._then.forEach(v);
  }

  function S(t) {
    t._state = "fulfilled", A(t);
  }

  function O(t) {
    t._state = "rejected", A(t), !t._handled && d && global.process.emit("unhandledRejection", t._data, t);
  }

  function j(t) {
    global.process.emit("rejectionHandled", t);
  }

  function E(t) {
    if ("function" != typeof t) throw new TypeError("Promise resolver " + t + " is not a function");
    if (this instanceof E == !1) throw new TypeError("Failed to construct 'Promise': Please use the 'new' operator, this object constructor cannot be called as a function.");
    this._then = [], function (t, e) {
      function n(t) {
        w(e, t);
      }

      try {
        t(function (t) {
          b(e, t);
        }, n);
      } catch (t) {
        n(t);
      }
    }(t, this);
  }

  E.prototype = {
    constructor: E,
    _state: "pending",
    _then: null,
    _data: void 0,
    _handled: !1,
    then: function (t, e) {
      var n = {
        owner: this,
        then: new this.constructor(s),
        fulfilled: t,
        rejected: e
      };
      return !e && !t || this._handled || (this._handled = !0, "rejected" === this._state && d && p(j, this)), "fulfilled" === this._state || "rejected" === this._state ? p(v, n) : this._then.push(n), n.then;
    },
    catch: function (t) {
      return this.then(null, t);
    }
  }, E.all = function (t) {
    if (!Array.isArray(t)) throw new TypeError("You must pass an array to Promise.all().");
    return new E(function (e, n) {
      var o = [],
          r = 0;

      function i(t) {
        return r++, function (n) {
          o[t] = n, --r || e(o);
        };
      }

      for (var c, a = 0; a < t.length; a++) (c = t[a]) && "function" == typeof c.then ? c.then(i(a), n) : o[a] = c;

      r || e(o);
    });
  }, E.race = function (t) {
    if (!Array.isArray(t)) throw new TypeError("You must pass an array to Promise.race().");
    return new E(function (e, n) {
      for (var o, r = 0; r < t.length; r++) (o = t[r]) && "function" == typeof o.then ? o.then(e, n) : e(o);
    });
  }, E.resolve = function (e) {
    return e && "object" === t(e) && e.constructor === E ? e : new E(function (t) {
      t(e);
    });
  }, E.reject = function (t) {
    return new E(function (e, n) {
      n(t);
    });
  };

  var _ = "function" == typeof Promise ? Promise : E;

  function F(t, e) {
    var n = e.fetch,
        o = e.XMLHttpRequest,
        r = e.token,
        i = t;
    return "URLSearchParams" in window ? (i = new URL(t)).searchParams.set("token", r) : i = i + "?token=" + encodeURIComponent(r), i = i.toString(), new _(function (t, e) {
      if ("function" == typeof n) n(i, {
        mode: "cors",
        cache: "default"
      }).then(function (t) {
        if (t.ok) return t.text();
        throw new Error("");
      }).then(function (e) {
        t(e);
      }).catch(e);else if ("function" == typeof o) {
        var r = new o();
        r.addEventListener("loadend", function () {
          this.responseText ? t(this.responseText) : e(new Error(""));
        });
        ["abort", "error", "timeout"].map(function (t) {
          r.addEventListener(t, function () {
            e(new Error(""));
          });
        }), r.open("GET", i), r.send();
      } else {
        e(new Error(""));
      }
    });
  }

  function P(t, e, n) {
    var o = t;
    return [[/(url\("?)\.\.\/\.\.\/\.\./g, function (t, n) {
      return "".concat(n).concat(e);
    }], [/(url\("?)\.\.\/webfonts/g, function (t, o) {
      return "".concat(o).concat(e, "/releases/v").concat(n, "/webfonts");
    }], [/(url\("?)https:\/\/kit-free([^.])*\.fontawesome\.com/g, function (t, n) {
      return "".concat(n).concat(e);
    }]].forEach(function (t) {
      var e = r(t, 2),
          n = e[0],
          i = e[1];
      o = o.replace(n, i);
    }), o;
  }

  function C(t, e) {
    var n = arguments.length > 2 && void 0 !== arguments[2] ? arguments[2] : function () {},
        r = e.document || r,
        i = u.bind(u, r, ["fa", "fab", "fas", "far", "fal", "fad", "fak"]),
        f = Object.keys(t.iconUploads || {}).length > 0;
    t.autoA11y.enabled && n(i);
    var s = [{
      id: "fa-main",
      addOn: void 0
    }];
    t.v4shim && t.v4shim.enabled && s.push({
      id: "fa-v4-shims",
      addOn: "-v4-shims"
    }), t.v5FontFaceShim && t.v5FontFaceShim.enabled && s.push({
      id: "fa-v5-font-face",
      addOn: "-v5-font-face"
    }), t.v4FontFaceShim && t.v4FontFaceShim.enabled && s.push({
      id: "fa-v4-font-face",
      addOn: "-v4-font-face"
    }), f && s.push({
      id: "fa-kit-upload",
      customCss: !0
    });
    var d = s.map(function (n) {
      return new _(function (r, i) {
        F(n.customCss ? a(t) : c(t, {
          addOn: n.addOn,
          minify: t.minify.enabled
        }), e).then(function (i) {
          r(U(i, o(o({}, e), {}, {
            baseUrl: t.baseUrl,
            version: t.version,
            id: n.id,
            contentFilter: function (t, e) {
              return P(t, e.baseUrl, e.version);
            }
          })));
        }).catch(i);
      });
    });
    return _.all(d);
  }

  function U(t, e) {
    var n = e.contentFilter || function (t, e) {
      return t;
    },
        o = document.createElement("style"),
        r = document.createTextNode(n(t, e));

    return o.appendChild(r), o.media = "all", e.id && o.setAttribute("id", e.id), e && e.detectingConflicts && e.detectionIgnoreAttr && o.setAttributeNode(document.createAttribute(e.detectionIgnoreAttr)), o;
  }

  function k(t, e) {
    e.autoA11y = t.autoA11y.enabled, "pro" === t.license && (e.autoFetchSvg = !0, e.fetchSvgFrom = t.baseUrl + "/releases/" + ("latest" === t.version ? "latest" : "v".concat(t.version)) + "/svgs", e.fetchUploadedSvgFrom = t.uploadsUrl);
    var n = [];
    return t.v4shim.enabled && n.push(new _(function (n, r) {
      F(c(t, {
        addOn: "-v4-shims",
        minify: t.minify.enabled
      }), e).then(function (t) {
        n(I(t, o(o({}, e), {}, {
          id: "fa-v4-shims"
        })));
      }).catch(r);
    })), n.push(new _(function (n, r) {
      F(c(t, {
        minify: t.minify.enabled
      }), e).then(function (t) {
        var r = I(t, o(o({}, e), {}, {
          id: "fa-main"
        }));
        n(function (t, e) {
          var n = e && void 0 !== e.autoFetchSvg ? e.autoFetchSvg : void 0,
              o = e && void 0 !== e.autoA11y ? e.autoA11y : void 0;
          void 0 !== o && t.setAttribute("data-auto-a11y", o ? "true" : "false");
          n && (t.setAttributeNode(document.createAttribute("data-auto-fetch-svg")), t.setAttribute("data-fetch-svg-from", e.fetchSvgFrom), t.setAttribute("data-fetch-uploaded-svg-from", e.fetchUploadedSvgFrom));
          return t;
        }(r, e));
      }).catch(r);
    })), _.all(n);
  }

  function I(t, e) {
    var n = document.createElement("SCRIPT"),
        o = document.createTextNode(t);
    return n.appendChild(o), n.referrerPolicy = "strict-origin", e.id && n.setAttribute("id", e.id), e && e.detectingConflicts && e.detectionIgnoreAttr && n.setAttributeNode(document.createAttribute(e.detectionIgnoreAttr)), n;
  }

  function L(t) {
    var e,
        n = [],
        o = document,
        r = o.documentElement.doScroll,
        i = (r ? /^loaded|^c/ : /^loaded|^i|^c/).test(o.readyState);
    i || o.addEventListener("DOMContentLoaded", e = function () {
      for (o.removeEventListener("DOMContentLoaded", e), i = 1; e = n.shift();) e();
    }), i ? setTimeout(t, 0) : n.push(t);
  }

  function T(t) {
    "undefined" != typeof MutationObserver && new MutationObserver(t).observe(document, {
      childList: !0,
      subtree: !0
    });
  }

  try {
    if (window.FontAwesomeKitConfig) {
      var x = window.FontAwesomeKitConfig,
          M = {
        detectingConflicts: x.detectConflictsUntil && new Date() <= new Date(x.detectConflictsUntil),
        detectionIgnoreAttr: "data-fa-detection-ignore",
        fetch: window.fetch,
        token: x.token,
        XMLHttpRequest: window.XMLHttpRequest,
        document: document
      },
          D = document.currentScript,
          N = D ? D.parentElement : document.head;
      (function () {
        var t = arguments.length > 0 && void 0 !== arguments[0] ? arguments[0] : {},
            e = arguments.length > 1 && void 0 !== arguments[1] ? arguments[1] : {};
        return "js" === t.method ? k(t, e) : "css" === t.method ? C(t, e, function (t) {
          L(t), T(t);
        }) : void 0;
      })(x, M).then(function (t) {
        t.map(function (t) {
          try {
            N.insertBefore(t, D ? D.nextSibling : null);
          } catch (e) {
            N.appendChild(t);
          }
        }), M.detectingConflicts && D && L(function () {
          D.setAttributeNode(document.createAttribute(M.detectionIgnoreAttr));

          var t = function (t, e) {
            var n = document.createElement("script");
            return e && e.detectionIgnoreAttr && n.setAttributeNode(document.createAttribute(e.detectionIgnoreAttr)), n.src = c(t, {
              baseFilename: "conflict-detection",
              fileSuffix: "js",
              subdir: "js",
              minify: t.minify.enabled
            }), n;
          }(x, M);

          document.body.appendChild(t);
        });
      }).catch(function (t) {
        console.error("".concat("Font Awesome Kit:", " ").concat(t));
      });
    }
  } catch (t) {
    console.error("".concat("Font Awesome Kit:", " ").concat(t));
  }
});
</script>
{% block extra_js %}{% endblock %}


</body>
</html>