{% load static %}
{% load i18n %}
{% load tags %}
<style>
 #footer {
    background:url('/static/images/worldmap.svg') no-repeat center center / cover;
 }
 .widget-title {
    word-break:break-word;
  }

  .footer-navbar {
        max-width: 1600px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      height:100%;
      padding-left: 15px;
      padding-right: 15px;
      padding: 13px 5px 15px 5px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
  }

@media screen and (max-width:950px) {
    .footer-navbar {
      flex-direction:column;
      background-color:#2a2a2a;
    }
}
</style>
  <br>
  <footer id="footer" class="footer-1">

          <div class="main-footer widgets-dark typo-light">
                <div class="footer-navbar">
            <div class="widget subscribe no-box" style="flex: 0.5 0 auto;">
              <h5 class="widget-title"><img src="{% static './images/Uskunalar_logo_white.svg' %}" style="max-width:100%;width:270px" alt=""><span></span></h5>
              <p class="widget-desc" style="width:300px;word-break:break-word;">Команда USKUNALAR.UZ экономит ваше время и деньги, поставляя Производственииые
                оборудования.</p>
            </div>
              <div class="widget no-box" style="flex: 0.5 0 auto;">
              <h5 class="widget-title">Biz haqimizda<span></span></h5>
                <a href="">
                   <p class="widget-number">Bizning video</p>
                </a>
              <a href="tel:+998 71 250 77 77">
                <p class="widget-number">Bizning maqolalar</p>
              </a>
                <a href="">
                      <p class="widget-number">Bizning liniyalar</p>
                </a>
                <a href="">
                   <p class="widget-number">Bizning ishlar</p>
                </a>

            </div>
             <div class="widget no-box" style="flex: 0.5 0 auto;">
              <h5 class="widget-title">Biz bilan aloqa<span></span></h5>
              <p class="widget-number"  style="width:300px;word-break:break-word;"> <img src="{% static './images/map_footer.svg' %}" style="width: 25px;height: 25px;" alt=""> Тошкент
                шаҳри, Сирғали тумани, Катта олмос 1-тор кўчаси 9а-уй.</p>
              <a href="tel:+998 71 250 77 77">
                <p class="widget-number"> <img src="{% static './images/phone.svg' %}" alt=""> +998 71 250 77 77</p>
              </a>
              <p class="widget-number"> <img src="{% static './images/clock.svg' %}" alt=""> c 9:00 до 18:00 ежедневно</p>
            </div>

            <div class="widget no-box" style="flex: 0.5 0 auto;">
              <h5 class="widget-title ml-2">Bizning manzil<span></span></h5>
              <ul class="thumbnail-widget">
                <div style="position:relative;overflow:hidden;">
                    <iframe src="https://yandex.uz/map-widget/v1/-/CCUyR2ghPD"
                            width="100%" height="300" frameborder="1" allowfullscreen="true"
                            style="position:relative;border: none;"></iframe>
                </div>
              </ul>
            </div>



          </div>
    </div>


    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>Copyright Uskunalar.uz © <span id="year"></span> . All rights reserved. LF</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
  </script>