{% load static %}
{% load i18n %}
{% load tags %}
<style>


  @media (min-width:1200px) {
      .form-mobile-2 {
        display:none
      }
      .control {
        display:none
      }
      .icon-close {
        display:none
      }
  }





</style>
<!-- start navbar -->
<nav class="container navbar navbar-expand-lg navbar-light bg-white">
    <ul id="accordion4" class="accordion4">
        <li>
             {% get_current_language as lang %}
             {% get_available_languages as langs %}
            <div class="link"><a href="" style="color:#000">{{ lang|upper }}</a> <i class="fa fa-chevron-down"></i>
            </div>
            <ul class="submenu4">
                  {% for l in langs %}
                 {% if l.0 != lang %}
                <hr class="mb-0 mt-0">
                <li><a href="{% get_url_lang request l.0 %}">{{ l.0|upper }}</a></li>
                  {% endif %}
                {% endfor %}
            </ul>
        </li>
    </ul>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link-2" href="{% url 'products:product' %}">{% trans 'Продукты' %}</a>
            </li>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{% if request.path == '/lines/' %}-active{% endif %}">
                    <a class="nav-link" href="{% url 'line:lines' %}">{% trans 'Линии' %}</a>
                </li>
                <li class="nav-item{% if request.path == '/biznes/' %}-active{% endif %}">
                    <a class="nav-link" href="{% url 'biznes:biznes' %}">{% trans 'Готовый бизнес' %}</a>
                </li>
                <li class="nav-item{% if request.path == '/works/' %}-active{% endif %}">
                    <a class="nav-link" href="{% url 'work:works' %}">{% trans 'Наши работы' %}</a>
                </li>
                <li class="nav-item{% if request.path == '/blogs/' %}-active{% endif %}">
                    <a class="nav-link" href="{% url 'blog:blogs' %}">{% trans 'Статьи' %}</a>
                </li>
                <li class="nav-item{% if request.path == '/videos/' %}-active{% endif %}">
                    <a class="nav-link" href="{% url 'video:videos' %}">{% trans 'Наши видео' %}</a>
                </li>
                <li class="nav-item{% if request.path == '/about/' %}-active{% endif %}">
                    <a class="nav-link" href="{% url 'home:about' %}">{% trans 'О нас' %}</a>
                </li>
                <li class="nav-item{% if request.path == '/contacts/' %}-active{% endif %}">
                    <a class="nav-link" href="{% url 'home:contacts' %}">{% trans 'Контакты' %}</a>
                </li>
            </ul>
        </form>
    </div>
</nav>
<div class="container">
    <hr class="hr-top" style="margin-top: 0px;">
</div>
<!-- mobile menu -->
<nav class="container navbar navbar-expand-lg navbar-light bg-white" style="width: 100%;background-color: red;">
    <ul class="navbar-nav">
        <a href="{% url 'home:home' %}"><img src="{% static './images/logo.png' %}" class="logo_image" alt=""></a>
        <a href="{% url 'products:wishlist' %}">
            <img src="{% static './images/like.svg' %}" class="like-mobile" alt="">
            <span class="like_radius_mobile">
          <p class="like_count" id="like_count">{% get_wishlist_count request %}</p>
        </span>
        </a>
        <li class="form-mobile-2">
            <div class='control' tabindex='1'>
                <div class='btn' style="padding: 20px;"></div>
                <i class='icon-search ion-search'></i>
            </div>

            <i class='icon-close ion-ios-close-empty'></i>
            <form action="{% url 'products:product' %}" class='form' style="width: 96%;position: fixed;left: 1%;">
                <input class='input-search' name="q" value="{{ request.GET.q }}" placeholder='Start Typing' type='text'>
                <button class="btn" type="submit"
                        style="width: 16%;height: 62px;position: absolute;right: 10px;top: 10px;background:#FFE700"><i
                        class='icon-search ion-search' style="top:12px"></i></button>
            </form>
        </li>
        <div class="hamburger-wrapper">
            <div class="hamburger">
                <div class="my_menu">

                </div>
            </div>
            <div class="hamburger-menu">
                <ul class="main-links">
                    <img src="{% static './images/logo.png' %}" class="logo_image2" alt="">
                    <li class="delay02"><a href="{% url 'home:catalog' %}">{% trans 'Каталог' %}</a></li>
                     <li class="delay08"><a href="{% url 'products:product' %}">{% trans 'Продукты' %}</a></li>
                     <li class="delay08"><a href="{% url 'line:lines' %}">{% trans 'Линии' %}</a></li>
                    <li class="delay03"><a href="{% url 'work:works' %}">{% trans 'Наши работы' %}</a></li>
                    <li class="delay04"><a href="{% url 'video:videos' %}">{% trans 'Наши видео' %}</a></li>
                    <li class="delay05"><a href="{% url 'blog:blogs' %}">{% trans 'Наши статьи' %}</a></li>
                    <li class="delay06"><a href="{% url 'home:about' %}">{% trans 'О нас' %}</a></li>
                    <li class="delay07"><a href="{% url 'home:contacts' %}">{% trans 'Контакты' %}</a></li>
                    <li class="delay09"><a href="tel:+998 71 250 77 77">
                        <p style="color: #000;font-weight: bold;">+998 71 250 77 77</p>
                    </a></li>
                    <li class="delay08" style="margin-top: -7%"><a href="tel:+998 71 250 77 77">
                        <p style="color: #FF0007;">{% trans 'звонить сейчас' %}</p>
                    </a></li>
                </ul>
            </div>
        </div>

        <div class="btn1 nav-drop-menu" style="box-shadow: none;padding: 10px;text-align: center;padding-top: -9%;">
            <div class="elemet-menu">
          <span class="fas fa-th-large1" style="width:146px;height: 53px;background-color: #FFE700;line-height: 39px;">
            <img src="{% static './images/squares_2.svg' %}" alt=""> <b
                  style="color: #132E6B;padding: 0px;font-size: 18px;font-weight: 500;font-style: normal;font-family: 'TT Norms';text-align: center;margin-left:3%;">{% trans 'Каталог' %}</b>
          </span>
            </div>
        </div>
        <nav class="sidebar">
            <div class="text">
                {% trans 'Категории' %}
            </div>
            <!-- menu in categories -->
            <div class="minimalist-tab-menu2">
                <ul class="list-group2">
                    {% for home in categories %}
                    <li class="menu-item2 has-child3">
                        <img src="{{ home.image.url }}" style="margin-top: 0%;" alt=""><span
                            style="margin-top: 0%;position: absolute;font-size: 13px;font-weight: normal;font-style: normal;">{{ home.category }}</span>
                    </li>
                    {% endfor %}
                    <li class="menu-item2 has-child2">
                        <img src="{% static './images/squares_2.svg' %}" style="margin-top: 5%;" alt=""><span
                            style="margin-top: 0%;position: absolute;font-size: 13px;margin-left:-2.9%;font-weight: normal;font-style: normal;">{% trans 'Все категории' %}</span>
                    </li>
                </ul>

            </div>
            <!-- end menu in categories -->
        </nav>
    </ul>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <form action="{% url 'products:product' %}">
                <input class="form-control" name="q" value="{{ request.GET.q }}" placeholder="Поиск"
                       style="width: 516px;height: 53px;margin-top: 3px;" type="name">
                <a href="" type="sumbit">
                    <img src="{% static './images/search.svg' %}" class="search_icon" alt="">
                </a>
            </form>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item-like">
                    <a href="{% url 'products:wishlist' %}">
                        <img src="{% static './images/like.svg' %}" class="like_icon" alt="">
                    </a>
                    <a href="{% url 'products:wishlist' %}">
                <span class="like_radius">
                  <p class="like_count" id="like_count">{% get_wishlist_count request %}</p>
                </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="tel:+99871 250 77 77" style="color: #000;padding: 0px;margin: 0px;"><span
                            class="phone_link">+998 71 250 77 77</span></a>
                    <br>
                    <span class="call"><a href="tel:+998 71 250 77 77" style="color:red">{% trans 'звонить сейчас' %}</a></span>
                </li>
            </ul>
        </form>
    </div>
    <!-- end navbar -->
</nav>
<!-- end mobile menu -->
<!-- start carousel -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <nav class="minimalist-vertical-menu2">
                <div class="minimalist-tab-menu2">

                </div>

                <div class="minimalist-tab2">
                    {% for category in categories %}
                    <div class="minimalist-tab-content2">
                        <div class="container" style="background-color: #fff;">
                            <div class="row">

                                {% for subcategory in category.subcategories.all %}
                                <div class="col-md-3">
                                     <a href="{% url 'products:product' %}?subcategory={{ subcategory.pk }}">
                                    <div class="box" style="width: 160px;height: 160px;">
                                        <img src="{{ subcategory.image.url }}"
                                             style="margin: auto;display: table;margin-top: -10px;width: 160px;height: 130px;" alt="">

                                        <p style="text-align: center;position:relative;color:#011F27;font-family: sans-serif;font-weight: normal;margin-top: 3px;font-size:16px">{{ subcategory }}</p>


                                    </div>
                                </a>
                                </div>
                                {% endfor %}

                            </div>
                        </div>


                    </div>
                    {% endfor %}
                </div>

            </nav>
        </div>
    </div>
</div>


