{% load static %}
{% load i18n %}
{% load tags %}
<style>
    @media (max-width:900px) {
    }

  @media (min-width:1200px) {
      .form-mobile-2 {
        display:none
      }
      .control {
        display:none
      }
      .icon-close {
        display:none
      }
  }

    @media (min-width: 1000px) {
        .nav-desk-1 {
            overflow: hidden;
            background-color: #fff;
            position: fixed;
            top: 0;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 9999;
            margin: 0 auto;
            box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
        }
    }

 .site-navbar .site-navigation .site-menu .has-children {
      position: relative; }
      .site-navbar .site-navigation .site-menu .has-children > a {
        position: relative;
        padding-right: 20px; }
        .site-navbar .site-navigation .site-menu .has-children > a:before {
          position: absolute;
          content: "\e313";
          font-size: 16px;
          top: 50%;
          right: 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: 'icomoon'; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        position: absolute;
        text-align: left;
        -webkit-box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 0px 0;
        margin-top: 20px;
        margin-left: 0px;
        background: #fff;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s;
        border-radius: 4px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
          position: absolute; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            bottom: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #fff;
            border-width: 10px;
            margin-left: -10px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown a {
          font-size: 14px;
          text-transform: none;
          letter-spacing: normal;
          -webkit-transition: 0s all;
          -o-transition: 0s all;
          transition: 0s all;
          color: #343a40; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
            color: #007bff; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
          color: #fff !important; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 200px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li:first-child > a {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li:last-child > a {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
            padding: 9px 20px;
            display: block; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
              background: #ebeef0;
              color: #212529; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
            content: "\e315";
            right: 20px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
            left: 100%;
            top: 0; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
            background: #ebeef0;
            color: #212529; }
      .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
        color: #fff; }
      .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }


</style>
<div class="nav-desk-1">
<!-- start navbar -->
<nav class="navbar navbar-expand-lg lg-1" style="background-color:#32414a;color:#fff">
    <div class="container">
            <ul id="accordion4" class="accordion4">
        <li>
             {% get_current_language as lang %}
             {% get_available_languages as langs %}
            <div class="link"><a href="" style="color:#fff">{{ lang|upper }}</a> <i class="fa fa-chevron-down"></i>
            </div>
            <ul class="submenu4">
                  {% for l in langs %}
                 {% if l.0 != lang %}
                <hr class="mb-0 mt-0">
                <li><a href="{% get_url_lang request l.0 %}">{{ l.0|upper }}</a></li>
                  {% endif %}
                {% endfor %}
            </ul>
        </li>
    </ul>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link-2" style="color:#fff" href="{% url 'products:product' %}">{% trans 'Продукты' %}</a>
            </li>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{% if request.path == '/lines/' %}-active{% endif %}">
                    <a class="nav-link" href="{% url 'line:lines' %}">{% trans 'Линии' %}</a>
                </li>
                <li class="nav-item{% if request.path == '/biznes/' %}-active{% endif %}">
                    <a class="nav-link" href="{% url 'biznes:biznes' %}">{% trans 'Готовый бизнес' %}</a>
                </li>
                <li class="nav-item{% if request.path == '/works/' %}-active{% endif %}">
                    <a class="nav-link" href="{% url 'work:works' %}">{% trans 'Наши работы' %}</a>
                </li>
                <li class="nav-item{% if request.path == '/blogs/' %}-active{% endif %}">
                    <a class="nav-link" href="{% url 'blog:blogs' %}">{% trans 'Статьи' %}</a>
                </li>
                <li class="nav-item{% if request.path == '/videos/' %}-active{% endif %}">
                    <a class="nav-link" href="{% url 'video:videos' %}">{% trans 'Наши видео' %}</a>
                </li>
                <li class="nav-item{% if request.path == '/about/' %}-active{% endif %}">
                    <a class="nav-link" href="{% url 'home:about' %}">{% trans 'О нас' %}</a>
                </li>
                <li class="nav-item{% if request.path == '/contacts/' %}-active{% endif %}">
                    <a class="nav-link" href="{% url 'home:contacts' %}">{% trans 'Контакты' %}</a>
                </li>
            </ul>
        </form>
    </div>
    </div>

</nav>
<div class="container">
    <hr class="hr-top" style="margin-top: 0px;">
</div>


<!-- mobile menu -->
<nav class="container navbar navbar-expand-lg"  style="width: 100%;background-color: #FFF;">
    <ul class="navbar-nav">
        <a href="{% url 'home:home' %}"><img src="{% static './images/Uskunalar_logo.svg' %}" class="logo_image" alt=""></a>
        <a href="{% url 'products:wishlist' %}">
            <img src="{% static './images/like.svg' %}" class="like-mobile" alt="">
            <span class="like_radius_mobile">
          <p class="like_count" id="like_count">{% get_wishlist_count request %}</p>
        </span>
        </a>
        <li class="form-mobile-2">
            <div class='control' tabindex='1'>
                <div class='btn' style="padding: 20px;"></div>
                <i class='icon-search ion-search'></i>
            </div>

            <i class='icon-close ion-ios-close-empty'></i>
            <form action="{% url 'products:product' %}" class='form' style="width: 96%;position: fixed;left: 1%;z-index:3;">
                <input class='input-search' name="q" value="{{ request.GET.q }}" placeholder='Start Typing' type='text'>
                <button class="btn" type="submit"
                        style="width: 16%;height: 62px;position: absolute;right: 10px;top: 10px;background:#FFE700"><i
                        class='icon-search ion-search' style="top:12px"></i></button>
            </form>
        </li>
        <div class="hamburger-wrapper">
            <div class="hamburger">
                <div class="my_menu">

                </div>
            </div>
            <div class="hamburger-menu">
                <ul class="main-links">
                    <img src="{% static './images/logo.png' %}" class="logo_image2" alt="">
                    <li class="delay02"><a href="{% url 'home:catalog' %}">{% trans 'Каталог' %}</a></li>
                     <li class="delay08" style="color:#fff"><a href="{% url 'products:product' %}">{% trans 'Продукты' %}</a></li>
                     <li class="delay08"><a href="{% url 'line:lines' %}">{% trans 'Линии' %}</a></li>
                    <li class="delay03"><a href="{% url 'work:works' %}">{% trans 'Наши работы' %}</a></li>
                    <li class="delay04"><a href="{% url 'video:videos' %}">{% trans 'Наши видео' %}</a></li>
                    <li class="delay05"><a href="{% url 'blog:blogs' %}">{% trans 'Наши статьи' %}</a></li>
                    <li class="delay06"><a href="{% url 'home:about' %}">{% trans 'О нас' %}</a></li>
                    <li class="delay07"><a href="{% url 'home:contacts' %}">{% trans 'Контакты' %}</a></li>
                    <li class="delay09"><a href="tel:+998 71 250 77 77">
                        <p style="color: #000;font-weight: bold;">+998 71 250 77 77</p>
                    </a></li>
                    <li class="delay08" style="margin-top: -7%"><a href="tel:+998 71 250 77 77">
                        <p style="color: #FF0007;font-weight:500">{% trans 'звонить сейчас' %}</p>
                    </a></li>
                </ul>
            </div>
        </div>

       <ul class="site-menu main-menu js-clone-nav d-none d-lg-block" style="background: #FFE700;
    width: 146px;
    height: 53px;
    border-radius: 6px;
    margin: 13px;">
                    <li class="has-children">
                        <a href=""><p class="nav-link" style="margin: 10px auto; display: table;color:#000"><img src="{% static './images/squares_2.svg' %}" alt=""> Каталог</p></a>

                      <ul class="dropdown arrow-top" style="background: #32414a;">
                           {% for category in categories %}
                            <li class="has-children">
                                    <a href="{% url 'products:product' %}?category={{ category.pk }}">{{ category.category }}</a>
                                <hr style="border-bottom: 1px solid #b5bdcc;margin-top:0px;margin-bottom:0px">
                              <ul class="dropdown" style="background:#d6effb">
                                  {% for subcategory in category.subcategories.all %}
                                      <li><a href="{% url 'products:product' %}?subcategory={{ subcategory.pk }}" style="text-decoration: none;color:#000;border-bottom: 1px solid #b5bdcc;">{{ subcategory }}</a></li>
                                  {% endfor %}
                              </ul>
                            </li>
                           {% endfor %}
                      </ul>
                    </li>
                  </ul>
        <nav class="sidebar" style="background-color:#32414a">
            <div class="text">
                {% trans 'Категории' %}
            </div>
            <!-- menu in categories -->
            <div class="minimalist-tab-menu2">
                <ul class="list-group2">
                    {% for home in categories %}
                    <li class="menu-item2 has-child3">
                        <img src="{{ home.image.url }}" style="margin-top: 0%;" alt=""><span
                            style="margin-top: 0%;position: absolute;font-size: 18px;font-weight: normal;font-style: normal;color:#fff">{{ home.category }}</span>
                    </li>
                    {% endfor %}
                    <li class="menu-item2 has-child2">
                        <img src="{% static './images/squares_2.svg' %}" style="margin-top: 5%;" alt=""><span
                            style="margin-top: 0%;position: absolute;font-size: 18px;margin-left:-2.9%;font-weight: normal;font-style: normal;color:#fff">{% trans 'Все категории' %}</span>
                    </li>
                </ul>

            </div>
            <!-- end menu in categories -->
        </nav>
    </ul>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <form action="{% url 'products:product' %}">
                <input class="form-control" name="q" value="{{ request.GET.q }}"  placeholder="Поиск"
                       style="width: 516px;height: 53px;margin-top: 3px;border: 2px solid #FFE700;border-radius: 11px;" type="name">
                <a href="" type="sumbit">
                    <img src="{% static './images/search.svg' %}" class="search_icon" alt="">
                </a>
            </form>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item-like">
                    <a href="{% url 'products:wishlist' %}">
                        <img src="{% static './images/like.svg' %}" class="like_icon" alt="">
                    </a>
                    <a href="{% url 'products:wishlist' %}">
                <span class="like_radius">
                  <p class="like_count" id="like_count">{% get_wishlist_count request %}</p>
                </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="tel:+99871 250 77 77" style="color: #000;padding: 0px;margin: 0px;"><span
                            class="phone_link">+998 71 250 77 77</span></a>
                    <br>
                    <span class="call"><a href="tel:+998 71 250 77 77" style="color:red;font-weight:500">{% trans 'звонить сейчас' %}</a></span>
                </li>
            </ul>
        </form>
    </div>
    <!-- end navbar -->
</nav>
<!-- end mobile menu -->
    </div>
<!-- start carousel -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <nav class="minimalist-vertical-menu2">
                <div class="minimalist-tab-menu2">

                </div>

                <div class="minimalist-tab2">
                    {% for category in categories %}
                    <div class="minimalist-tab-content2">
                        <div class="container" style="background-color: #fff;">
                            <div class="row">

                                {% for subcategory in category.subcategories.all %}
                                <div class="col-md-3">
                                     <a href="{% url 'products:product' %}?subcategory={{ subcategory.pk }}">
                                    <div class="box" style="width: 160px;height: 160px;">
                                        <img src="{{ subcategory.image.url }}"
                                             style="margin: auto;display: table;margin-top: -10px;width: 160px;height: 130px;" alt="">

                                        <p style="text-align: center;position:relative;color:#011F27;font-family: sans-serif;font-weight: normal;margin-top: 3px;font-size:16px">{{ subcategory }}</p>


                                    </div>
                                </a>
                                </div>
                                {% endfor %}

                            </div>
                        </div>


                    </div>
                    {% endfor %}
                </div>

            </nav>
        </div>
    </div>
</div>
