{% load static %}
{% load i18n %}
{% load tags %}
<style>

.us-search-category-select {
    background-color: #ffe600;
    border: none;
    cursor: pointer;
    padding: 9px 15px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

}

.us-search-category-select p {
    margin-bottom: 0px !important;
    max-width: 160px;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Here */
.us-category-seach {
    width: 100%;
    /* background-color: red; */
    position: fixed;
    visibility: hidden;
    /*margin-top: 157px;*/
    margin-top: var(--searchMenuTop);
    transition: .5s ease;
    top: 0px;
    z-index: 99;
}

.us-category-seach.active {
    visibility: visible;
}

.us-category-seach-itemsBlock {
    max-width: 100%;
    width: 700px;
    margin: auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: rgb(0 0 0 / 8%) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
    transform: translateY(-10%);
    opacity: 0;
    transition: all .4s ease;
}

.us-category-seach.active .us-category-seach-itemsBlock {
    transform: translateY(0);
    opacity: 1;
}

.us-category-seach-itemsBlock-lists {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 250px;
    overflow: hidden;
    overflow-y: scroll;
}

.us-category-seach-itemsBlock-lists::-webkit-scrollbar {
    width: 8px;
}

.us-category-seach-itemsBlock-lists::-webkit-scrollbar-track {
    background: transparent;
}
.us-category-seach-itemsBlock-lists::-webkit-scrollbar-thumb {
    background: #5f5f5f;
    border-radius: 10px;
}

.us-category-seach-itemsBlock-list {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
    width: 100%;
    transition: .3s ease-in-out;
}

.us-category-seach-itemsBlock-list:hover {
    background-color: #ffe6006e !important;
}

.us-category-seach-itemsBlock-list {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
}

.us-category-seach-itemsBlock-list img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.us-category-seach-itemsBlock-title {
    font-size: 18px;
}
</style>
    <!-- Header Main Menu -->
    <div class="header-navbarMenu">
        <div class="header-navbar_container">
            <!-- Navbar -->
            <div class="header-navbar">
                <!-- Logo -->
                <a href="{% url 'home:home' %}" class="header_logo-link"><img src="/static/images/uslogo_1.png" class="header-logo"
                        alt="uskunalaruz-logo" /></a>
                <div class="header-icons_container-mobile">
                    <ul class="header-icons">
                        <li class="header_icon-block">
                            <a href="{% url 'products:wishlist' %}"><i class="fa-regular fa-heart header-icon like-icon"></i></a>
                            <span class="header-like_counter" id="like_count_2">{% get_wishlist_count request %}</span>
                        </li>
                        <li class="header_icon-block header-hidden-mobile_ion">
                            <a href="tel:+998712507777"><i class="fa-regular fa-phone header-icon header-call_icon header-icon"></i></a>
                        </li>
                        <li class="header_nav-call header_icon-block header-hide_icon">
                            <i class="fa-regular fa-phone header-call_icon header-icon"></i>
                            <div class="call_numbers">
                                <a href="tel:+998712507777">+998 (71) 250-77-77</a>
                                <a href="tel:+998972117777">+998 (97) 211-77-77</a>
                            </div>
                        </li>
                        <li class="header_icon-block header-hide_icon">
                            <a href="https://t.me/uskunalaruz"><i class="fa-brands fa-telegram header-icon telegram-icon"></i></a>
                        </li>
                        <li class="header_icon-block header-hide_icon">
                            <a href="https://instagram.com/uskunalaruz?utm_medium=copy_link"><i class="fa-brands fa-instagram header-icon instagram-icon"></i></a>
                        </li>
                        <li class="header_icon-block header-hide_icon">
                            <a href="https://www.facebook.com/uskunalaruz"><i class="fa-brands fa-facebook header-icon facebook-icon"></i></a>
                        </li>
                        <li class="header_icon-block header-hide_icon">
                            <a href="https://www.youtube.com/c/uskunalaruz"><i class="fa-brands fa-youtube header-icon youtube-icon"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- Header Nav Menu -->
                <ul class="header-menu_list">
                    <li class="header-menu_item">
                        <a href="{% url 'home:home' %}" class="header_small-logo"><img src="/static/images/uslogo_1.png" class="header-logo"
                                alt="uskunalaruz-logo" /></a>
                    </li>
                    <li class="header-menu_item">
                        <a class="header-menu_link" href="{% url 'products:product' %}">{% trans 'Mahsulotlar' %} </a>
                    </li>
                    <li class="header-menu_item">
                        <a class="header-menu_link" href="{% url 'line:lines' %}">{% trans 'Liniyalar' %}</a>
                    </li>
                    <li class="header-menu_item">
                        <a class="header-menu_link" href="{% url 'biznes:biznes' %}">{% trans 'Tayyor Biznes' %}</a>
                    </li>
                    <li class="header-menu_item">
                        <a class="header-menu_link" href="{% url 'galleries:gallery' %}">{% trans 'Biz Haqimizda' %}</a>
                        <ul class="header-menu_linkItem">
                            <li><a href="{% url 'home:about' %}">{% trans 'Kompaniya faoliyati' %} </a></li>
                            <li><a href="{% url 'video:videos' %}">{% trans 'Bizning video' %} </a></li>
                            <li><a href="{% url 'work:works' %}">{% trans 'Bizning ishlar' %} </a></li>
                            <li><a href="{% url 'blog:blogs' %}">{% trans 'Bizning maqolalar' %}</a></li>
                        </ul>
                    </li>
                    <li class="header-menu_item">
                        <a class="header-menu_link" href="{% url 'home:contacts' %}"> {% trans 'Kontaktlar' %}</a>
                    </li>
                    <li class="header-menu_item">
                               <ul id="accordion4" class="accordion4">
                       <li>
                             {% get_current_language as lang %}
                             {% get_available_languages as langs %}
                            <div class="link"><a href="" style="color:#000"><img src="/static/images/{{ lang }}.png" style="width:30px;margin:5px" alt="">{{ lang|upper }}</a> <i class="fa fa-chevron-down" style="color:#000;top:24px"></i>
                            </div>
                            <ul class="submenu4" style="margin-top:10px">
                                  {% for l in langs %}
                                 {% if l.0 != lang %}
                                <hr class="mb-0 mt-0">
                                <li><a href="{%  get_url_lang request l.0   %}"><img src="/static/images/{{ l.0 }}.png" style="width:25px;margin:5px;color:#000" alt="">{{ l.0|upper }}</a></li>
                                  {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                    </li>
                </ul>
            </div>

            <!-- Search & Likes -->
            <div class="header-second_menu">
                <button class="header-catalog_button"><span class="header-catalog_icon"></span>{% trans 'Katalog' %}</button>
                <div class="mobile_container">
                    <button class="header-burgerMenu"><i id="burgerMenu"
                            class="fa-solid fa-bars header-burgerMenu_btn"></i></button>
                </div>
            {% with categories2 as all_categories %}
                <div class="header-search_container">
                    <div class="search_input-block">
                         <button class="us-search-category-select">{% trans 'Kategoriya' %}</button>
                        <form action="{% url 'products:product' %}" class="navbar-form navbar-left lnt-search-form" role="search">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control lnt-search-input header-input"
                                        aria-label="Search" name="q" value="{{ request.GET.q }}" style="border-radius: 0px;padding: 20px" placeholder="{% trans 'Uskunalar qidirish' %}...">
                                </div><!-- /input-group -->
                            </div>
                            <button type="submit" class="btn btn-search header-search_btn"><span
                                    class="fa fa-search"></span></button>
                        </form> <!-- /.lnt-search-form -->
                    </div>
                </div>
                <div class="header-icons_container">
                    <ul class="header-icons">
                        <li class="header_icon-block">
                            <a href="{% url 'products:wishlist' %}"><i class="fa-regular fa-heart header-icon like-icon"></i></a>
                            <span class="header-like_counter" id="like_count">{% get_wishlist_count request %}</span>
                        </li>
                        <li class="header_nav-call header_icon-block">
                            <i class="fa-regular fa-phone header-call_icon header-icon"></i>
                            <div class="call_numbers">
                                <a href="tel:+998712507777">+998 (71) 250-77-77</a>
                                <a href="tel:+998972117777">+998 (97) 211-77-77</a>
                            </div>
                        </li>
                        <li class="header_icon-block">
                            <a href="https://t.me/uskunalaruz"><i class="fa-brands fa-telegram header-icon telegram-icon"></i></a>
                        </li>
                        <li class="header_icon-block">
                            <a href="https://instagram.com/uskunalaruz?utm_medium=copy_link"><i class="fa-brands fa-instagram header-icon instagram-icon"></i></a>
                        </li>
                        <li class="header_icon-block">
                            <a href="https://www.facebook.com/uskunalaruz"><i class="fa-brands fa-facebook header-icon facebook-icon"></i></a>
                        </li>
                        <li class="header_icon-block">
                            <a href="https://www.youtube.com/c/uskunalaruz"><i class="fa-brands fa-youtube header-icon youtube-icon"></i></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="header-catalog_block">
            <div class="catalog-container">
                <!-- Catalog Menu -->
                <div class="catalog-menu-container">
                    <!-- Catalog Title -->
                    <!-- <div class="catalog-menu-title_block">
                    <h2 class="catalog-menu_title bottom_line">Catalog</h2>
                </div> -->
                    <!-- Catalog List -->
                    <ul class="catalog-menu_list">
                        {% for category in all_categories %}
                            <li id="us-{{ category.pk }}" class="catalog-menu_list-item">
                                <a href="/products/?category={{ category.pk }}" class="catalog-menu_list-item-content">
                                    <img class="catalog-menu_list-item-content-icon" src="{{ category.image.url }}" style="width:20px" alt="">
                                    <span class="catalog-menu_list-item-content_title">{{ category.category|safe}}</span>
                                </a>
                                <i class="catalog-menu_list-rightIcon fa-solid fa-chevron-right"></i>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- Catalog Sub Menu -->
                <div class="catalog-submenu-container">
                    {% for category in all_categories %}
                            <div id="us-{{ category.pk }}" class="catalog-submenu-backend active">
                                <ul class="catalog-submenu-subcategories_list">
                                  {% if category.subcategories %}
                                    {% for subcategory in category.subcategories.all %}
                                    <li class="catalog-submenu-subcategories_list-item">
                                        <a href="/products/?subcategory={{ subcategory.pk }}">
                                            {% if subcategory.image %}
                                                <img src="/static/images/main_icon.svg" alt="" class="subcategory-img">
                                            {% endif %}
                                            <span class="subcategroy-title">{{ subcategory|safe }}</span>
                                        </a>
                                    </li>
                                 {% endfor %}
                                {% else %}
                                    <h3>Подкатегории не существует!</h3>
                            {% endif %}
                                </ul>
                            </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

    <div class="us-category-seach">
        <div class="us-category-seach-itemsBlock">
            <ul class="us-category-seach-itemsBlock-lists">
                 {% for category in all_categories %}
                    <li class="us-category-seach-itemsBlock-list">
                            <img src="{{ category.image.url }}" alt="">
                            <span class="us-category-seach-itemsBlock-title">{{ category.category|safe }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endwith %}
<!--end -->

<!--mobile-->
<div class="mobile">
    <div class="mobile-logo_container">
        <a href="{% url 'home:home' %}" class="mobile_small-logo"><img src="/static/images/logo_white2.png" class="mobile-logo"
                alt="uskunalaruz-logo" /></a>
    </div>
    <ul class="mobile-menu_list">
        <li class="mobile-menu_item">
            <i class="fa-regular fa-shop mobile-menu_icon"></i>
            <a class="mobile-menu_link" href="{% url 'products:product' %}"></i> {% trans 'Mahsulotlar' %} </a>
        </li>
        <li class="mobile-menu_item">
            <i class="fa-regular fa-farm mobile-menu_icon"></i>
            <a class="mobile-menu_link" href="{% url 'line:lines' %}">{% trans 'Liniyalar' %} </a>
        </li>
        <li class="mobile-menu_item">
            <i class="fa-regular fa-briefcase-blank mobile-menu_icon"></i>
            <a class="mobile-menu_link" href="{% url 'biznes:biznes' %}"> {% trans 'Tayyor Biznes' %} </a>
        </li>
        <li class="mobile-menu_item">
           <i class="fa-regular fa-building"></i>
            <a class="mobile-menu_link" href="{% url 'galleries:gallery' %}"> {% trans 'Biz Haqimizda' %} </a>
        </li>
        <li class="mobile-menu_item">
            <i class="fa-regular fa-user mobile-menu_icon"></i>
            <a class="mobile-menu_link" href="{% url 'home:about' %}"> {% trans 'Kompaniya faoliyati' %} </a>
        </li>
        <li class="mobile-menu_item">
            <i class="fa-regular fa-tv-retro mobile-menu_icon"></i>
            <a class="mobile-menu_link" href="{% url 'video:videos' %}"> {% trans 'Bizning Videolar' %} </a>
        </li>
        <li class="mobile-menu_item">
            <i class="fa-regular fa-newspaper mobile-menu_icon"></i>
            <a class="mobile-menu_link" href="{% url 'blog:blogs' %}"> {% trans 'Bizning Maqolalar' %} </a>
        </li>
        <li class="mobile-menu_item">
            <i class="fa-regular fa-folder-user mobile-menu_icon"></i>
            <a class="mobile-menu_link" href="{% url 'home:contacts' %}">{% trans 'Kontaktlar' %}</a>
        </li>
        <li class="mobile-menu_item lang-block">
            <div class="mobile-menu-lang-first">
         {% get_current_language as lang %}
            {% get_available_languages as langs %}
                <i class="fa-regular fa-earth-asia mobile-menu_icon"></i>
                <span class="mobile-menu-lang_currentlang">{{ lang|upper }}</span>
            </div>
            <div class="mobile-menu-lang-second">
                <ul class="mobile-menu-lang_list">
                    <li class="mobile-menu-lang_list-item">
                        <a href="" class="mobile-menu-lang_list-item_link active">{{ lang|upper }}</a>
                    </li>
                       {% for l in langs %}
                                 {% if l.0 != lang %}
                                <li class="mobile-menu-lang_list-item">
                                    <a href="{% get_url_lang request l.0 %}" class="mobile-menu-lang_list-item_link">{{ l.0|upper }}</a>
                                </li>
                                {% endif %}
                         {% endfor %}
                </ul>
            </div>
        </li>
        <li class="mobile-menu_item">
            <i class="fa-regular fa-phone mobile-menu_icon"></i>
            <a class="mobile-menu_link" href="tel:+998(71)2507777">+998 (71) 250-77-77</a>
        </li>
    </ul>

</div>


<div class="mobile-black_screen"></div>
<!--end-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script>
    $(function () {
        var Accordion = function (el, multiple) {
            this.el = el || {};
            this.multiple = multiple || false;

            // Variables privadas
            var links = this.el.find('.link');
            // Evento
            links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
        }

        Accordion.prototype.dropdown = function (e) {
            var $el = e.data.el;
            $this = $(this),
                $next = $this.next();

            $next.slideToggle();
            $this.parent().toggleClass('open');

            if (!e.data.multiple) {
                $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
            }
            ;
        }

        var accordion = new Accordion($('#accordion4'), false);
    });
</script>
<script>
//= include ../../../node_modules/jquery/dist/jquery.min.js

let lastScroll = window.scrollY || document.documentElement.scrollTop;
let mainMenuHeight;
window.addEventListener("scroll", ()=> {
    if (lastScroll < window.scrollY) {
        console.log('we are going down')
        // header Navbar
    // header_logo.src = "./images/us-logo.png";
      console.log('down')
    navbar_menu.classList.add("menu_active");
    header_burgerBtn.classList.add('active_btn'); // Header Change On Mobile
    first_navbar_menu.classList.add('showOrhide');
    const userScreenSize = window.innerWidth;
    mainMenuHeight = document.querySelector('.header-navbar_container').clientHeight

    if (userScreenSize < 1300) {
      first_navbar_menu.classList.add('showOrhide');
    } else {

    } // Search


    search_root.style.setProperty("--searchinput-backgorund", "#FFE700");
    search_root.style.setProperty("--searchinput-border", "black");
    search_root.style.setProperty("--searchinput-color", "black");
    search_root.style.setProperty("--searchMenuTop", mainMenuHeight + 'px');
    navbar_list.forEach(element => {
      element.classList.add('active_link');
    });
    }
    else {
        console.log('we are going up')
        // header_logo.src = "./images/logo2.png";
    navbar_menu.classList.remove("menu_active");
    header_burgerBtn.classList.remove('active_btn');
    navbar_list.forEach(element => {
      element.classList.remove('active_link');
    });

    if (first_navbar_menu.classList.contains('showOrhide')) {
      first_navbar_menu.classList.remove('showOrhide');
    } else {
      second_navbar_menu.classList.remove('showOrhide');
    }

    mainMenuHeight = 170;

    search_root.style.setProperty("--searchinput-backgorund", "white");
    search_root.style.setProperty("--searchinput-border", "white");
    search_root.style.setProperty("--searchinput-color", "white");
    search_root.style.setProperty("--searchMenuTop", mainMenuHeight + 'px');
    }

    lastScroll = window.scrollY
})
const navbar_menu = document.querySelector(".header-navbar_container");
const first_navbar_menu = document.querySelector(".header-navbar");
const second_navbar_menu = document.querySelector(".header-second_menu");
const navbar_list = document.querySelectorAll(".header-menu_link");
const header_logo = document.querySelector(".header-logo");
const search_root = document.querySelector(":root");
const header_searchInput = document.querySelector(".search input");
const header_burgerBtn = document.querySelector(".header-burgerMenu_btn"); // const main_menu = document.querySelector('.header-main_menu');

const menu_item = document.querySelectorAll(".header-menu_item"); // Show menu while hover

menu_item.forEach(element => {
  const small_menu = document.querySelector(".header-menu_linkItem");

  if (element.querySelector(".header-menu_linkItem") !== null) {
    element.addEventListener("mouseover", () => {
      small_menu.classList.add("menu_linkItem_active");
    });
    element.addEventListener("mouseout", () => {
      small_menu.classList.remove("menu_linkItem_active");
    });
  }
}); // Search Input Animation

const body = document.querySelector('body');
const mobileMenu = document.querySelector('.mobile');
const show_menu_btn = document.querySelector('.header-burgerMenu');
const black_screen = document.querySelector('.mobile-black_screen');
show_menu_btn.addEventListener('click', () => {
  mobileMenu.classList.add('active');
  body.classList.add('deactive');
  black_screen.classList.add('active');
});
black_screen.addEventListener('click', () => {
  mobileMenu.classList.remove('active');
  body.classList.remove('deactive');
  black_screen.classList.remove('active');
});
const header_cycling_catalog = Array.from(document.querySelectorAll(".catalog-submenu-backend"));
const catalog_button = document.querySelector(".header-catalog_button");
const catalog_icon = document.querySelector(".header-catalog_icon");
const catalog_container = document.querySelector(".header-catalog_block");
const catalogMenu_container = document.querySelector(".catalog-menu-container");
const menu_item_2 = document.querySelectorAll(".catalog-menu_list-item");
const catalog_submenu_block = document.querySelector(".catalog-submenu-container");
const menu_title_2 = document.querySelectorAll(".catalog-menu_list-item-content_title"); //   Catalog Button Mouseover || Hover

catalog_button.addEventListener("click", () => {
  catalog_container.classList.toggle("active");
  catalogMenu_container.classList.toggle("active");
  catalog_icon.classList.toggle("active");

  if (catalog_submenu_block.classList.contains("active")) {
    catalog_submenu_block.classList.remove("active");
  }
}); //   Catalog Container Mouse Leave

catalog_container.addEventListener("mouseover", () => {
  catalog_container.classList.add("active");
  catalogMenu_container.classList.add("active");
  catalog_icon.classList.add("active");
});
catalog_container.addEventListener("mouseout", () => {
  catalog_container.classList.remove("active");
  catalogMenu_container.classList.remove("active");
  catalog_icon.classList.remove("active");
});
menu_item_2.forEach(item => {
  item.addEventListener("mouseover", () => {
    let theID = item.id;
    catalog_submenu_block.classList.add("active");
    header_cycling_catalog.map(item => {
      if (item.id === theID) {
        item.classList.add("active");
        item.addEventListener("mouseover", () => {
          item.classList.add("active");
        });
      } else {
        item.classList.remove("active");
      }
    });
  }); // item.addEventListener("mouseout", () => {
  //   let theID = item.id;
  //   header_cycling_catalog.map((item) => {
  //     if (item.id === theID) {
  //       item.classList.add("active");
  //     }
  //     else {
  //       item.classList.remove("active");
  //     }
  //   });
  //   catalog_submenu_block.classList.remove('active')
  // });
}); //   catalog_submenu_block.addEventListener('mouseover', () => {
//     catalog_submenu_block.classList.add("active");
//   })
//   catalog_submenu_block.addEventListener('mouseout', () => {
//     catalog_submenu_block.classList.remove("active");
//   })
// Title replace with ...

const headerSearchInput = document.querySelector(".header-input");
const headerSearchInputSize = window.innerWidth / 2;

switch (true) {
    case window.innerWidth > 3700:
    search_root.style.setProperty("--inputSize", headerSearchInputSize - 1500 + "px");
    break;

    case window.innerWidth > 3000:
    search_root.style.setProperty("--inputSize", headerSearchInputSize - 1000 + "px");
    break;

  case window.innerWidth > 2000:
    search_root.style.setProperty("--inputSize", headerSearchInputSize - 500 + "px");
    break;

  case window.innerWidth > 1300:
    search_root.style.setProperty("--inputSize", headerSearchInputSize - 210 + "px");
    break;

  case window.innerWidth < 500:
    search_root.style.setProperty("--inputSize", headerSearchInputSize + 80 + "px");
    break;

  case window.innerWidth <= 576:
    search_root.style.setProperty("--inputSize", headerSearchInputSize + 150 + "px");
    break;

  default:
    search_root.style.setProperty("--inputSize", headerSearchInputSize + "px");
    break;
} // window.addEventListener('resize', () => {
//   search_root.style.setProperty("--inputSize", headerSearchInputSize + 'px')
// }, true);

// nav bottom
const top_navbarMenu = document.querySelector(".header-navbarMenu")
const top_catalog_block = document.querySelector(".header-catalog_block")
const top_navbarMenu_height = top_navbarMenu.offsetHeight
search_root.style.setProperty("--menuTop", top_navbarMenu_height + "px");
</script>

<script>
const showSearchCategoriesButton = document.querySelector('.us-search-category-select');
const SearchCategoriesList = document.querySelector('.us-category-seach');
const SearchCategoriesListItem = document.querySelectorAll('.us-category-seach-itemsBlock-list')
let SearchButtonActive = false;


showSearchCategoriesButton.addEventListener('click', () => {

    SearchButtonActive = !SearchButtonActive;

    if (SearchButtonActive) {
        SearchCategoriesList.classList.add('active');
    }
    else {
        SearchCategoriesList.classList.remove('active')
    }

})

SearchCategoriesListItem.forEach(element => {
    element.addEventListener('click', () => {
        showSearchCategoriesButton.innerHTML = element.lastElementChild.innerHTML;
        SearchCategoriesList.classList.remove('active');
        SearchButtonActive = false;
    })
})


</script>
<script>
$(document).mouseup(function(e)
{
    var container = $(".us-category-seach-itemsBlock");

    // if the target of the click isn't the container nor a descendant of the container
    if (!container.is(e.target) && container.has(e.target).length === 0)
    {
        $(".us-category-seach").removeClass('active');
    }

});
</script>