{% load tags %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load static watermark %}
{% block content %}
{% block extra-css %}
<style>
.us-products {
    max-width: 1370px;
    width: 100%;
    margin: auto;
    /* background: chartreuse; */
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 10px;
}

.us-products-card {
    user-select: none;
    margin: auto;
    background: #fff;
    border: 1px solid #4e4e4e44;
    max-width: 100%;
    width: 330px;
    height:100%;
    padding: 10px 20px;
    border-radius: 15px;
    transition: box-shadow .3s ease-in-out;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
}

.us-products-card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.us-products-card_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Buttons */

.us-products-card_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:10;
}

.us-products-card_ibutton {
    background: transparent;
    border: none;
    font-size: 26px;
    text-decoration: none;
}

.product-telegram {
    color: #0088cc;
    transition: all .4s ease-out;
}

.product-telegram:hover {
    transform: translateY(-10%);
}

.product-heart {
    transition: all .4s ease-out;
}
.product-heart.active {
    color: #ff0000;
}

.product-heart:hover {
    color: red;
    transform: translateY(-10%);
}

/* Img */

.us-products-card_img-holder {
    width: 100%;
    height: 100%;
}

.us-products-card_img_back {
    max-width: 300px;
    width: 100%;
    text-align: center;
}
.us-products-card_img_back.blue {
    background: url('/static/images/product card-blue.png') no-repeat center center / contain;
}
.us-products-card_img_back.orange {
    background: url('/static/images/product card-orange.png') no-repeat center center / contain;
}
.us-products-card_img_back.yellow {
    background: url('/static/images/product card.png') no-repeat center center / contain;
}
.us-products-card_img_back.my_product_red {
    background: url('/static/images/product card-red.png') no-repeat center center / contain;
}

.us-products-card_img {
    transform: translateY(-15%);
    max-width: 100%;
    width: 100%;
    object-fit:contain;
    height:200px;
    vertical-align: middle;
}

/* .us-products-card-details {

} */

.us-products-card-title {
    text-transform: initial;
    font-size: 24px;
    font-weight: 500;
    color: #132E6B;
    line-height: 100%;
    word-break: break-word;
}

.us-products-card-details_list {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 95%;
}

.us-products-card-details_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.us-products-card-detailname {
    font-size: 18px;
    color: #666666;
    font-weight: 500;
}

.us-products-card-detail {
    text-align: end;
    color: #000;
    font-size: 18px;
    word-break: break-all;
    font-weight: 500;
}


/* Country Flag */
.us-products-card-country_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.us-products-card-countryName {
    font-size: 18px;
    font-weight: 500;
}

.us-products-car-countryImg {
    max-width: 100%;
    width: 45px;
}

/* Product Status */
.us-products-card-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 150%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.us-products-card-productPrice_dollar {
    font-size: 26px;
    color: #FF0000;
    font-weight: 600;
}

.us-products-card-productPrice_som {
    font-size: 17px;
    color: #000;
    font-weight: normal;
}

.us-products-card-product_id {
    font-size: 25px;
    text-align: end;
    color: #132E6B;
    font-weight: 500;
}

.us-products-card-product_status {
    margin-top: 10px;
    font-size: 14px;
    color: #1fb141;
    text-align: start;
}

.us-products-card-product_status.not-exists {
    color: #FF0000;
}

.us_products_button_div {
    padding: 8px 5px;
    max-width: 180px;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    background: rgb(255, 230, 0);
    background: linear-gradient(90deg, rgba(255, 230, 0, 1) 0%, rgba(255, 174, 0, 1) 100%);
    border: none;
    font-size: 18px;
    color: #132E6B;
    text-align: center;
    cursor: pointer;
    transition: hover .5s ease-in-out;
}

.us_products_button_div:hover {
    background: linear-gradient(270deg, #ff0000, #ffae00, #ffe600);
    background-size: 600% 600%;
    color: white;

    -webkit-animation: us-button 11s ease infinite;
    -moz-animation: us-button 11s ease infinite;
    -o-animation: us-button 11s ease infinite;
    animation: us-button 5s ease infinite;
}

.us-products-card_buttonMore {
    border: none;
    font-size: 18px;
    color: #132E6B;
    text-align: center;
    cursor: pointer;
    transition: hover .5s ease-in-out;
}


.us_products_button_div:hover a {
    color: white;
}

/* Media */
@media (max-width:1020px) {
    .us-products-card {
        width: 320px;
    }
    .us-products-card-country_container {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .us-products-card-country_container {
        margin-bottom: 0;
    }
    .us-products-card-product_status {
        margin-top: 8px;
    }
}

@media (max-width:800px) {
    .us-products {
        grid-gap:0px;
    }

    .splide__slide {
        flex-shrink:inherit;
    }

    .products-none {
        display:none
    }
}

/* Animation */

@-webkit-keyframes us-button {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes us-button {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes us-button {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes us-button {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.red-heart {
    color:red;
}
</style>
{% endblock %}

        <!-- Product Card -->
        <div class="us-products-card">
            <div class="us-products-card_container">
                <!-- Buttons -->
                <div class="us-products-card_buttons" >
                    <a onclick="add_to_wishlist(this, {{ product.pk }})">
                         {% if product|in_wishlist:request %}
                                <button class="us-products-card_ibutton product-heart" type="submit"><i class="fa-solid fa-heart red-heart"></i></button>
                          {% else %}
                                <button class="us-products-card_ibutton" type="submit"><i class="fa-light fa-heart"></i></button>
                          {% endif %}
                    </a>
                </div>

                <!-- Img -->

                          <div class="us-products-card_img-holder">
                            <div class="us-products-card_img_back" style="background: url('{{ product.background.image.url }}') no-repeat center center / contain;">
                                <a href="{% url 'products:single' pk=product.pk %}">
                                     <img src="{{ product.image.url }}" alt="" class="us-products-card_img">
                                </a>
                            </div>
                        </div>


                <!-- Details Section -->
                <div class="us-products-card-details">
                     <a href="{% url 'products:single' pk=product.pk %}">
                        <h2 class="us-products-card-title">{{ product.title }}</h2>
                     </a>
                    <!-- omborda mavjud -->
                    <!-- <p class="us-products-card-product_status"><i class="fa-solid fa-circle"></i> omborda mavjud</p> -->
                    <!-- buyurtmaga -->
                   {% if product.delivery %}
                    <p class="us-products-card-product_status not-exists"><i class="fa-solid fa-circle" style="padding: 3px"></i>{{ product.delivery}}</p>
                   {% endif %}
                   {% if product.inbox %}
                       <p class="us-products-card-product_status"><i class="fa-solid fa-circle" style="padding: 3px"></i>{{ product.inbox}}</p>
                   {% endif %}

                    <ul class="us-products-card-details_list">
                     {% for j in product.specifications.all|slice:':4' %}
                        <li class="us-products-card-details_item">
                            <h4 class="us-products-card-detailname">{{ j.product_customer|safe }}:</h4>
                            <p class="us-products-card-detail">{{ j.product_number|safe }}</p>
                        </li>
                     {% endfor %}
                    </ul>
                </div>

                <!-- Country -->
                <div class="us-products-card-country_container">
                    <p class="us-products-card-countryName">Mamlakat:</p>
                    <img src="{{ product.country.image.url }}" alt="" class="us-products-car-countryImg">
                </div>

                <!-- Price & Inventory Info -->
                <div class="us-products-card-status">
                    <div class="us-products-card-priceInfo">
                        <h3 class="us-products-card-productPrice_dollar">${{ product.get_price_dollar }}</h3>
                        <p class="us-products-card-productPrice_som"> <span> </span> so'm</p>
                    </div>
                    <div class="us-products-card-statusinfo">
                        <h3 class="us-products-card-product_id">ID:{{ product.sku }}</h3>
                    </div>
                </div>

                <!-- More Details Button -->

            </div>
            <div class="us_products_button_div">
                <a href="{% url 'products:single' pk=product.pk %}" class="us-products-card_buttonMore">{% trans 'More Details' %}</a>
            </div>

        </div>
        <!-- end product card -->


{% block extra_js %}
<script>
  function addUrlParameter(name, value) {
      let searchParams = new URLSearchParams(window.location.search)
      if (['category'].includes(name)) {
          searchParams.delete('?');
      }
      if (searchParams.has(name) && searchParams.get(name) === value) {
          searchParams.delete(name);
      } else {
          searchParams.set(name, value)
      }
      window.location.search = searchParams.toString()
  }
</script>

<script>
    function add_to_wishlist(element, pk) {
        $.getJSON('/products/' + "wishlist/" + pk, function (data) {
            if (!data.status) {
               $('#message').append(`<div style="padding:5px">
                        <div id="inner-message" class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            Error
                        </div>
                    </div>`);
            } else {
                if (data.added) {
                    element.innerHTML = '<button class="us-products-card_ibutton product-heart" type="submit"><i class="fa-solid fa-heart red-heart"></i></button>'
                } else {
                    element.innerHTML = '<button class="us-products-card_ibutton" type="submit"><i class="fa-light fa-heart"></i></button>'
                }
                  $('#like_count').html(data.wishlist_len);
            }
        });
    }
</script>

{% endblock %}
{% endblock %}