{% load tags %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load static watermark %}
{% block content %}
{% block extra-css %}
<style>
    .btn-like2 {
        position: absolute;
        bottom: 9.8%;
        right: 13%;
        width: 48px;
        height: 48px;
        background-color: #FFF5F5;
        border: none;
        border-radius: 4px;
    }
</style>
{% endblock %}

<div class="produdcs-section">
    <div class="flex-item">
        <div class="flex-item-inner">
            <!-- card -->
            <a href="{% url 'products:single' pk=product.pk %}">
                <div class="card-front bg-vioet">
                    <a onclick="add_to_wishlist(this, {{ product.pk }})" class="card-link">

                        <button class="btn"
                                style="width: 48px;height: 48px;background-color: #FFF5F5;position: absolute;right: 10px;">
                            <img src="{% static './images/like.svg' %}" style="margin-top: 7px;" alt="">
                        </button>

                    </a>
                    {% if product.is_discount %}
                    <a href="#" class="card-link1">
                        <button class="btn"
                                style="width: 48px;height: 48px;background-color: #E97171;position: absolute;right: 70px;border-radius: 50px;">
                            <p style="margin-left:-20%;color: #fff;font-weight: normal;">{{ product.discount }}%</p>
                        </button>
                    </a>
                    {% elif product.is_new %}
                    <a href="#" class="card-link1">
                        <button class="btn new-mobile-1">
                            <p class="new-mobile-text {% if product.is_discount %}mt-5{% endif %}">New!</p>
                        </button>
                    </a>
                    {% endif %}
                    {% with product.image.url as url_path %}
                        <img src="{{ product.image.url|watermark:"uskunalar,scale=R35%,position=br,opacity=100" }}" class="product-image-url" alt="">
                    {% endwith %}
                    <div class="card-text">
                        <h4 class="front-title">{{ product.title }}</h4>
                        <p class="detail" style="margin-top:2px">
                            {% trans 'Город' %}: {{ product.city }}</p>
                        <p class="detail" style="margin-top:2px;font-family: RobotoCondensed,Arial,sans-serif">
                            <img src="{% static './images/radius.svg' %}"  alt="">
                            {{ product.inbox }}
                            {{ product.delivery }}</p>
                        <p class="desc-price">{{ product.get_price_dollar }} $ - {{ product.get_price|intcomma }} сум</p>
                        <p class="mob-price">{{ product.get_price_dollar }} $</p>
                        <p class="mob-price">{{ product.get_price|intcomma }} сум</p>
                    </div>
                    <ul>
                        <li>
                            <a href="{% url 'products:single' pk=product.pk %}">
                                <button class="button-left button-bottom-left ds-none"
                                        type="button"
                                        style="width: 127px;height: 52px;">
                                    <p class="carousel-button-text"
                                       style="font-size: 16px;">{% trans 'Заказать' %}</p>
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-back bg-violet">
                    <p class="back-title">{{ product.title }}</p>
                    <p class="desc">{{ product.get_price_dollar }} $ - {{ product.dollar_exchanges|intcomma }} сум</p>
                    <div class="container">
                        <div class="spetifications"
                             style="margin-top: 15%;padding: 1px;">

                            <div class="row">

                                {% for j in product.specifications.all|slice:':4' %}
                                <div class="col-md-6">

                                    <p style="font-size: 14px;margin-bottom: 8px;font-family: RobotoCondensed,Arial,sans-serif">
                                        {{ j.product_customer|safe }}:</p>
                                </div>
                                <br>
                                <div class="col-md-6">
                                    <p style="font-size: 14px;margin-bottom: 8px;font-family: RobotoCondensed,Arial,sans-serif">
                                        {{ j.product_number|safe }}</p>
                                </div>
                                <br>
                                <br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="buttons"
                         style="text-align: center;padding: 10px;">

                        <ul>

                            <li><a href="{% url 'products:single' pk=product.pk %}">
                                <button class="button-product button-bottom-product">
                                    <p style="font-size: 16px;">{% trans 'Заказать' %}</p>
                                </button>
                            </a></li>
                        </ul>
                        <a onclick="add_to_wishlist(this, {{ product.pk }})" class="card-link">
                            {% if product|in_wishlist:request %}
                            <button class="btn-like2" type="submit"><img src="{% static './images/red_active.svg' %}"
                                                                         alt=""></button>
                            {% else %}
                            <button class="btn-like2" type="submit"><img src="{% static './images/like.svg' %}" alt="">
                            </button>
                            {% endif %}
                        </a>
                    </div>
                </div>
            </a>
            <!-- /card -->
        </div>
    </div>
</div>
{% block extra_js %}
<script>
    function add_to_wishlist(element, pk) {
        $.getJSON('/products/' + "wishlist/" + pk, function (data) {
            if (!data.status) {
               $('#message').append(`<div style="padding:5px">
                        <div id="inner-message" class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            Error
                        </div>
                    </div>`);
            } else {
                if (data.added) {
                    $('#message');
                    element.innerHTML = '<button class="btn-like2" type="submit"><img src="{% static './images/red_active.svg' %}"alt=""></button>'
                } else {
                    $('#message');
                     element.innerHTML = '<button class="btn-like2" type="submit"><img src="{% static './images/like.svg' %}"alt=""></button>'
                }
                  $('.like_count').html(data.wishlist_len);
            }
        });
    }

</script>
<script>
  function addUrlParameter(name, value) {
      let searchParams = new URLSearchParams(window.location.search)
      if (['category'].includes(name)) {
          searchParams.delete('?');
      }
      if (searchParams.has(name) && searchParams.get(name) === value) {
          searchParams.delete(name);
      } else {
          searchParams.set(name, value)
      }
      window.location.search = searchParams.toString()
  }
</script>
{% endblock %}
{% endblock %}