{% load static %}
{% load i18n %}
{% load tags %}
<style>

:root {
    --translate-main-slider: 0;
}

body {
    position: relative;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

@media (min-width: 1200px) {
    .menu_bar {
        display: none;
    }
}


.menu-bar-holder {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 9999;
}

.menu_bar {
    width: 100%;
    background-color: #fff;
    z-index: 99997;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.mobile-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom:0px;
}

.filters-container {
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    max-height: 0;
    opacity: 0;
}
.filters-container.active {
    max-height: 100%;
    opacity: 1;
}

.filters-wrapper {
    position: relative;
    padding: 10px 10px 0 10px;
    transition: opacity 0.2s ease-in-out;
}

.filter-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 0.3rem;
    overflow-x: scroll;
    background-color: #ffe600;
}


.filter-tabs-listItem {
    min-width: 220px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    z-index: 1;
    padding: 8px;
    justify-content: center;
    border-radius: 1rem;
    text-align: center;
}

.filter-button {
    max-width: 100%;
    width: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 1;
    height: 3rem;
    text-align:start;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    transition: all 1s ease;
}

.filter-tabs-listItem.filter-active {
    transition: color 0.7s ease-in-out;
    /* color: var(--grey-900); */
    color: #000;
    background-color: white;
}


.round-button {
    height: 4.6rem;
    width: 4.4rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--grey-900);
    transition: color 0.2s ease-in-out;
}

.round-button:hover,
.round-button.active {
    color: inherit;
}
.round-button.active {
    background-color: #ffe600;
    border-radius: 10px;
}

.round-button svg {
    pointer-events: none;
    height: 35px;
    width: 35px;
    transform: translate(0, 0);
}

.button-title {
    font-size: 13px;
    margin-top: 3px;
}

.menu-bar-holder {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 9999;
}

.menu_bar {
    width: 100%;
    background: #fff;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.mobile-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.filters-container {
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    max-height: 0;
    opacity: 0;
}

.filters-container.active {
    max-height: 100%;
    opacity: 1;
}

.filters-wrapper {
    position: relative;
    padding: 10px 10px 0 10px;
    transition: opacity 0.2s ease-in-out;
}

.filter-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 0.3rem;
    overflow-x: scroll;
    background-color: #ffe600;
}


.filter-tabs-listItem {
    min-width: 220px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    z-index: 1;
    padding: 8px;
    justify-content: center;
    border-radius: 1rem;
    text-align: center;
}

.filter-button {
    max-width: 100%;
    width: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 1;
    height: 3rem;
    padding: 0 1.5rem;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    transition: all 1s ease;
}

.filter-tabs-listItem.filter-active {
    transition: color 0.7s ease-in-out;
    /* color: var(--grey-900); */
    color: #000;
    background-color: white;
}


.round-button {
    height: 4.6rem;
    width: 4.4rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--grey-900);
    transition: color 0.2s ease-in-out;
}

.round-button:hover,
.round-button.active {
    color: inherit;
}

.round-button.active {
    background-color: #ffe600;
    border-radius: 10px;
}

.round-button svg {
    pointer-events: none;
    height: 35px;
    width: 35px;
    transform: translate(0, 0);
}

.button-title {
    font-size: 11px;
    margin-top: 3px;
}

.menu_bar_circle-container {
    pointer-events: none;
    position: absolute;
    top: -5%;
    left: -1%;
    padding: 11px;
    z-index: 0;
    transition: transform 0.4s ease-in-out;
    transform: translateX(var(--translate-main-slider));
}

.menu_bar_cicle {
    height: 62.8px;
    width: 62.8px;
    border-radius: 10px;
    transition: background-color 0.4s ease-in-out;
    background-color: #ffe600;
}


/* Bo'limlar */
.menu-categories-section {
    width: 100%;
    height: 95vh;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #ffe600;
    z-index: 9999;
    top: 0;
    position: fixed;
    transform: translateY(150%);
    transition: .5s ease-in;
}

.menu-categories-section_container {
    padding: 10px;
}

.menu-categories-section-title {
    text-align: center;
    color: #333;
    margin-bottom: 6%;
    display: flex;
    flex-direction: column;
}
.menu-categories-section-title::after {
    content: '';
    display: block;
    height: 1px;
    width: 50px;
    text-align: center;
    background-color: #333;
    align-self: center;
    margin-top: 5px;
}

.menu-categories-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.menu-categories-button {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
    opacity: 0;
    visibility: hidden;
}

.menu-categories-button.active {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: .5s;
    opacity: 1;
    visibility: visible;
}

.menu-categories-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-categories-button img {
    max-width: 100%;
    width: 40px;
    margin-right: 15px;
}

.menu-categories-button-title {
    color: #333;
    line-height: 130%;
    word-break: break-word;
}

.menu_bar-categories-button {
    max-width: 100px;
    width: 100%;
    align-self: center;
    background: #ffe600;
    border: none;
    padding: 5px 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99999;
    position: relative;
    transition: .3s linear;
}

.menu_bar-categories-button.active {
    background-color: #fff;
}

.menu_bar-categories-button i {
    transition: .3s linear;
}

.menu_bar-categories-button.active i {
    transform: rotate(180deg);
}


.menu-categories-section.wakeUp {
    transform: translateY(0);
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.menu-categories-section.sleep {
    -webkit-animation-name: slideOutDown;
    animation-name: slideOutDown;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


/* SubMenu */
.submenu-categories-section {
    width: 100%;
    height: 95vh;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #ffe600;
    z-index: 9999;
    top: 0;
    position: fixed;
    transform: translateY(150%);
    transition: .5s ease-in;
}

.submenu-categories-section_container {
    padding: 10px;
    position: relative;
}

.submenu-categories-section-title {
    text-align: center;
    color: #333;
    margin-bottom: 6%;
    display: flex;
    flex-direction: column;
}
.submenu-categories-section-title::after {
    content: '';
    display: block;
    height: 1px;
    width: 50px;
    text-align: center;
    background-color: #333;
    align-self: center;
    margin-top: 5px;
}

.submenu-categories-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.submenu-categories-button {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
    opacity: 0;
    visibility: hidden;
}

.submenu-categories-button.active {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
    visibility: visible;
}

.submenu-categories-button a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.submenu-categories-button a img {
    max-width: 100%;
    width: 40px;
    margin-right: 15px;
}

.submenu-categories-button-title {
    color: #333;
    line-height: 130%;
    word-break: break-word;
}

.submenu-categories-section.wakeUp {
    transform: translateY(0);
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.submenu-categories-section.sleep {
    -webkit-animation-name: slideOutDown;
    animation-name: slideOutDown;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.us-submenu-close {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 13px;
    border-radius: 50%;
    border: none;
    margin: 10px;
}


@-webkit-keyframes slideOutDown {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        visibility: hidden;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@keyframes slideOutDown {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        visibility: hidden;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}


@-webkit-keyframes slideInUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@media (min-width: 1200px) {
    .menu-categories-section {
        display: none;
    }
    .menu_bar-categories-button {
        display: none;
    }
}
</style>
<!--    sub and cat-->
  <div class="menu-categories-section">
        <div class="menu-categories-section_container">
            <h3 class="menu-categories-section-title">Kategoriyalar</h3>
            <ul class="menu-categories-list">
                {% for category in categories %}
                <li id="us-submenu-{{ category.pk }}" class="menu-categories-button">
                    {% if category.image %}
                        <img src="{{ category.image.url }}" alt="">
                    {% endif %}
                        <span class="menu-categories-button-title">{{ category.category|safe }}</span>
                </li>
               {% endfor %}
            </ul>
        </div>
    </div>


  {% for category in categories %}
        <div id="us-submenu-{{ category.pk }}" class="submenu-categories-section">
            <div class="submenu-categories-section_container">
                <h3 class="submenu-categories-section-title">Quyi Kategoriyalar</h3>
                   <button class="us-submenu-close"><i class="fa-solid fa-arrow-left"></i></button>
                <ul class="submenu-categories-list">
                       {% for subcategory in category.subcategories.all %}
                        <li class="submenu-categories-button">
                            <a href="?subcategory={{ subcategory.pk }}">
                                <span class="submenu-categories-button-title">{{ subcategory|safe }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
<!--end-->

    <div class="menu-bar-holder">
        <button class="menu_bar-categories-button">Bo'limlar<i class="fa-solid fa-angle-up"></i></button>
    <div class="menu_bar">
        <div class="menu_bar-tabs">
            <ul class="mobile-tabs">
         {% with url_name=request.resolver_match.url_name %}
                <li class="mobile-tab">
                    <a href="{% url 'home:home' %}" class="round-button {% if url_name == 'home' %}active{% endif %}" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
                            <path d="M20 7.093v-5.093h-3v2.093l3 3zm4 5.907l-12-12-12 12h3v10h7v-5h4v5h7v-10h3zm-5 8h-3v-5h-8v5h-3v-10.26l7-6.912 7 6.99v10.182z" />
                        </svg>
                        <span class="button-title">Asosiy</span>
                    </a>
                </li>
                <li class="mobile-tab">
                    <a href="{% url 'products:product' %}" id="menuCatalog"  class="round-button {%  if url_name == 'product' %}active{% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="4.8rem" height="4.8rem" viewBox="0 0 25 25">
                            <path
                                d="M25 3l-.743 2h-1.929l-3.474 12h-13.239l-4.615-11h16.812l-.564 2h-13.25l2.937 7h10.428l3.432-12h4.195zm-15.5 15c-.828 0-1.5.672-1.5 1.5 0 .829.672 1.5 1.5 1.5s1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm6.9-7-1.9 7c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5z" />
                        </svg>
                        <span class="button-title">Bo'limlar</span>
                    </a>
                </li>
                <li class="mobile-tab">
                    <a href="{% url 'products:wishlist' %}" id="none" class="round-button {%  if url_name == 'wishlist' %}active{% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
                            <path
                                d="M6.28 3c3.236.001 4.973 3.491 5.72 5.031.75-1.547 2.469-5.021 5.726-5.021 2.058 0 4.274 1.309 4.274 4.182 0 3.442-4.744 7.851-10 13-5.258-5.151-10-9.559-10-13 0-2.676 1.965-4.193 4.28-4.192zm.001-2c-3.183 0-6.281 2.187-6.281 6.192 0 4.661 5.57 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-4.011-3.097-6.182-6.274-6.182-2.204 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.258-5.719-3.258z" />
                        </svg>
                        <span class="button-title">Sevimlilar</span>
                    </a>
                </li>
                <li class="mobile-tab">
                    <a href="{% url 'blog:blogs' %}" class="round-button {%  if url_name == 'blogs' %}active{% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
                            <path
                                d="M7 16h13v1h-13v-1zm13-3h-13v1h13v-1zm0-6h-5v1h5v-1zm0 3h-5v1h5v-1zm-17-8v17.199c0 .771-1 .771-1 0v-15.199h-2v15.98c0 1.115.905 2.02 2.02 2.02h19.958c1.117 0 2.022-.904 2.022-2.02v-17.98h-21zm19 17h-17v-15h17v15zm-9-12h-6v4h6v-4z" />
                        </svg>
                        <span class="button-title">Maqolalar</span>
                    </a>
                </li>
                <li class="mobile-tab">
                    <a href="{% url 'home:contacts' %}" class="round-button {%  if url_name == 'contacts' %}active{% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
                            <path
                                d="M6.176 1.322l2.844-1.322 4.041 7.89-2.725 1.341c-.538 1.259 2.159 6.289 3.297 6.372.09-.058 2.671-1.328 2.671-1.328l4.11 7.932s-2.764 1.354-2.854 1.396c-7.862 3.591-19.103-18.258-11.385-22.281zm1.929 1.274l-1.023.504c-5.294 2.762 4.177 21.185 9.648 18.686l.971-.474-2.271-4.383-1.026.5c-3.163 1.547-8.262-8.219-5.055-9.938l1.007-.497-2.251-4.398z" />
                        </svg>
                        <span class="button-title">Aloqa</span>
                    </a>
                </li>
        {% endwith %}
            </ul>
        </div>
    </div>
    </div>
<script>
// resources in description
const menuBarCategories = document.querySelector('.menu-categories-section');
const wakeUpButton = document.querySelector('.menu_bar-categories-button');
const menuBarCategoriesItems = document.querySelectorAll('.menu-categories-button')
const submenuCategories = document.querySelectorAll('.submenu-categories-section')
const submenuCategoriesItems = document.querySelectorAll('.submenu-categories-button')
const submenuCloseButtons = document.querySelectorAll('.us-submenu-close')
let menuBarCategoriesIsAwake = false;

wakeUpButton.addEventListener('click', () => {

    menuBarCategoriesIsAwake = !menuBarCategoriesIsAwake;

    if (menuBarCategoriesIsAwake) {
        menuBarCategories.classList.remove('sleep')
        menuBarCategories.classList.add('wakeUp')
        wakeUpButton.classList.add('active');

        menuBarCategoriesItems.forEach(element => {
            if (element.classList.contains('active')) {
                element.classList.remove('active')
            }
        });

        showCategories(menuBarCategoriesItems, 0);

    }
    else {
        menuBarCategories.classList.remove('wakeUp');
        menuBarCategories.classList.add('sleep');
        submenuCategories.forEach(element => {
            if (element.classList.contains('wakeUp')) {
                element.classList.remove('wakeUp');
                element.classList.add('sleep');
            }
        })
        wakeUpButton.classList.remove('active');
        menuBarCategoriesItems.forEach(element => {
            element.classList.remove('active')
        })
        submenuCategoriesItems.forEach(element => {
            element.classList.remove('active')
        })
    }
})


function showCategories(element, increment) {
    let id = null;
    clearInterval(id);
    id = setInterval(frame, 300);
    function frame() {
        if (increment == menuBarCategoriesItems.length) {
            clearInterval(id);
        } else {
            element[increment].classList.add('active')
            increment++;
        }
    }
}

// Submenu
menuBarCategoriesItems.forEach(element => {
    element.addEventListener('click', () => {
        let ElementID = element.id
        submenuCategories.forEach(subelement => {
            if (ElementID === subelement.id) {
                if (subelement.classList.contains('sleep')) {
                    subelement.classList.remove('sleep');
                }
                subelement.classList.add('wakeUp');
                showCategories(submenuCategoriesItems, 0);
            }
        });
    } )
})

// Close SubMenu
submenuCloseButtons.forEach(element => {
    element.addEventListener('click', () => {
        element.closest(".submenu-categories-section").classList.remove('wakeUp')
        element.closest(".submenu-categories-section").classList.add('sleep')
    })
})
</script>