{% extends 'layouts/base.html' %}
{% load i18n %}
{% block title %} {% trans 'Biz haqimizda' %} {% endblock %}
{% load static %}
{% load paginator_tags %}
{% load embed_video_tags %}
{% block content %}
    <style>
        .about-slide {
            display: flex !important;
            overflow-x: scroll;
            width: 100%;
        }

        span {
            color: #000;
             font-family:'Poppins', sans-serif;
        }

        p {
            color: #000;
             font-family:'Poppins', sans-serif;
        }

        strong {
            color: #000;
            font-family:'Poppins', sans-serif;
        }

        @media screen and (max-width: 900px) {
            .us-categories-accordion-body {
                display: none;
            }

            .about-mobile-drop {
                display: none;
            }
        }

        .us-categories-accordion-body {
            height: 100%;
        }

        .menu-categories-section1 {
    width: 100%;
    height: 95vh;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #ffe600;
    z-index: 9999;
    top: 0;
    position: fixed;
    display: none;
    transform: translateY(150%);
    transition: .5s ease-in;
}

.menu-categories-section_container {
    padding: 10px;
}

.menu-categories-section-title {
    text-align: center;
    color: #333;
    margin-bottom: 6%;
    display: flex;
    flex-direction: column;
}
.menu-categories-section-title::after {
    content: '';
    display: block;
    height: 1px;
    width: 50px;
    text-align: center;
    background-color: #333;
    align-self: center;
    margin-top: 5px;
}

.menu-categories-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.menu-categories-button1 {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
    opacity: 0;
    visibility: hidden;
}

.menu-categories-button1.active {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: .5s;
    opacity: 1;
    visibility: visible;
}

.menu-categories-button1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-categories-button1 img {
    max-width: 100%;
    width: 40px;
    margin-right: 15px;
}

.menu-categories-button-title {
    color: #333;
    line-height: 130%;
    word-break: break-word;
}

.menu_bar-categories-button1 {
     width: auto;
    align-self: center;
    background: #333;
    color: #fff;
    border: none;
    padding: 12px 15px;
    padding-bottom: 6px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99999;
    position: relative;
    transition: .3s linear;
}

.menu_bar-categories-button1.active {
    background-color: #333;
}

.menu_bar-categories-button1 i {
    transition: .3s linear;
    margin-left: 7px;
}

.menu_bar-categories-button1.active i {
    transform: rotate(180deg);
}


.menu-categories-section1.wakeUp {
    transform: translateY(0);
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: block;
}

.menu-categories-section1.sleep {
    -webkit-animation-name: slideOutDown;
    animation-name: slideOutDown;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    display: block;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
    </style>
    <section class="banner">
        <div class="container">
            <div class="row">

            </div>
            <h1 class="banner-text">{% trans 'Kompaniya faoliyati' %}</h1>
            <a href="{% url 'home:home' %}" style="color:#132E6B"><p class="banner-desc">{% trans 'Главная' %} </a> <span> > <a href="" class="banner-desc-title" style="color: #132E6B;">{% trans 'Kompaniya faoliyati' %}</a></span></p>

            <img src="{% static './images/backgorund-shadow.svg' %}" style="margin-top: -30%;margin-left: -60%;" alt="">
        </div>

    </section>

    <br>
    <br>
    <br>
    <div class="container about-mobile-drop">
        <img src="{% static './images/settings.svg' %}" class="icon-right-11" style="position: absolute;margin-top: -15%;width: 60px;" alt="">
            <div class="row">
                <div class="about-slide">
                    {% for about in abouts %}
                        <div class="col-8">
                            <button class="btn  tablinks" style="height:62px;width:100%;background:#FFE700;margin: 0px 0px 10px;font-size: 20px"  onclick="openCity(event, '{{ about.pk }}')"  value="{{ about.pk }}" id="defaultOpen">{{ about.title|safe }}</button>
                        </div>
                    {% endfor %}
                </div>
            </div>
    </div>

    <div class="container">
        <div class="d-flex">
              <div class="us-categories-accordion-body">
                    <div class="us-categories-accordion">
                        <h1 class="us-categories-accordion-title"
                            style="font-size:28px">{% trans 'Kategoriyalar' %}</h1>

                        <div class="us-categories-accordion-holder">
                            {% for about in abouts %}
                                <div class="us-categories-accordion-container">
                                    <div class="us-categories-label" style="text-align: unset"><button onclick="openCity(event, '{{ about.pk }}')" style="background: transparent;border: none;width: 100%;text-align: unset" id="defaultOpen">{{ about.title|safe }}</button></div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            <br>
            <img src="{% static './images/settings.svg' %}" class="icon-right" style="margin-top: -1.8%;right: 15%;"
                 alt="">

            <div class="col-md-9">
                {% for about in abouts %}
                <div id="{{ about.pk }}" class="tabcontent" >
                    <h1 style="font-size: 25px;font-family:RobotoCondensed,Arial,sans-serif;">{{ about.title|safe }}</h1>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <img src="{{ about.image.url }}" alt="">
                        </div>
                    </div>
                    <div class="container">
                         {{ about.description|safe }}
                    </div>
                    <section class="video">
                    <h3>{% trans 'Видео о нас' %}</h3>
                       <span>{% video about.url '100%x400' %}</span>
                </section>
                </div>
        {% endfor %}
            </div>

        </div>
        <!-- TABS PRESENTATION -->

        <!-- TABS PRESENTATION // -->
    </div>
  <div class="menu-categories-section1">
        <div class="menu-categories-section_container">
            <h3 class="menu-categories-section-title">Kategoriyalar</h3>
            <ul class="menu-categories-list">
               {% for about in abouts %}
                <li id="us-submenu-{{ about.pk }}" class="menu-categories-button1" onclick="openCity(event, '{{ about.pk }}')" id="defaultOpen">
                    {% if category.image %}
                        <img src="{{ category.image.url }}" alt="">
                    {% endif %}
                   <span class="menu-categories-button-title">{{ about.title|safe }}</span>
                </li>
               {% endfor %}
            </ul>

        </div>
    </div>
    <!-- form -->
 {% include 'requests.html' %}


    <script>
        console.clear();
    </script>

    <!-- Code by Fathulla Latipov LF -->
{% endblock %}

{% block extra_js %}
<script>
const menuBarCategories1 = document.querySelector('.menu-categories-section1');
const wakeUpButton1 = document.querySelector('.menu_bar-categories-button1');
const menuBarCategories1Items = document.querySelectorAll('.menu-categories-button1')
let menuBarCategories1IsAwake = false;

wakeUpButton1.addEventListener('click', () => {

    menuBarCategories1IsAwake = !menuBarCategories1IsAwake;

    if (menuBarCategories1IsAwake) {
        menuBarCategories1.classList.remove('sleep')
        menuBarCategories1.classList.add('wakeUp')
        wakeUpButton1.classList.add('active');

        menuBarCategories1Items.forEach(element => {
            if (element.classList.contains('active')) {
                element.classList.remove('active')
            }
        });

        showCategories(menuBarCategories1Items, 0);

    }
    else {
        menuBarCategories1.classList.remove('wakeUp');
        menuBarCategories1.classList.add('sleep');
        wakeUpButton1.classList.remove('active');
        menuBarCategories1Items.forEach(element => {
            element.classList.remove('active')
        })
    }
})


function showCategories(element, increment) {
    let id = null;
    clearInterval(id);
    id = setInterval(frame, 300);
    function frame() {
        if (increment == menuBarCategories1Items.length) {
            clearInterval(id);
        } else {
            element[increment].classList.add('active')
            increment++;
        }
    }
}
</script>
    <script>
        function openCity(evt, cityName ) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();


        $(function () {
            var Accordion = function (el, multiple) {
                this.el = el || {};
                this.multiple = multiple || false;

                // Variables privadas
                var links = this.el.find('.link');
                // Evento
                links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
            }

            Accordion.prototype.dropdown = function (e) {
                var $el = e.data.el;
                $this = $(this),
                    $next = $this.next();

                $next.slideToggle();
                $this.parent().toggleClass('open');

                if (!e.data.multiple) {
                    $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
                }
                ;
            }

            var accordion = new Accordion($('#accordion4_1'), false);
        });
    </script>
{% endblock %}