{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    <section class="banner2">
        <div class="container">
            <div class="row">

            </div>
            <h1 class="banner-text">{% trans 'Наши статьи' %}</h1>
            <a href="{% url 'home:home' %}" style="color:#132E6B"><p class="banner-desc">{% trans 'Главная' %}</a>   <span> > <a href="" class="banner-desc-title" style="color: #132E6B;">{% trans 'Наши статьи' %}</a></span></p>

            <img src="{% static './images/backgorund-shadow.svg' %}" style="margin-top: -30%;margin-left: -60%;" alt="">
        </div>

    </section>


    <img src="{% static './images/settings.svg' %}" class="icon-right m-3" style="right: 7%;" alt="">


    <br>

    <div class="desc-blog">
        <div class="container">
            <div class="row">
                    <img src="{% static './images/Group_417.svg' %}" class="icon-right m-3" style="transform: rotate(20.33deg);left:7%" alt="">
                {% for blog in blogs %}
                    <div class="col-md-12">
                        <div class="blog-yellow">

                        </div>
                        <div class="blog-box" style="position: relative;z-index: 9;">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="{{ blog.image.url }}" style="padding: 45px;margin-left: 8%;height:320px"
                                         alt="">
                                </div>
                                <div class="col-md-9">
                                    <div class="blog-date">
                                        <p class="date-number">{{ blog.created_at|date:'d' }}<span>
                                        <p class="date-date">{{ blog.created_at|date:'F' }}</p></span></p>
                                    </div>
<!--                                    <small style="color: #A9A9AA;font-family:sans-serif;font-weight: 100;margin-top: 50px;position: absolute;">Просмотрено 457 человек</small>-->
                                    <p class="blog-title" >{{ blog.title|safe }}</p>
                                    <p class="blog-desc" style="padding: 10px;">{{ blog.smart_description|safe }}</p>
                                    <a href="{% url 'blog:single-blog' pk=blog.pk %}">{% trans 'Читать дальше' %} <img
                                            src="{% static './images/right.svg' %}"
                                            style="position: absolute;margin-left: 2%;"
                                            alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="mobile-blog">
        <div class="container">
            <div class="row">
                {% for blog in blogs %}
                    <div class="col-md-12">
                        <div class="blog-yellow-mobile">

                        </div>
                        <div class="box" style="width: 95%;float: right;height: auto;z-index: 4;position: relative;">
                            <img src="{{ blog.image.url }}" style="width: 100%;height: auto;" alt="">
                            <br>
                            <br>
<!--                            <small style="color: #A9A9AA;font-family:sans-serif;font-weight: 100;margin-top: 1px;">-->
<!--                                Просмотрено 457 человек</small>-->
                            <br>
                            <p style="font-size: 22px;line-height: 26px;letter-spacing: -0.02em;">{{ blog.title|safe }}</p>
                            <br>
                            <p>{{ blog.description|safe }}</p>
                            <br>
                            <a href="{% url 'blog:single-blog' pk=blog.pk %}">{% trans 'Читать дальше' %} <img src="{% static './images/right.svg' %}"
                                                                            style="position: absolute;margin-left: 2%;"
                                                                            alt=""></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <br>
        <br>

    </div>

    <div class="mobile-pagination" style="position: relative;margin-top: 20%;">
        <!-- pagination menu -->
        <nav aria-label="Page navigation example" style="margin: 20px auto;display: flex;
justify-content: center;">
            <a class="prew_icon" href=""></a>
            <ul style="display: flex;justify-content: center;">
                {% for page in page_obj.paginator.page_range %}
                    <li class="page_numb{% if page == page_obj.number %}-active {% endif %}"
                        onclick="addUrlParameter('page', '{{ page }}')" style="cursor:pointer;position:relative;padding-top:15px"><a
                            href="?page={{ page }}" style="color: #132E6B;">{{ page }}</a></li>
                {% endfor %}
            </ul>
            <a href="?page={{ page }}"></a>
        </nav>

        <!-- end pagination menu -->
    </div>



    <div class="desk_pagination" style="position: relative;">
        <!-- pagination menu -->
     <nav aria-label="Page navigation example" style="margin: 20px auto;display: flex;justify-content: center;">
         {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}"><img src="/static/images/left.svg" alt=""></a></li>
        {% else %}
            <li class="disabled"><span><img src="/static/images/left.svg" style="display:none" alt=""></span></li>
        {% endif %}
          <ul style="display: flex;justify-content: center;">
              {% if page_obj.has_previous <= page_obj.number|add:'-2' %}
                 <li class="page_numb"><a href="?page=1" style="color: #132E6B;">1</a></li>
              {% endif %}
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page_numb-active"><a style="color: #132E6B;">{{ i }}</a></li>
                {% elif i > page_obj.number|add:'-2' and i < page_obj.number|add:'2' %}
                   <li class="page_numb"><a href="?page={{ i }}" style="color: #132E6B;">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
          {% if page_obj.has_next %}
            {% if page_obj.number <= page_obj.paginator.num_pages %}
                <li><a href="?page={{ page_obj.number|add:'2' }}">&hellip;</a></li>
            {% endif %}
          {% endif %}
           {% if page_obj.has_next %}
              <li class="page_numb"><a href="?page={{ page_obj.paginator.num_pages }}" style="color: #132E6B;">{{ page_obj.paginator.num_pages }}</a></li>
           {% endif %}
          </ul>
         {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}"><img src="/static/images/right.svg" alt=""></a></li>
        {% else %}
            <li class="disabled"><span><img src="/static/images/right.svg" style="display:none" alt=""></span></li>
        {% endif %}
        </nav>

        <!-- end pagination menu -->
    </div>

    <br>
    {% include 'requests.html' %}
    <script>
        console.clear();
    </script>
    <!-- Code by FathullaLatipov LF -->

{% endblock %}