{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<style>
    a.active:after {
        transform: rotate(45deg);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        }



</style>

<section class="banner">
    <div class="container">
        <div class="row">

        </div>
        <h1 class="banner-text"> Категории</h1>
        <a href="{% url 'home:home' %}"><p class="banner-desc">Главная</a>  <span> > <a href="" class="banner-desc-title"> Категории</a></span></p>

        <img src="{% static './images/backgorund-shadow.svg' %}" style="margin-top: -30%;margin-left: -60%;" alt="">
    </div>

</section>
<br>

<div class="container">
    <div class="row">
        <div class="col-12">
            <ul id="accordion" class="accordion">
                {% for category in categories %}
                    <li>
                    <div class="link"><img src="{{ category.image.url }}" style="width:40px;height:40px" alt=""> <span
                            style="position: absolute;margin-top: 3%;margin-left: 3%;font-family: revert;font-size: 16px;font-weight: 400;">{{ category.category }}</span><i class="fa fa-chevron-down"></i>
                        <hr class="hr-menu-mobile" style="position: absolute;bottom: -1px;">
                    </div>
                    <ul class="submenu">
                        {% for subcategory in subcategories %}
                            <li style="height: auto;
    margin: 10px;
    font-size: 19px;
    margin-left: 8%;">
                                {% if subcategory.subcategory %}
                                    {{ subcategory.subcategory }}
                                {% else %}
                                    {% for second_subcategory in second_subcategories %}
                                        <li>
                                            <ul class="accordion5_1">
                                                <li>
                                                    <a> {{ second_subcategory.second_subcategories }}</a>
                                                    <p>Lorem ipsum dolor1 </p>
                                                    <p>lasdfasd fasdfasdf sadff</p>
                                                </li>
                                                <li>
                                                    <a>Repellat Odit Aliquid</a>
                                                    <p>Lorem ipsum dolor1 </p>
                                                </li>
                                                <li>
                                                    <a>Dolor sit Amet</a>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, ipsum,
                                                        fuga, in, obcaecati magni ullam nobis voluptas fugiat tenetur voluptatum quas
                                                        tempora maxime rerum neque deserunt suscipit provident cumque et mollitia ex
                                                        aspernatur porro minus sapiente voluptatibus eos at perferendis repellat odit
                                                        aliquid harum molestias ratione pariatur adipisci. Aliquid, iure.</p>
                                                </li>
                                            </ul>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </li>
                        {% endfor %}
                        </li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


<br>
<br>

<script>
  console.clear();



</script>

<!--  Code by Fathulla Latipov LF -->

{% endblock %}
{% block extra_js %}
<script>
    $(function () {
      var Accordion = function (el, multiple) {
        this.el = el || {};
        this.multiple = multiple || false;

        // Variables privadas
        var links = this.el.find('.link');
        // Evento
        links.on('click', { el: this.el, multiple: this.multiple }, this.dropdown)
      }

      Accordion.prototype.dropdown = function (e) {
        var $el = e.data.el;
        $this = $(this),
          $next = $this.next();

        $next.slideToggle();
        $this.parent().toggleClass('open');

        if (!e.data.multiple) {
          $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
        };
      }

      var accordion = new Accordion($('#accordion'), false);
    });





</script>

<script>
      (function($) {
        $('.accordion5_1 > a').addClass('active').next().slideDown();

        $('.accordion5_1 a').click(function(j) {
            var dropDown = $(this).closest('li').find('p');

            $(this).closest('.accordion5_1').find('p').not(dropDown).slideUp();

            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
            } else {
                $(this).closest('.accordion5_1').find('a.active').removeClass('active');
                $(this).addClass('active');
            }

            dropDown.stop(false, true).slideToggle();

            j.preventDefault();
        });
    })(jQuery);



</script>
{% endblock %}