{% extends 'layouts/base.html' %}
{% load i18n %}
{% block title %} {% trans 'Liniyalar' %} {% endblock %}
{% load static %}
{% load paginator_tags %}
{% block content %}
<style>

.obshiy-container {
    max-width: 1500px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: flex-start;
}

.us-lines {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-left: 30px;
    width: 100%;
}

.us-line-card {
    width: 100%;
    min-height: 400px;
    height: 100%;
    position: relative;
    transition: box-shadow, background-image .4s ease-in-out;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.us-line-card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-blend-mode: hue;
}
.us-line-card:hover .us-line-card-content{
    transform: translateY(0);
}
.us-line-card:hover .us-line-card-container{
    background: #00000046;
}
.us-line-card:hover .us-line-card-main-title {
    opacity: 0;
}
.us-line-card:hover .us-line-card-container::before {
    backdrop-filter: blur(5px);
    /* background-color: #00000046; */
}

.us-line-card-content {
    padding: 10px 15px;
    position: absolute;
    bottom: 0;
    width:100%;
    background-color: #ffffffce;
    user-select: none;
    transform: translateY(100%);
    transition: all .4s ease-in-out;
}

.us-line-card-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    transition: all .4s ease-in-out;
    background: #00000046;
}

.us-line-card-container::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    transition: all .4s ease-in-out;
}

.us-line-card-main-title {
    color: white;
    font-size: 22px;
    /* align-self: center; */
    margin-left: 10px;
    align-content: center;
    transition: all .4s ease-in-out;
    user-select: none;
    margin-bottom: 15px;
}

.us-line-card-title {
    font-size: 20px;
    color: #333;
    /* border-bottom: 1px dashed #333; */
    margin-bottom: 10px;
    /* padding-bottom: 15px; */
    display: flex;
    flex-direction: column;
}
.us-line-card-title::after {
    content: '';
    display: block;
    height: 1px;
    width: 40%;
    margin-top: 10px;
    background-color: #333;
    text-align: end;
    align-self: flex-end;
}

.us-line-card-text {
    font-size: 16px;
    word-break: break-all;
}

.us-line-card-subcontent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.us-line-card-price {
    color: #ff0000;
    font-weight: 500;
    font-size: 20px;
}

.us-line-card-more {
    background: transparent;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .us-lines {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .us-lines {
         grid-template-columns: repeat(1, 1fr);
        margin-left: 0px;
        padding: 10px;
    }

    .us-categories-accordion-body {
        display: none;
    }
}
</style>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<section class="banner">
    <div class="banner-container">
        <h1 class="banner-text">{% trans 'Линии' %}</h1>
            <a href="{% url 'home:home' %}" style="color:#132E6B"><p class="banner-desc">{% trans 'Главная' %}</a>
            <span> > <a href="" class="banner-desc-title" style="color:#132E6B;">{% trans 'Линии' %}</a></span></p>
    </div>
</section>
                     <br>
         <div class="obshiy-container">
                         <div class="us-categories-accordion-body">
                    <div class="us-categories-accordion">
                        <h1 class="us-categories-accordion-title"
                            style="font-size:28px">{% trans 'Kategoriyalar' %}</h1>

                        <div class="us-categories-accordion-holder">
                            {% for category in line_categories %}
                                <div class="us-categories-accordion-container">
                                    <div class="us-categories-label" style="text-align: unset"><a href="?category={{ category.pk }}">{{ category.category|safe }}</a></div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>

                <div class="us-lines">
        {% for line in lines %}
            <div class="us-line-card" style="background: url('{{ line.image.url }}') no-repeat center center / cover;">
                    <div class="us-line-card-container">
                        <h2 class="us-line-card-main-title">{{ line.title}}</h2>
                        <div class="us-line-card-content">
                            <h2 class="us-line-card-title">{{ line.title}}</h2>
                            <p class="us-line-card-text">{{ line.description|slice:':100'|safe}}</p>
                                <div class="us-line-card-subcontent">
                                    {% if line.price %}
                                         <p class="us-line-card-price">${{ line.price }}</p>
                                    {% endif %}
                                    <a href="{% url 'line:detail' pk=line.pk %}"><button class="us-line-card-more">{% trans 'Learn More' %}<i class="fa-regular fa-arrow-up-right-from-square"></i></button></a>
                                </div>
                        </div>
                    </div>
            </div>
         {% endfor %}
        </div>

          </div>
 <div class="menu-categories-section">
        <div class="menu-categories-section_container">
            <h3 class="menu-categories-section-title">Kategoriyalar</h3>
            <ul class="menu-categories-list">
               {% for category in line_categories %}
                <li id="us-submenu-{{ about.pk }}" class="menu-categories-button">
                    {% if category.image %}
                        <img src="{{ category.image.url }}" alt="">
                    {% endif %}
                    <a href="?category={{ category.pk }}"><span class="menu-categories-button-title">{{ category.category|safe }}</span></a>
                </li>
               {% endfor %}
            </ul>

        </div>
    </div>
    <!-- TABS PRESENTATION -->

    <!-- TABS PRESENTATION // -->
    <!-- pagination menu -->
              <nav aria-label="Page navigation example" style="margin: 20px auto;display: flex;justify-content: center;">
         {% if page_obj.has_previous %}
            <li class="page-previous"><a href="?page={{ page_obj.previous_page_number }}"><img src="/static/images/left.svg" alt=""></a></li>
        {% else %}
            <li class="disabled"><span><img src="/static/images/left.svg" style="display:none" alt=""></span></li>
        {% endif %}
          <ul style="display: flex;justify-content: center;">
              {% if page_obj.has_previous <= page_obj.number|add:'-2' %}
                 <li class="page_numb"><a href="?page=1" style="color: #132E6B;">1</a></li>
              {% endif %}
            {% for page in page_obj.paginator.page_range %}
                {% if page_obj.number == page %}
                         <li class="page_numb-active"><a style="color: #132E6B;">{{ page }}</a></li>
                {% elif page > page_obj.number|add:'-2' and page < page_obj.number|add:'2' %}
                   <li class="page_numb"><a rel="next" href="{% relative_url page 'page' request.GET.urlencode %}" style="color: #132E6B;">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
          {% if page_obj.has_next %}
            {% if page_obj.number <= page_obj.paginator.num_pages %}
                <li class="page-dotted"><a href="{% relative_url page_obj.number|add:'2' 'page' request.GET.urlencode %}">&hellip;</a></li>
            {% endif %}
          {% endif %}
           {% if page_obj.has_next %}
              <li class="page_numb"><a href="{% relative_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}" style="color: #132E6B;">{{ page_obj.paginator.num_pages }}</a></li>
           {% endif %}
          </ul>
         {% if page_obj.has_next %}
            <li class="page-next"><a href="?page={{ page_obj.next_page_number }}"><i class="fa-light fa-angle-right" style="color: #132E6B;font-weight: 500;"></i></a></li>
        {% else %}
            <li class="disabled"><span><i class="fa-light fa-angle-right" style="display: none"></i></span></li>
        {% endif %}
        </nav>


    <!-- end pagination menu -->

    <br>
    {% include 'requests.html' %}
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();


    </script>

{% endblock %}

{% block extra_js %}
<script>
const menuBarCategories = document.querySelector('.menu-categories-section');
const wakeUpButton = document.querySelector('.menu_bar-categories-button');
const menuBarCategoriesItems = document.querySelectorAll('.menu-categories-button')
const submenuCategories = document.querySelectorAll('.submenu-categories-section')
const submenuCategoriesItems = document.querySelectorAll('.submenu-categories-button')
const submenuCloseButtons = document.querySelectorAll('.us-submenu-close')
let menuBarCategoriesIsAwake = false;

wakeUpButton.addEventListener('click', () => {

    menuBarCategoriesIsAwake = !menuBarCategoriesIsAwake;

    if (menuBarCategoriesIsAwake) {
        menuBarCategories.classList.remove('sleep')
        menuBarCategories.classList.add('wakeUp')
        wakeUpButton.classList.add('active');

        menuBarCategoriesItems.forEach(element => {
            if (element.classList.contains('active')) {
                element.classList.remove('active')
            }
        });

        showCategories(menuBarCategoriesItems, 0);

    }
    else {
        menuBarCategories.classList.remove('wakeUp');
        menuBarCategories.classList.add('sleep');
        submenuCategories.forEach(element => {
            if (element.classList.contains('wakeUp')) {
                element.classList.remove('wakeUp');
                element.classList.add('sleep');
            }
        })
        wakeUpButton.classList.remove('active');
        menuBarCategoriesItems.forEach(element => {
            element.classList.remove('active')
        })
        submenuCategoriesItems.forEach(element => {
            element.classList.remove('active')
        })
    }
})


function showCategories(element, increment) {
    let id = null;
    clearInterval(id);
    id = setInterval(frame, 300);
    function frame() {
        if (increment == menuBarCategoriesItems.length) {
            clearInterval(id);
        } else {
            element[increment].classList.add('active')
            increment++;
        }
    }
}

// Submenu
menuBarCategoriesItems.forEach(element => {
    element.addEventListener('click', () => {
        let ElementID = element.id
        submenuCategories.forEach(subelement => {
            if (ElementID === subelement.id) {
                if (subelement.classList.contains('sleep')) {
                    subelement.classList.remove('sleep');
                }
                subelement.classList.add('wakeUp');
                showCategories(submenuCategoriesItems, 0);
            }
        });
    } )
})

// Close SubMenu
submenuCloseButtons.forEach(element => {
    element.addEventListener('click', () => {
        element.closest(".submenu-categories-section").classList.remove('wakeUp')
        element.closest(".submenu-categories-section").classList.add('sleep')
    })
})
</script>
    <script>
        window.onload = function () {
            crear_select();
        }

        function isMobileDevice() {
            window.onload = function () {
                crear_select();
            }
        };


        var li = new Array();

        function crear_select() {
            var div_cont_select = document.querySelectorAll("[data-mate-select='active']");
            var select_ = '';
            for (var e = 0; e < div_cont_select.length; e++) {
                div_cont_select[e].setAttribute('data-indx-select', e);
                div_cont_select[e].setAttribute('data-selec-open', 'false');
                var ul_cont = document.querySelectorAll("[data-indx-select='" + e + "'] > .cont_list_select_mate > ul");
                select_ = document.querySelectorAll("[data-indx-select='" + e + "'] >select")[0];
                if (isMobileDevice()) {
                    select_.addEventListener('change', function () {
                        _select_option(select_.selectedIndex, e);
                    });
                }
                var select_optiones = select_.options;
                document.querySelectorAll("[data-indx-select='" + e + "']  > .selecionado_opcion ")[0].setAttribute('data-n-select', e);
                document.querySelectorAll("[data-indx-select='" + e + "']  > .icon_select_mate ")[0].setAttribute('data-n-select', e);
                for (var i = 0; i < select_optiones.length; i++) {
                    li[i] = document.createElement('li');
                    if (select_optiones[i].selected == true || select_.value == select_optiones[i].innerHTML) {
                        li[i].className = 'active';
                        document.querySelector("[data-indx-select='" + e + "']  > .selecionado_opcion ").innerHTML = select_optiones[i].innerHTML;
                    }
                    ;
                    li[i].setAttribute('data-index', i);
                    li[i].setAttribute('data-selec-index', e);
// funcion click al selecionar
                    li[i].addEventListener('click', function () {
                        _select_option(this.getAttribute('data-index'), this.getAttribute('data-selec-index'));
                    });

                    li[i].innerHTML = select_optiones[i].innerHTML;
                    ul_cont[0].appendChild(li[i]);

                }
                ; // Fin For select_optiones
            }
            ; // fin for divs_cont_select
        } // Fin Function


        var cont_slc = 0;

        function open_select(idx) {
            var idx1 = idx.getAttribute('data-n-select');
            var ul_cont_li = document.querySelectorAll("[data-indx-select='" + idx1 + "'] .cont_select_int > li");
            var hg = 0;
            var slect_open = document.querySelectorAll("[data-indx-select='" + idx1 + "']")[0].getAttribute('data-selec-open');
            var slect_element_open = document.querySelectorAll("[data-indx-select='" + idx1 + "'] select")[0];
            if (isMobileDevice()) {
                if (window.document.createEvent) { // All
                    var evt = window.document.createEvent("MouseEvents");
                    evt.initMouseEvent("mousedown", false, true, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
                    slect_element_open.dispatchEvent(evt);
                } else if (slect_element_open.fireEvent) { // IE
                    slect_element_open.fireEvent("onmousedown");
                } else {
                    slect_element_open.click();
                }
            } else {


                for (var i = 0; i < ul_cont_li.length; i++) {
                    hg += ul_cont_li[i].offsetHeight;
                }
                ;
                if (slect_open == 'false') {
                    document.querySelectorAll("[data-indx-select='" + idx1 + "']")[0].setAttribute('data-selec-open', 'true');
                    document.querySelectorAll("[data-indx-select='" + idx1 + "'] > .cont_list_select_mate > ul")[0].style.height = hg + "px";
                    document.querySelectorAll("[data-indx-select='" + idx1 + "'] > .icon_select_mate")[0].style.transform = 'rotate(180deg)';
                } else {
                    document.querySelectorAll("[data-indx-select='" + idx1 + "']")[0].setAttribute('data-selec-open', 'false');
                    document.querySelectorAll("[data-indx-select='" + idx1 + "'] > .icon_select_mate")[0].style.transform = 'rotate(0deg)';
                    document.querySelectorAll("[data-indx-select='" + idx1 + "'] > .cont_list_select_mate > ul")[0].style.height = "0px";
                }
            }

        } // fin function open_select

        function salir_select(indx) {
            var select_ = document.querySelectorAll("[data-indx-select='" + indx + "'] > select")[0];
            document.querySelectorAll("[data-indx-select='" + indx + "'] > .cont_list_select_mate > ul")[0].style.height = "0px";
            document.querySelector("[data-indx-select='" + indx + "'] > .icon_select_mate").style.transform = 'rotate(0deg)';
            document.querySelectorAll("[data-indx-select='" + indx + "']")[0].setAttribute('data-selec-open', 'false');
        }


        function _select_option(indx, selc) {
            if (isMobileDevice()) {
                selc = selc - 1;
            }
            var select_ = document.querySelectorAll("[data-indx-select='" + selc + "'] > select")[0];

            var li_s = document.querySelectorAll("[data-indx-select='" + selc + "'] .cont_select_int > li");
            var p_act = document.querySelectorAll("[data-indx-select='" + selc + "'] > .selecionado_opcion")[0].innerHTML = li_s[indx].innerHTML;
            var select_optiones = document.querySelectorAll("[data-indx-select='" + selc + "'] > select > option");
            for (var i = 0; i < li_s.length; i++) {
                if (li_s[i].className == 'active') {
                    li_s[i].className = '';
                }
                ;
                li_s[indx].className = 'active';

            }
            ;
            select_optiones[indx].selected = true;
            select_.selectedIndex = indx;
            select_.onchange();
            salir_select(selc);
        }


    </script>
    <script>
        $(function () {
            var Accordion = function (el, multiple) {
                this.el = el || {};
                this.multiple = multiple || false;

                // Variables privadas
                var links = this.el.find('.link');
                // Evento
                links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
            }

            Accordion.prototype.dropdown = function (e) {
                var $el = e.data.el;
                $this = $(this),
                    $next = $this.next();

                $next.slideToggle();
                $this.parent().toggleClass('open');

                if (!e.data.multiple) {
                    $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
                }
                ;
            }

            var accordion = new Accordion($('#accordion4_1'), false);
        });


    </script>
{% endblock %}