{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

    <section class="banner">
        <div class="container">
            <div class="row">

            </div>
            <h1 class="banner-text">Наши работы</h1>
            <p class="banner-desc">Главная <span> > <a href="" class="banner-desc-title">Наши работы</a></span></p>

            <img src="{% static './images/backgorund-shadow.svg' %}" style="margin-top: -30%;margin-left: -60%;" alt="">
        </div>

    </section>

    <img src="{% static './images/settings.svg' %}" class="icon-right m-3" style="transform: rotate(20.33deg);" alt="">


    <br>


    <br>
    <div class="container" style="position: relative;z-index: 1;">
        <div class="tab2">
            <a class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Все работы</a>
            {#            <a class="tablinks" onclick="openCity(event, 'Paris')">Пищевая промышленность</a>#}
            {#            <a class="tablinks" onclick="openCity(event, 'Tokyo')">Строительная промышленность</a>#}
        </div>

        <br>
        <div id="London" class="tabcontent2">
            <div class="row" style="padding: 20px;">
                {% for work in object_list|slice:":1" %}
                    <div class="col-md-6">
                        <img src="{{ work.image.url }}"
                             class="work_image"
                             alt="">
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12 col-6">
                                <p class="title-work">{{ work.title }}</p>
                                <p class="desc-work">{{ work.short_descriptions }}</p>
                                {#                    <p class="aim_project">Цель проекта:</p>#}
                                {#                    <p class="client_work">Представить новые услуги, увеличения клиентов</p>#}
                                <p class="aim_project">Сроки использования:</p>
                                <p class="client_work">{{ work.created_at|date:'m.d.Y' }}</p>
                                {#                    <p class="aim_project">Оказание услуги:</p>#}
                                {#                    <p class="client_work">Пример текста</p>#}
                                {#                    <p class="client_work">Объектная фотосъемка</p>#}
                                {#                    <p class="client_work">Разработка брендбука</p>#}
                            </div>
                            <div class="col-md-12 col-6">
                                <div class="text-center">
                                    <ul>
                                        <li>
                                            <a href="{% url 'work:single-work' pk=work.pk %}">
                                                <button class="button-left button-bottom"
                                                        style="margin-top: 4%;right: 32%">
                                                    <p style="font-size: 16px;">Смотреть еще</p>
                                                </button>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                {% endfor %}

            </div>
            <div class="elements">
                <br>
                <br>

                <div class="container">
                    <div class="row">
                        {% for work in object_list %}
                            <div class="col-md-4">
                                <div class="card">
                                    <div data-aos="fade-right">
                                        <div class="imagewrap">
                                            <div class="thumbnail">
                                                <img src="{{ work.image.url }}">
                                            </div>
                                            <a href="{% url 'work:single-work' pk=work.pk %}"> <input type="button"
                                                                                                      class="button1 ig-btn"
                                                                                                      value="Смотреть"/></a>
                                        </div>
                                        <div class="info">
                                            <div class="row">
                                              <span>
                                                <hr class="hr-left">
                                              </span>
                                                <div class="col-md-11 col-11">
                                                    <p style="color: #000;font-weight: 500;width: 100%;">{{ work.title }}</p>
                                                    <br>
                                                    <p style="color: #132E6B;font-weight: 500;width: 100%">{{ work.created_at|date:'m.d.Y' }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- pagination menu -->
    <nav aria-label="Page navigation example" style="margin: 20px auto;display: flex;
justify-content: center;">
        <a class="prew_icon" href=""></a>
        <ul style="display: flex;justify-content: center;">
            {% for page in page_obj.paginator.page_range %}
                <li class="page_numb{% if page == page_obj.number %}-active {% endif %}"
                    onclick="addUrlParameter('page', '{{ page }}')" style="cursor:pointer;"><a href="?page={{ page }}"
                                                                                               style="color: #132E6B;top: 9px;position: relative;">{{ page }}</a>
                </li>
            {% endfor %}
        </ul>
        <a href="?page={{ page }}"></a>
    </nav>

    <!-- end pagination menu -->
    <br>
    <!-- parallax -->
    <div class="parallax">
        <br>
        <div class="dark-overlay">
            <div class="container p-5">
                <h3 class="dark-text">О компании Uskunalar</h3>
                <p class="dark-desc">Идейные соображения высшего порядка, а также постоянное
                    информационно-пропагандистское
                    обеспечение нашей деятельности представляет собой интересный.</p>
                <hr style="border: 2px solid #ffe600;width: 100px;text-align: center;margin: auto;border-radius: 20px;">
                <div class="row" style="margin-top: 6%;text-align: center;">
                    <div class="col-md-3 col-6 number_icons">
                        <img src="{% static './images/box_1.svg' %}" style="margin-top: -50%;" alt="">
                        <h3 class="dark-number">980+</h3>
                        <p class="number-desc">Продано</p>
                    </div>
                    <div class="col-md-3 col-6 number_icons">
                        <img src="{% static './images/man-user_1.svg' %}" style="margin-top: -50%;" alt="">
                        <h3 class="dark-number">650+</h3>
                        <p class="number-desc">Постоянных клиентов</p>
                    </div>
                    <div class="col-md-3 col-6 number_icons">
                        <img src="{% static './images/project_1.svg' %}" style="margin-top: -50%;" alt="">
                        <h3 class="dark-number">999+</h3>
                        <p class="number-desc">Реализация проектов</p>
                    </div>
                    <div class="col-md-3 col-6 number_icons">
                        <img src="{% static './images/group_1.svg' %}" style="margin-top: -50%;" alt="">
                        <h3 class="dark-number">599+</h3>
                        <p class="number-desc">Сотрудников</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- end parallax -->
    <br>
    <!-- form -->
    <img src="{% static './images/Group_417.svg' %}" class="icon-right-transform2" style="right:20%" alt="">
{% include 'requests.html' %}
    <img src="{% static './images/settings.svg' %}" class="icon-left-absolute"
         style="margin-top: -3%;margin-left: 3%;z-index: 0;position: absolute;" alt="">

    <!-- end form -->
    <!-- Code by FathullaLatipov LF-->
    <br>

{% endblock %}

{% block extra_js %}
    <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent2");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
{% endblock %}
