{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load tags %}
{% block content %}

<style>
        @media (max-width: 950px) {
            #accordion2 {
                display: none;
            }

            #accordion {
                display: none;
            }

            .categories_none {
                display: none;
            }
        }


</style>
<section class="banner">
    <div class="container">
        <div class="row">

        </div>
        <h1 class="banner-text">{% trans 'Каталог' %}</h1>
        <a href="/" style="color:#132E6B"><p class="banner-desc">{% trans 'Главная' %}</a>  <span> > <a href="" class="banner-desc-title">{% trans 'Каталог' %}</a></span></p>

        <img src="{% static './images/backgorund-shadow.svg' %}" style="margin-top: -30%;margin-left: -60%;" alt="">
    </div>

</section>

<br>


<img src="{% static './images/settings.svg' %}" class="icon-right" style="right: 15%;transform: rotate(20.33deg);"
     alt="">
<!-- filter -->
<div class="container ">
    <ul id="accordion2" class="accordion" style="position:relative">
        <div class="filter">
            <h4>{% trans 'Фильтр' %}</h4>
            <a href="{% url 'products:product' %}"><p style="float: right;margin-top: -2.5%;">{% trans 'Сбросить' %}</p></a>
            <div class="row">
                <div class="col-md-4">
                      <!-- Custom select structure -->
                    <div class="select_mate" data-mate-select="active" >

                        <select onchange="addUrlParameter('sort', this.value)">
                            <option>Все товары</option>
                            <option {% if request.GET.sort == 'price' %}selected{% endif %} value="price">  От А до Я</option>
                            <option {% if request.GET.sort == '-price' %}selected{% endif %} value="-price">  От Я до А</option>
                            <option {% if request.GET.sort == 'created_at' %}selected{% endif %} value="created_at">Новые</option>
                        </select>
                          <p class="selecionado_opcion"  onclick="open_select(this)" ></p><span onclick="open_select(this)" class="icon_select_mate" ><svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                              <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                              <path d="M0-.75h24v24H0z" fill="none"/>
                          </svg></span>
                          <div class="cont_list_select_mate">
                            <ul class="cont_select_int">  </ul>
                          </div>
                      </div>
                      <!-- Custom select structure -->
                </div>
                <div class="col-md-4">
                       <!-- Custom select structure -->
                    <div class="select_mate" data-mate-select="active" >

                        <select onchange="addUrlParameter('sort', this.value)">
                            <option>Валюта</option>
                            <option {% if request.GET.sort == 'som' %}selected{% endif %} value="som">Сум</option>
                            <option {% if request.GET.sort == '-som' %}selected{% endif %} value="-som">Доллар</option>


                        </select>
                          <p class="selecionado_opcion"  onclick="open_select(this)" ></p><span onclick="open_select(this)" class="icon_select_mate" ><svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                              <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                              <path d="M0-.75h24v24H0z" fill="none"/>
                          </svg></span>
                          <div class="cont_list_select_mate">
                            <ul class="cont_select_int">  </ul>
                          </div>
                      </div>
                      <!-- Custom select structure -->
                </div>
                <div class="col-md-4">
                    <li style="box-shadow: 0px 6px 20px rgba(169, 169, 170, 0.1);border-radius: 4px;">
                        <div class="link" style="padding: 20px 20px 20px 35px;"><i class="fas fa-search-dollar"></i>Цена<br><i
                                class="fa fa-chevron-down"></i></div>
                        <ul class="submenu"
                            style="position: absolute;z-index: 99;width: 88%;margin-top: 10px;background: #FFFFFF;box-shadow: 0px 0px 25px 8px rgba(3, 127, 139, 0.05);border-radius: 4px;">
                            <img src="{% static './images/triangle.svg' %}" style="overflow: hidden;" alt="">
                            <li style="padding:10px">
                                <form action="">
                                     <input class="js-range-slider" name="js-range-slider" />
                                 </form>
                            </li>
                            <li><a href="#">подтвердить</a></li>
                        </ul>
                    </li>
                </div>

            </div>

        </div>
    </ul>
</div>
<!-- end filter -->
<!-- logotip product, дочерние компании, homiylar...., bayroqlar va davlat -->

<!-- filter mobile -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <p class="categories_block mt-2">{% trans 'Категории' %}</p>
            <ul id="accordion4_2" class="accordion" style="border-radius: 6px;">

                <li>
                    <div class="link" style="background-color: #FFE700;border-radius: 6px;"><img
                            src="{% static './images/pishevaya.svg' %}"
                            alt=""> <span
                            style="position: absolute;margin-top: 2%;margin-left: 5%;font-family: revert;font-weight: 100;">Пищевая
                промышленность</span><i class="fa fa-chevron-down"></i>
                        <hr class="hr-menu-mobile" style="position: absolute;bottom: -1px;">
                    </div>
                    <ul class="submenu">
                        <li><a href="#">Прокатное производства</a></li>
                        <li><a href="#">Холодильники</a></li>
                        <li>
                            <ul class="accordion5_1">
                                <li>
                                    <a>Lorem ipsum</a>
                                    <p>Lorem ipsum dolor1 </p>
                                    <p>lasdfasd fasdfasdf sadff</p>
                                </li>
                                <li>
                                    <a>Repellat Odit Aliquid</a>
                                    <p>Lorem ipsum dolor1 </p>
                                </li>
                                <li>
                                    <a>Dolor sit Amet</a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit,
                                        ipsum,
                                        fuga, in,
                                        obcaecati magni ullam nobis voluptas fugiat tenetur voluptatum quas tempora
                                        maxime rerum neque
                                        deserunt suscipit provident cumque et mollitia ex aspernatur porro minus
                                        sapiente voluptatibus eos
                                        at perferendis repellat odit aliquid harum molestias ratione pariatur
                                        adipisci.
                                        Aliquid, iure.</p>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Мебель для кухни</a></li>
                        <li><a href="#">Мельница</a></li>
                        <li><a href="#">Переработка молока</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>

<!-- end filter mobile -->
<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <ul class="accordion">
                <h3 class="categories_none"
                    style="margin-bottom: -20px;padding: 15px;color: #132E6B;text-align: left;">
                    {% trans 'Категории' %}</h3>
                <!-- <hr class="hr-menu" style="position: absolute;"> -->
            </ul>
            <div class="sidebar-categories">
                <ul id="accordion" class="accordion">
                    {% for category in categories %}
                    <li>
                        <div class="link">
                            {% if category.image %}
                            <img src="{{ category.image.url }}" style="width:20px" alt="">
                            {% endif %}
                            <a href="?category={{ category.pk }}" style="color:#000;font-family: revert;font-weight: 500;"> <span style="position: absolute;margin-top: 2%;margin-left: 5%;font-family: revert;font-weight: 500;">{{ category.category }}</span></a> <i
                                class="fa fa-chevron-down"></i>
                            <hr class="hr-menu" style="position: absolute;bottom: -1px;">
                        </div>
                        <ul class="submenu">
                                {% for subcategory in category.subcategories.all %}
                                    <li><a href="?subcategory={{ subcategory.pk }}">{{ subcategory }}</a></li>
                                {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}

                    <img src="{% static './images/Group_417.svg' %}" class="icon-left" style="left: -24%;" alt="">

                </ul>


                <!-- <ul class="main-categories">
                        <li class="main-nav-list">
                            {% for categories in category %}
                             <a {% if request.GET.category == categories.pk|stringformat:'i' %}class="a-active"
                {% endif %} onclick="addUrlParameter('category', '{{ categories.pk }}')" style="cursor:pointer">
                                <span class="lnr lnr-arrow-right"></span>{{ categories.title }}<span
                                    class="number"></span></a>
                            {% endfor %}
                        </li>
                    </ul> -->
                <br>
            </div>
        </div>

        <div class="col-xl-9 col-lg-8 col-md-7">
            <div id="message">

            </div>
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center m-auto">
                <div class="sorting mr-auto">

                    <!-- <option value="1">{% trans 'Showing' %} {{ page_obj.start_index }}-{{ page_obj.end_index }} {% trans 'of' %} {{ page_obj.paginator.count }}</option> -->
                    <button class="btn btn-mobile" data-toggle="modal" data-target="#exampleModal1"
                            style="width: 108px;height: 48px;background-color: #f4f5f7;border-radius: 6px;">{% trans 'Фильтр' %}
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"
                                        style="position: absolute;left: 40%;">{% trans 'Фильтр' %}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <ul id="accordion7_2" class="accordion" style="position:relative">
                                        <div class="filter" style="margin-bottom: 0px;">
                                            <h4>{% trans 'Фильтр' %}</h4>
                                            <p style="float: right;margin-top: -6.5%;"></p>
                                            <div class="row">
                                                  <div class="col-md-3">
                                                      <!-- Custom select structure -->
                                                    <div class="select_mate" data-mate-select="active" style="width:100%">

                                                        <select onchange="addUrlParameter('sort', this.value)">
                                                            <option>Все товары</option>
                                                            <option {% if request.GET.sort == 'price' %}selected{% endif %} value="price" >От А до Я</option>
                                                            <option {% if request.GET.sort == '-price' %}selected{% endif %} value="-price"  >От Я до А</option>
                                                            <option {% if request.GET.sort == 'created_at' %}selected{% endif %} value="created_at">Новые</option>


                                                        </select>
                                                          <p class="selecionado_opcion"  onclick="open_select(this)" ></p><span onclick="open_select(this)" class="icon_select_mate" ><svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                              <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                                                              <path d="M0-.75h24v24H0z" fill="none"/>
                                                          </svg></span>
                                                          <div class="cont_list_select_mate">
                                                            <ul class="cont_select_int">  </ul>
                                                          </div>
                                                      </div>
                                                      <!-- Custom select structure -->
                                                </div>
                                                <br>
                                                            <div class="col-md-3">
                       <!-- Custom select structure -->
                                                    <div class="select_mate" data-mate-select="active" style="width:100%" >

                                                        <select onchange="addUrlParameter('sort', this.value)">
                                                            <option>Валюта</option>
                                                            <option {% if request.GET.sort == 'som' %}selected{% endif %} value="som">Сум</option>
                                                            <option {% if request.GET.sort == '-som' %}selected{% endif %} value="-som">Доллар</option>


                                                        </select>
                                                          <p class="selecionado_opcion"  onclick="open_select(this)" ></p><span onclick="open_select(this)" class="icon_select_mate" ><svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                              <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                                                              <path d="M0-.75h24v24H0z" fill="none"/>
                                                          </svg></span>
                                                          <div class="cont_list_select_mate">
                                                            <ul class="cont_select_int">  </ul>
                                                          </div>
                                                      </div>
                                                      <!-- Custom select structure -->
                                                </div>
                                                <br>
                                                <div class="col-md-3">
                                                    <li style="box-shadow: 0px 6px 20px rgba(169, 169, 170, 0.1);border-radius: 4px;">
                                                        <div class="link" style="padding: 20px 20px 20px 35px;"><i
                                                                class="fa fa-check"></i>В наличии<i class="fa fa-chevron-down"></i></div>
                                                        <ul class="submenu"
                                                            style="position: relative;z-index: 99;width: 100%;margin-top: 10px;background: #FFFFFF;box-shadow: 0px 0px 25px 8px rgba(3, 127, 139, 0.05);border-radius: 4px;">
                                                            <img src="{% static './images/triangle.svg' %}"
                                                                 style="overflow: hidden;" alt="">
                                                            <li><a href="#">В наличии</a></li>
                                                            <li><a href="#">В складе</a></li>
                                                        </ul>
                                                    </li>
                                                </div>
                                                <br>
                                                <div class="col-md-3">
                                                    <li style="box-shadow: 0px 6px 20px rgba(169, 169, 170, 0.1);border-radius: 4px;">
                                                        <div class="link" style="padding: 20px 20px 20px 35px;"><i
                                                                class="fas fa-search-dollar"></i>Цена<br><i
                                                                class="fa fa-chevron-down"></i></div>
                                                        <ul class="submenu"
                                                            style="position: relative;z-index: 99;width: 100%;margin-top: 10px;background: #FFFFFF;box-shadow: 0px 0px 25px 8px rgba(3, 127, 139, 0.05);border-radius: 4px;">
                                                            <img src="{% static './images/triangle.svg' %}"
                                                                 style="overflow: hidden;" alt="">
                                                            <li>
                                                                <div class="container p-3">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="price-filter">
                                                                                <p class="price-filter-title">От
                                                                                    500</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="price-filter">
                                                                                <p class="price-filter-title">ДоФФ
                                                                                    3500000</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <form action="">
                                                                    <input type="range" class="js-range-slider" name="js-range-slider" />
                                                                </form>
                                                            </li>

                                                        </ul>
                                                    </li>
                                                </div>

                                            </div>

                                        </div>
                                    </ul>
                                </div>
                                <div class="modal-footer" style="justify-content: center;border-top: none;">
                                    <ul>
                                        <li>
                                            <button class="button-center button-bottom">
                                                <p style="font-size: 16px;">{% trans 'Барчаси' %}</p>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab3">
                    <a class="tablinks" onclick="openCity(event, 'Paris')"><img
                            src="{% static './images/sorted.svg' %}"
                            alt=""></a>
                    <a class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen"><img
                            src="{% static './images/six_boxes.svg' %}"
                            alt=""></a>
                </div>

            </div>
            <!-- End Filter Bar -->
            <!-- Start Best Seller -->
            <section class="lattest-product-area  category-list">
                <div id="London" class="tabcontent3">
                    <div class="container-fluid">
                        <div class="row">
                            {% for product in object_list %}
                                <div class="col-md-4 col-6">
                                    {% include 'layouts/product_block.html' %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div id="Paris" class="tabcontent3">
                    <div class="container-z">
                        {% for product in products %}
                            <div class="sort-menu-products">
                            <div class="row">
                                <div class="col-md-3 col-6 d-like" style="position: absolute;z-index: 8;">
                                    <a href="#" class="card-link">
                                        <button class="btn like-mobile-1"><img
                                                src="{% static './images/like.svg' %}"
                                                style="margin-top: 7px;" alt=""></button>
                                    </a>
                                    {% if product.is_discount %}
                                        <a href="#" class="card-link1"><button class="btn"
                                            style="width: 48px;height: 48px;background-color: #E97171;position: absolute;right: 70px;border-radius: 50px;">
                                            <p style="margin-left:-32%;color: #fff;font-weight: normal;">{{ product.discount }}%</p>
                                          </button></a>
                                        {% elif product.is_new %}
                                            <a href="#" class="card-link1">
                                            <button class="btn new-mobile-1">
                                                <p class="new-mobile-text {% if product.is_discount %}mt-5{% endif %}">New!</p>
                                            </button>
                                        </a>
                                    {% endif %}


                                </div>

                                <div class="col-md-3 col-6">
                                    <img src="{{ product.image.url }}" style="width: 100%;height: 163px;"
                                         alt="">
                                </div>
                                <div class="col-md-6 col-6 mt-3">
                                    <h4 class="front-title-paris">
                                        {{ product.title }}</h4>
                                    <p class="detail-paris">
                                        {% trans 'Артикул' %}: {{ product.sku }}</p>
                                    <p class="desc-paris">$ {{ product.dollar }} - {{ product.price }} сум</p>
                                    <p class="mob-price" style="margin-left: 2%;">${{ product.dollar }}</p>
                                    <p class="mob-price mt-2" style="margin-left: 2%;">{{ product.price }} cум</p>
                                    <ul>
                                        <li>
                                            <a href="./single-product.html">
                                                <button class="button-left button-bottom-left ds-none2"
                                                        type="button"
                                                        style="width: 127px;height: 52px;">
                                                    <p class="carousel-button-text" style="font-size: 16px;">{% trans 'Заказать' %}</p>
                                                </button>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3 m-like">
                                    <a href="#" class="card-link">
                                        <button class="btn"
                                                style="width: 48px;height: 48px;background-color: #FFF5F5;position: absolute;right: 15px;">
                                            <img
                                                    src="{% static './images/like.svg' %}" style="margin-top: 7px;"
                                                    alt=""></button>
                                    </a>
                                    {% if product.is_discount %}
                                        <a href="#" class="card-link1"><button class="btn"
                                            style="width: 48px;height: 48px;background-color: #E97171;position: absolute;right: 70px;border-radius: 50px;">
                                            <p style="margin-left:-32%;color: #fff;font-weight: normal;">{{ product.discount }}%</p>
                                          </button></a>
                                    {% elif product.is_new %}
                                            <a href="#" class="card-link1">
                                            <button class="btn new-mobile-1">
                                                <p class="new-mobile-text {% if product.is_discount %}mt-5{% endif %}">New!</p>
                                            </button>
                                        </a>
                                    {% endif %}
                                </div>

                                <br>

                            </div>
                            <div class="sort-menu-info">
                                <div class="container">
                                    <div class="row">
                                        {% for j in product.specifications.all %}
                                        <div class="col-md-3">
                                            <p class="info-back-product">{{ j.product_customer }}:</p>
                                        </div>
                                        <div class="col-md-3">
                                            <p style="padding-top: 8%;">{{ j.product_number }}</p>
                                        </div>
                                        {% endfor %}
<!--                                        <div class="col-md-3">-->
<!--                                            <p class="info-back-product">Энергопотребление:</p>-->
<!--                                            <p class="info-back-product">Материал:</p>-->
<!--                                            <p class="info-back-product">Тип энергии:</p>-->
<!--                                        </div>-->
<!--                                        <div class="col-md-3">-->
<!--                                            <p style="padding-top: 3%;">25 кв / ч.</p>-->
<!--                                            <p style="padding-top: 11%;">Зангламас металл S208:</p>-->
<!--                                            <p style="padding-top: 11%;">Ток</p>-->
<!--                                        </div>-->

                                    </div>
                                    <div class="text-center">
                                        <ul>
                                            <li>
                                                <button class="button-product button-bottom-single-product"
                                                        style="right: 0%;margin: auto;display: table;">
                                                    <p style="font-size: 16px;">{% trans 'Заказать' %}</p>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </section>
            <br>
            <!-- pagination menu -->
            <nav aria-label="Page navigation example" style="margin: 20px auto;display: flex;
justify-content: center;">
                <a class="prew_icon" href=""></a>
                <ul style="display: flex;justify-content: center;">
                    {% for page in page_obj.paginator.page_range %}
                    <li class="page_numb{% if page == page_obj.number %}-active {% endif %}"  onclick="addUrlParameter('page', '{{ page }}')" style="cursor:pointer;position:relative;padding-top:14px"><a href="?page={{ page }}" style="color: #132E6B;">{{ page }}</a></li>
                    {% endfor %}
                </ul>
                <a href="?page={{ page }}"></a>
            </nav>

            <!-- end pagination menu -->
            <!-- End Best Seller -->
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">
        </div>

    </div>
    <div class="container">
        <div class="back_elements" style="margin-top: 1%;">

        </div>
        <img src="{% static './images/Group_417.svg' %}" class="icon-right-transform" style="position: absolute;"
             alt="">
        <h1 class="text-center"
            style="font-weight: 600;font-size: 35px;padding: 20px;margin-top: 30px;margin-left: 5%;">
            {% trans 'Популярные товары' %}</h1>
        <p class="text-center" style="color: silver;">Идейные соображения высшего порядка, а также постоянное
            информационно-<br>пропагандистское обеспечение нашей деятельности представляет собой интересный.</p>
        <br>
        <br>
        <hr style="border: 2px solid #ffe600;width: 100px;text-align: center;margin: auto;border-radius: 20px;">
        <br>
    </div>

    <div class="container">
        <div class="row-1">
            <br>
            <div class="splide_3_2">
                <div class="splide__track" style="height: 520px;">
                    <ul class="splide__list">
                     {% for product in products %}
                        <li class="splide__slide">
                                <div class="col-md-3">
                                <div class="produdcs-section2">
                                    <div class="flex-itm">
                                        <div class="flex-iem-inner">
                                            <!-- card -->
                                            <a href="#">
                                                <div class="card-front bg-violet">
                                                    <a href="#" class="card-link">
                                                        <button class="btn"
                                                                style="width: 48px;height: 48px;background-color: #FFF5F5;position: absolute;right: 10px;">
                                                            <img
                                                                    src="{% static './images/like.svg' %}"
                                                                    style="margin-top: 7px;" alt=""></button>
                                                    </a>
                                                     {% if product.is_discount %}
                                                        <a href="#" class="card-link">
                                                        <button class="btn"
                                                                style="width: 48px;height: 48px;background-color: #E97171;position: absolute;right: 70px;border-radius: 50px;">
                                                            <p style="margin-left:-32%;color: #fff;font-weight: normal;">{{ product.discount }}%</p>
                                                        </button>
                                                        </a>
                                                        {% elif product.is_new %}
                                                            <a href="#" class="card-link1">
                                                            <button class="btn new-mobile-1">
                                                                <p class="new-mobile-text {% if product.is_discount %}mt-5{% endif %}">New!</p>
                                                            </button>
                                                        </a>
                                                     {% endif %}
                                                    <img src="{{ product.image.url }}"
                                                         style="width: 100%;height: 300px;display: table;margin: auto;"
                                                         alt="">
                                                    <div class="card-text"
                                                         style="background: #F4F5F7;padding: 11px;border-radius: 4px;height: 150px;">
                                                        <h4 class="front-title">{{ product.title }}</h4>
                                                        <p class="detail">{% trans 'Артикул' %}: {{ product.sku }}</p>
                                                        <p class="desc">${{ product.get_price_dollar }} - {{ product.get_price }} сум</p>
                                                        <div class="text-center">
                                                            <ul>
                                                                <li>
                                                                    <a href="{% url 'products:single' pk=product.pk %}">
                                                                        <button class="button-center button-bottom2 mobile-button"
                                                                            style="width: 127px;height: 43px;">
                                                                        <p style="font-size: 13px;">Заказать</p>
                                                                    </button>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <!-- /card -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                      {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="container ">
        <div class="row desk-product">
            {% for product in products|slice:'4'  %}
            <div class="col-md-3">
                {% include 'layouts/product_block.html' %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<br>
<script>
    console.clear();
</script>
{% endblock %}
<!-- Articul id ++++++-->
<!-- 4,5 -->

{% block extra_js %}
<script>
      $('.btn1').click(function () {
            $(this).toggleClass("click");
            $('.sidebar').toggleClass("show");
        });
        $('.feat-btn').click(function () {
            $('nav ul .feat-show').toggleClass("show");
            $('nav ul .first').toggleClass("rotate");
        });
        $('.serv-btn').click(function () {
            $('nav ul .serv-show').toggleClass("show1");
            $('nav ul .second').toggleClass("rotate");
        });
        $('nav ul li').click(function () {
            $(this).addClass("active").siblings().removeClass("active");
        });
</script>
<script>
        $(function () {
            var Accordion = function (el, multiple) {
                this.el = el || {};
                this.multiple = multiple || false;

                // Variables privadas
                var links = this.el.find('.link');
                // Evento
                links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
            }

            Accordion.prototype.dropdown = function (e) {
                var $el = e.data.el;
                $this = $(this),
                    $next = $this.next();

                $next.slideToggle();
                $this.parent().toggleClass('open');

                if (!e.data.multiple) {
                    $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
                }
                ;
            }

            var accordion = new Accordion($('#accordion2'), false);
        });


</script>



<script>
        $(function () {
            var Accordion = function (el, multiple) {
                this.el = el || {};
                this.multiple = multiple || false;

                // Variables privadas
                var links = this.el.find('.link');
                // Evento
                links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
            }

            Accordion.prototype.dropdown = function (e) {
                var $el = e.data.el;
                $this = $(this),
                    $next = $this.next();

                $next.slideToggle();
                $this.parent().toggleClass('open');

                if (!e.data.multiple) {
                    $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
                }
                ;
            }

            var accordion = new Accordion($('#accordion'), false);
        });


</script>
   <script>
  console.clear();

  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent3");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>
<script>
        $(function () {
            var Accordion = function (el, multiple) {
                this.el = el || {};
                this.multiple = multiple || false;

                // Variables privadas
                var links = this.el.find('.link');
                // Evento
                links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
            }

            Accordion.prototype.dropdown = function (e) {
                var $el = e.data.el;
                $this = $(this),
                    $next = $this.next();

                $next.slideToggle();
                $this.parent().toggleClass('open');

                if (!e.data.multiple) {
                    $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
                }
                ;
            }

            var accordion = new Accordion($('#accordion4_2'), false);
        });



</script>

<script>
  $(".js-range-slider").ionRangeSlider({
        type: "double",
        grid: true,
        min: {{ min_price }},
        max: {{ max_price }},
        from: {% get_price request 0 %},
        to: {% get_price request 1 %},
        prefix: '$',
        onFinish(data) {
            let result = data.from.toString() + ';' + data.to.toString()
            addUrlParameter('price', result);
        }
    });
</script>

<!--asd-->
<script>
        var splide = new Splide('.splide_3_2', {
            perPage: 1,
            rewind: true,
        });

        splide.mount();


</script>
<script>
  function addUrlParameter(name, value) {
      let searchParams = new URLSearchParams(window.location.search)
      if (['category', 'brand', 'tag', 'sort', 'som'].includes(name)) {
          searchParams.delete('?');
      }
      if (searchParams.has(name) && searchParams.get(name) === value) {
          searchParams.delete(name);
      } else {
          searchParams.set(name, value)
      }
      window.location.search = searchParams.toString()
  }
</script>
<script>
    window.onload = function(){
  crear_select();
}

function isMobileDevice() {
        window.onload = function(){
  crear_select();
}
};


var li = new Array();
function crear_select(){
var div_cont_select = document.querySelectorAll("[data-mate-select='active']");
var select_ = '';
for (var e = 0; e < div_cont_select.length; e++) {
div_cont_select[e].setAttribute('data-indx-select',e);
div_cont_select[e].setAttribute('data-selec-open','false');
var ul_cont = document.querySelectorAll("[data-indx-select='"+e+"'] > .cont_list_select_mate > ul");
 select_ = document.querySelectorAll("[data-indx-select='"+e+"'] >select")[0];
 if (isMobileDevice()) {
select_.addEventListener('change', function () {
 _select_option(select_.selectedIndex,e);
});
 }
var select_optiones = select_.options;
document.querySelectorAll("[data-indx-select='"+e+"']  > .selecionado_opcion ")[0].setAttribute('data-n-select',e);
document.querySelectorAll("[data-indx-select='"+e+"']  > .icon_select_mate ")[0].setAttribute('data-n-select',e);
for (var i = 0; i < select_optiones.length; i++) {
li[i] = document.createElement('li');
if (select_optiones[i].selected == true || select_.value == select_optiones[i].innerHTML ) {
li[i].className = 'active';
document.querySelector("[data-indx-select='"+e+"']  > .selecionado_opcion ").innerHTML = select_optiones[i].innerHTML;
};
li[i].setAttribute('data-index',i);
li[i].setAttribute('data-selec-index',e);
// funcion click al selecionar
li[i].addEventListener( 'click', function(){  _select_option(this.getAttribute('data-index'),this.getAttribute('data-selec-index')); });

li[i].innerHTML = select_optiones[i].innerHTML;
ul_cont[0].appendChild(li[i]);

    }; // Fin For select_optiones
  }; // fin for divs_cont_select
} // Fin Function



var cont_slc = 0;
function open_select(idx){
var idx1 =  idx.getAttribute('data-n-select');
  var ul_cont_li = document.querySelectorAll("[data-indx-select='"+idx1+"'] .cont_select_int > li");
var hg = 0;
var slect_open = document.querySelectorAll("[data-indx-select='"+idx1+"']")[0].getAttribute('data-selec-open');
var slect_element_open = document.querySelectorAll("[data-indx-select='"+idx1+"'] select")[0];
 if (isMobileDevice()) {
  if (window.document.createEvent) { // All
  var evt = window.document.createEvent("MouseEvents");
  evt.initMouseEvent("mousedown", false, true, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
	slect_element_open.dispatchEvent(evt);
} else if (slect_element_open.fireEvent) { // IE
  slect_element_open.fireEvent("onmousedown");
}else {
  slect_element_open.click();
}
}else {


  for (var i = 0; i < ul_cont_li.length; i++) {
hg += ul_cont_li[i].offsetHeight;
};
 if (slect_open == 'false') {
 document.querySelectorAll("[data-indx-select='"+idx1+"']")[0].setAttribute('data-selec-open','true');
 document.querySelectorAll("[data-indx-select='"+idx1+"'] > .cont_list_select_mate > ul")[0].style.height = hg+"px";
 document.querySelectorAll("[data-indx-select='"+idx1+"'] > .icon_select_mate")[0].style.transform = 'rotate(180deg)';
}else{
 document.querySelectorAll("[data-indx-select='"+idx1+"']")[0].setAttribute('data-selec-open','false');
 document.querySelectorAll("[data-indx-select='"+idx1+"'] > .icon_select_mate")[0].style.transform = 'rotate(0deg)';
 document.querySelectorAll("[data-indx-select='"+idx1+"'] > .cont_list_select_mate > ul")[0].style.height = "0px";
 }
}

} // fin function open_select

function salir_select(indx){
var select_ = document.querySelectorAll("[data-indx-select='"+indx+"'] > select")[0];
 document.querySelectorAll("[data-indx-select='"+indx+"'] > .cont_list_select_mate > ul")[0].style.height = "0px";
document.querySelector("[data-indx-select='"+indx+"'] > .icon_select_mate").style.transform = 'rotate(0deg)';
 document.querySelectorAll("[data-indx-select='"+indx+"']")[0].setAttribute('data-selec-open','false');
}


function _select_option(indx,selc){
 if (isMobileDevice()) {
selc = selc -1;
}
    var select_ = document.querySelectorAll("[data-indx-select='"+selc+"'] > select")[0];

  var li_s = document.querySelectorAll("[data-indx-select='"+selc+"'] .cont_select_int > li");
  var p_act = document.querySelectorAll("[data-indx-select='"+selc+"'] > .selecionado_opcion")[0].innerHTML = li_s[indx].innerHTML;
var select_optiones = document.querySelectorAll("[data-indx-select='"+selc+"'] > select > option");
for (var i = 0; i < li_s.length; i++) {
if (li_s[i].className == 'active') {
li_s[i].className = '';
};
li_s[indx].className = 'active';

};
select_optiones[indx].selected = true;
  select_.selectedIndex = indx;
  select_.onchange();
  salir_select(selc);
}
</script>
<script>
    $(function () {
    var Accordion = function (el, multiple) {
        this.el = el || {};
        this.multiple = multiple || false;

        // Variables privadas
        var links = this.el.find('.link');
        // Evento
        links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
    }

    Accordion.prototype.dropdown = function (e) {
        var $el = e.data.el;
        $this = $(this),
            $next = $this.next();

        $next.slideToggle();
        $this.parent().toggleClass('open');

        if (!e.data.multiple) {
            $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
        }
        ;
    }

    var accordion = new Accordion($('#accordion7_2'), false);
});

</script>
<script>
(function () {

    $(".hamburger").on("click", function () {
        $(this).parent(".hamburger-wrapper").toggleClass("hamburger-active")
    });

}());
</script>

<!--asd-->

{% endblock %}