{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<style>
        @media (max-width: 950px) {
            #accordion2 {
                display: none;
            }

            #accordion {
                display: none;
            }

            .categories_none {
                display: none;
            }
        }


</style>
<section class="banner">
    <div class="container">
        <div class="row">

        </div>
        <h1 class="banner-text">Каталог</h1>
        <p class="banner-desc">Главная <span> > <a href="" class="banner-desc-title">Каталог</a></span></p>

        <img src="{% static './images/backgorund-shadow.svg' %}" style="margin-top: -30%;margin-left: -60%;" alt="">
    </div>

</section>

<br>


<img src="{% static './images/settings.svg' %}" class="icon-right" style="right: 15%;transform: rotate(20.33deg);"
     alt="">
<!-- filter -->
<div class="container ">
    <ul id="accordion2" class="accordion" style="position:relative">
        <div class="filter">
            <h4>Фильтр</h4>
            <p style="float: right;margin-top: -2.5%;">Сбросить</p>
            <div class="row">
                <div class="col-md-3">
                    <li style="box-shadow: 0px 6px 20px rgba(169, 169, 170, 0.1);border-radius: 4px;">
                        <div class="link" style="padding: 20px 20px 20px 35px;"><i class="fa fa-database"></i>Все
                            товары<i
                                    class="fa fa-chevron-down"></i></div>
                        <ul class="submenu"
                            style="position: absolute;z-index: 99;width: 88%;margin-top: 12px;background: #FFFFFF;box-shadow: 0px 0px 25px 8px rgba(3, 127, 139, 0.05);border-radius: 4px;">
                            <img src="{% static './images/triangle.svg' %}" style="overflow: hidden;" alt="">
                            <li><a href="#">Арзондан бошлаб</a></li>
                            <li><a href="#">Кимматдан бошлаб</a></li>
                            <li><a href="#">Барчаси</a></li>
                        </ul>
                    </li>
                </div>
                <div class="col-md-3">
                    <li style="box-shadow: 0px 6px 20px rgba(169, 169, 170, 0.1);border-radius: 4px;">
                        <div class="link" style="padding: 20px 20px 20px 35px;"><i class="fas fa-dollar-sign"></i>Валюта<i
                                class="fa fa-chevron-down"></i></div>
                        <ul class="submenu"
                            style="position: absolute;z-index: 99;width: 88%;margin-top: 10px;background: #FFFFFF;box-shadow: 0px 0px 25px 8px rgba(3, 127, 139, 0.05);border-radius: 4px;">
                            <img src="{% static './images/triangle.svg' %}" style="overflow: hidden;" alt="">
                            <li><a href="#">Доллар</a></li>
                            <li><a href="#">Сум</a></li>
                        </ul>
                    </li>
                </div>
                <div class="col-md-3">
                    <li style="box-shadow: 0px 6px 20px rgba(169, 169, 170, 0.1);border-radius: 4px;">
                        <div class="link" style="padding: 20px 20px 20px 35px;"><i class="fa fa-check"></i>В наличии<i
                                class="fa fa-chevron-down"></i></div>
                        <ul class="submenu"
                            style="position: absolute;z-index: 99;width: 88%;margin-top: 10px;background: #FFFFFF;box-shadow: 0px 0px 25px 8px rgba(3, 127, 139, 0.05);border-radius: 4px;">
                            <img src="{% static './images/triangle.svg' %}" style="overflow: hidden;" alt="">
                            <li><a href="#">В наличии</a></li>
                            <li><a href="#">В складе</a></li>
                        </ul>
                    </li>
                </div>
                <div class="col-md-3">
                    <li style="box-shadow: 0px 6px 20px rgba(169, 169, 170, 0.1);border-radius: 4px;">
                        <div class="link" style="padding: 20px 20px 20px 35px;"><i class="fas fa-search-dollar"></i>Цена<br><i
                                class="fa fa-chevron-down"></i></div>
                        <ul class="submenu"
                            style="position: absolute;z-index: 99;width: 88%;margin-top: 10px;background: #FFFFFF;box-shadow: 0px 0px 25px 8px rgba(3, 127, 139, 0.05);border-radius: 4px;">
                            <img src="{% static './images/triangle.svg' %}" style="overflow: hidden;" alt="">
                            <li>
                                <div class="container p-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="price-filter">
                                                <p class="price-filter-title">От 500</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="price-filter">
                                                <p class="price-filter-title">До 3500000</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><input type="text" class="js-range-slider" name="my_range" value=""/></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </li>
                </div>

            </div>

        </div>
    </ul>
</div>
<!-- end filter -->
<!-- logotip product, дочерние компании, homiylar...., bayroqlar va davlat -->

<!-- filter mobile -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <p class="categories_block mt-2">Категории</p>
            <ul id="accordion4_2" class="accordion" style="border-radius: 6px;">

                <li>
                    <div class="link" style="background-color: #FFE700;border-radius: 6px;"><img
                            src="{% static './images/pishevaya.svg' %}"
                            alt=""> <span
                            style="position: absolute;margin-top: 2%;margin-left: 5%;font-family: revert;font-weight: 100;">Пищевая
                промышленность</span><i class="fa fa-chevron-down"></i>
                        <hr class="hr-menu-mobile" style="position: absolute;bottom: -1px;">
                    </div>
                    <ul class="submenu">
                        <li><a href="#">Прокатное производства</a></li>
                        <li><a href="#">Холодильники</a></li>
                        <li>
                            <ul class="accordion5_1">
                                <li>
                                    <a>Lorem ipsum</a>
                                    <p>Lorem ipsum dolor1 </p>
                                    <p>lasdfasd fasdfasdf sadff</p>
                                </li>
                                <li>
                                    <a>Repellat Odit Aliquid</a>
                                    <p>Lorem ipsum dolor1 </p>
                                </li>
                                <li>
                                    <a>Dolor sit Amet</a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit,
                                        ipsum,
                                        fuga, in,
                                        obcaecati magni ullam nobis voluptas fugiat tenetur voluptatum quas tempora
                                        maxime rerum neque
                                        deserunt suscipit provident cumque et mollitia ex aspernatur porro minus
                                        sapiente voluptatibus eos
                                        at perferendis repellat odit aliquid harum molestias ratione pariatur
                                        adipisci.
                                        Aliquid, iure.</p>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Мебель для кухни</a></li>
                        <li><a href="#">Мельница</a></li>
                        <li><a href="#">Переработка молока</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>

<!-- end filter mobile -->
<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <ul class="accordion">
                <h3 class="categories_none"
                    style="margin-bottom: -20px;padding: 15px;color: #132E6B;text-align: left;">
                    Категории</h3>
                <!-- <hr class="hr-menu" style="position: absolute;"> -->
            </ul>
            <div class="sidebar-categories">
                <ul id="accordion" class="accordion">
                    {% for category in categories %}
                    <li>
                        <div class="link">
                            {% if category.image %}
                            <img src="{{ category.image.url }}" style="width:20px" alt="">
                            {% endif %}
                            <a href="?category={{ category.pk }}" style="color:#000;font-family: revert;font-weight: 500;"> <span style="position: absolute;margin-top: 2%;margin-left: 5%;font-family: revert;font-weight: 500;">{{ category.category }}</span></a> <i
                                class="fa fa-chevron-down"></i>
                            <hr class="hr-menu" style="position: absolute;bottom: -1px;">
                        </div>
                        <ul class="submenu">
                                {% for subcategory in category.subcategories.all %}
                                    <li><a href="?subcategory={{ subcategory.pk }}">{{ subcategory }}</a></li>
                                {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}

                    <img src="{% static './images/Group_417.svg' %}" class="icon-left" style="left: -24%;" alt="">

                </ul>


                <!-- <ul class="main-categories">
                        <li class="main-nav-list">
                            {% for categories in category %}
                             <a {% if request.GET.category == categories.pk|stringformat:'i' %}class="a-active"
                {% endif %} onclick="addUrlParameter('category', '{{ categories.pk }}')" style="cursor:pointer">
                                <span class="lnr lnr-arrow-right"></span>{{ categories.title }}<span
                                    class="number"></span></a>
                            {% endfor %}
                        </li>
                    </ul> -->
                <br>
            </div>
        </div>

        <div class="col-xl-9 col-lg-8 col-md-7">
            <div id="message">

            </div>
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center m-auto">
                <div class="sorting mr-auto">

                    <!-- <option value="1">{% trans 'Showing' %} {{ page_obj.start_index }}-{{ page_obj.end_index }} {% trans 'of' %} {{ page_obj.paginator.count }}</option> -->
                    <button class="btn btn-mobile" data-toggle="modal" data-target="#exampleModal1"
                            style="width: 108px;height: 48px;background-color: #f4f5f7;border-radius: 6px;">Фильтр
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"
                                        style="position: absolute;left: 40%;">Фильтр</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <ul id="accordion7_2" class="accordion" style="position:relative">
                                        <div class="filter" style="margin-bottom: 0px;">
                                            <h4>Фильтр</h4>
                                            <p style="float: right;margin-top: -6.5%;">Сбросить</p>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <li style="box-shadow: 0px 6px 20px rgba(169, 169, 170, 0.1);border-radius: 4px;">
                                                        <div class="link" style="padding: 20px 20px 20px 35px;"><i
                                                                class="fa fa-database"></i>Все товары<i class="fa fa-chevron-down"></i></div>
                                                        <ul class="submenu"
                                                            style="position: relative;z-index: 99;width: 100%;margin-top: 12px;background: #FFFFFF;box-shadow: 0px 0px 25px 8px rgba(3, 127, 139, 0.05);border-radius: 4px;">
                                                            <img src="{% static './images/triangle.svg' %}"
                                                                 style="overflow: hidden;" alt="">
                                                              <select onchange="addUrlParameter('sort', this.value)">
                                                                <option value="default">{% trans 'Default' %}</option>
                                                                <option {% if request.GET.sort == 'price' %}selected{% endif %} value="price">{% trans 'Low to high' %}</option>
                                                                <option {% if request.GET.sort == '-price' %}selected{% endif %}  value="-price">{% trans 'High to low' %}</option>
                                                            </select>
                                                            <li><a href="#">Барчаси</a></li>
                                                        </ul>
                                                    </li>
                                                </div>
                                                <br>
                                                <div class="col-md-3">
                                                    <li style="box-shadow: 0px 6px 20px rgba(169, 169, 170, 0.1);border-radius: 4px;">
                                                        <div class="link" style="padding: 20px 20px 20px 35px;"><i class="fas fa-dollar-sign"></i>Валюта<i class="fa fa-chevron-down"></i></div>
                                                        <ul class="submenu"
                                                            style="position: relative;z-index: 99;width: 100%;margin-top: 10px;background: #FFFFFF;box-shadow: 0px 0px 25px 8px rgba(3, 127, 139, 0.05);border-radius: 4px;">
                                                            <img src="{% static './images/triangle.svg' %}"
                                                                 style="overflow: hidden;" alt="">
                                                            <li><a href="#">Доллар</a></li>
                                                            <li><a href="#">Сум</a></li>
                                                        </ul>
                                                    </li>
                                                </div>
                                                <br>
                                                <div class="col-md-3">
                                                    <li style="box-shadow: 0px 6px 20px rgba(169, 169, 170, 0.1);border-radius: 4px;">
                                                        <div class="link" style="padding: 20px 20px 20px 35px;"><i
                                                                class="fa fa-check"></i>В наличии<i class="fa fa-chevron-down"></i></div>
                                                        <ul class="submenu"
                                                            style="position: relative;z-index: 99;width: 100%;margin-top: 10px;background: #FFFFFF;box-shadow: 0px 0px 25px 8px rgba(3, 127, 139, 0.05);border-radius: 4px;">
                                                            <img src="{% static './images/triangle.svg' %}"
                                                                 style="overflow: hidden;" alt="">
                                                            <li><a href="#">В наличии</a></li>
                                                            <li><a href="#">В складе</a></li>
                                                        </ul>
                                                    </li>
                                                </div>
                                                <br>
                                                <div class="col-md-3">
                                                    <li style="box-shadow: 0px 6px 20px rgba(169, 169, 170, 0.1);border-radius: 4px;">
                                                        <div class="link" style="padding: 20px 20px 20px 35px;"><i
                                                                class="fas fa-search-dollar"></i>Цена<br><i
                                                                class="fa fa-chevron-down"></i></div>
                                                        <ul class="submenu"
                                                            style="position: relative;z-index: 99;width: 100%;margin-top: 10px;background: #FFFFFF;box-shadow: 0px 0px 25px 8px rgba(3, 127, 139, 0.05);border-radius: 4px;">
                                                            <img src="{% static './images/triangle.svg' %}"
                                                                 style="overflow: hidden;" alt="">
                                                            <li>
                                                                <div class="container p-3">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="price-filter">
                                                                                <p class="price-filter-title">От
                                                                                    500</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="price-filter">
                                                                                <p class="price-filter-title">ДоФФ
                                                                                    3500000</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <form action="">
                                                                    <input type="range" class="js-range-slider" name="js-range-slider" />
                                                                </form>
                                                            </li>

                                                        </ul>
                                                    </li>
                                                </div>

                                            </div>

                                        </div>
                                    </ul>
                                </div>
                                <div class="modal-footer" style="justify-content: center;border-top: none;">
                                    <ul>
                                        <li>
                                            <button class="button-center button-bottom">
                                                <p style="font-size: 16px;">Применить</p>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab3">
                    <a class="tablinks" onclick="openCity(event, 'Paris')"><img
                            src="{% static './images/sorted.svg' %}"
                            alt=""></a>
                    <a class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen"><img
                            src="{% static './images/six_boxes.svg' %}"
                            alt=""></a>
                </div>

            </div>
            <!-- End Filter Bar -->
            <!-- Start Best Seller -->
            <section class="lattest-product-area  category-list">
                <div id="London" class="tabcontent3">
                    <div class="container-fluid">
                        <div class="row">
                            {% for product in object_list %}
                                <div class="col-md-4 col-6">
                                    {% include 'layouts/product_block.html' %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div id="Paris" class="tabcontent3">
                    <div class="container-z">
                        {% for product in products %}
                            <div class="sort-menu-products">
                            <div class="row">
                                <div class="col-md-3 col-6 d-like" style="position: absolute;z-index: 8;">
                                    <a href="#" class="card-link">
                                        <button class="btn like-mobile-1"><img
                                                src="{% static './images/like.svg' %}"
                                                style="margin-top: 7px;" alt=""></button>
                                    </a>
                                    <a href="#" class="card-link">
                                        <button class="btn new-mobile-1">
                                            <p class="new-mobile-text">NEW!</p>
                                        </button>
                                    </a>
                                </div>

                                <div class="col-md-3 col-6">
                                    <img src="{{ product.image.url }}" style="width: 100%;height: 163px;"
                                         alt="">
                                </div>
                                <div class="col-md-6 col-6 mt-3">
                                    <h4 class="front-title-paris">
                                        {{ product.title }}</h4>
                                    <p class="detail-paris">
                                        Артикул: {{ product.sku }}</p>
                                    <p class="desc-paris">$ {{ product.dollar }} - {{ product.price }} сум</p>
                                    <p class="mob-price" style="margin-left: 2%;">${{ product.dollar }}</p>
                                    <p class="mob-price mt-2" style="margin-left: 2%;">{{ product.price }} cум</p>
                                    <ul>
                                        <li>
                                            <a href="./single-product.html">
                                                <button class="button-left button-bottom-left ds-none2"
                                                        type="button"
                                                        style="width: 127px;height: 52px;">
                                                    <p class="carousel-button-text" style="font-size: 16px;">Заказать</p>
                                                </button>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3 m-like">
                                    <a href="#" class="card-link">
                                        <button class="btn"
                                                style="width: 48px;height: 48px;background-color: #FFF5F5;position: absolute;right: 15px;">
                                            <img
                                                    src="{% static './images/like.svg' %}" style="margin-top: 7px;"
                                                    alt=""></button>
                                    </a>
                                    <a href="#" class="card-link">
                                        <button class="btn"
                                                style="width: 48px;height: 48px;background-color: #2EC1AC;position: absolute;right: 70px;border-radius: 50px;">
                                            <p style="margin-left:-52%;color: #fff;font-weight: normal;font-size: 16px;">
                                                NEW!</p>
                                        </button>
                                    </a>
                                </div>

                                <br>

                            </div>
                            <div class="sort-menu-info">
                                <div class="container">
                                    <div class="row">
                                        {% for j in product.specifications.all %}
                                        <div class="col-md-3">
                                            <p class="info-back-product">{{ j.product_customer }}:</p>
                                        </div>
                                        <div class="col-md-3">
                                            <p style="padding-top: 8%;">{{ j.product_number }}</p>
                                        </div>
                                        {% endfor %}
<!--                                        <div class="col-md-3">-->
<!--                                            <p class="info-back-product">Энергопотребление:</p>-->
<!--                                            <p class="info-back-product">Материал:</p>-->
<!--                                            <p class="info-back-product">Тип энергии:</p>-->
<!--                                        </div>-->
<!--                                        <div class="col-md-3">-->
<!--                                            <p style="padding-top: 3%;">25 кв / ч.</p>-->
<!--                                            <p style="padding-top: 11%;">Зангламас металл S208:</p>-->
<!--                                            <p style="padding-top: 11%;">Ток</p>-->
<!--                                        </div>-->

                                    </div>
                                    <div class="text-center">
                                        <ul>
                                            <li>
                                                <button class="button-product button-bottom-single-product"
                                                        style="right: 0%;margin: auto;display: table;">
                                                    <p style="font-size: 16px;">Заказать</p>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </section>
            <br>
            <!-- pagination menu -->
            <nav aria-label="Page navigation example" style="margin: 20px auto;display: flex;
justify-content: center;">
                <a class="prew_icon" href=""></a>
                <ul style="display: flex;justify-content: center;">
                    {% for page in page_obj.paginator.page_range %}
                    <li class="page_numb{% if page == page_obj.number %}-active {% endif %}"  onclick="addUrlParameter('page', '{{ page }}')" style="cursor:pointer;"><a href="?page={{ page }}" style="color: #132E6B;">{{ page }}</a></li>
                    {% endfor %}
                </ul>
                <a href="?page={{ page }}"></a>
            </nav>

            <!-- end pagination menu -->
            <!-- End Best Seller -->
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">
                <!-- <div class="sorting mr-auto">
                           <select>
                               <option value="1">Show 12</option>
                               <option value="1">Show 12</option>
                               <option value="1">Show 12</option>
                           </select>
                       </div> -->
                <div class="pagination m-auto">
                    <!--                    <a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>-->
                    <!-- {% for page in page_obj.paginator.page_range %}
                           <a {% if page == page_obj.number %}class="active"{% endif %}
                         onclick="addUrlParameter('page', '{{ page }}')" style="cursor:pointer">{{ page }}</a>
                       {% endfor %} -->
                    <!--                    <a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>-->
                </div>
            </div>
            <!-- End Filter Bar -->
        </div>

    </div>
    <div class="container">
        <div class="back_elements" style="margin-top: -2%;">

        </div>
        <img src="{% static './images/Group_417.svg' %}" class="icon-right-transform" style="position: absolute;"
             alt="">
        <h1 class="text-center"
            style="font-weight: 600;font-size: 35px;padding: 20px;margin-top: 30px;margin-left: 5%;">
            Популярные товары</h1>
        <p class="text-center" style="color: silver;">Идейные соображения высшего порядка, а также постоянное
            информационно-<br>пропагандистское обеспечение нашей деятельности представляет собой интересный.</p>
        <br>
        <br>
        <hr style="border: 2px solid #ffe600;width: 100px;text-align: center;margin: auto;border-radius: 20px;">
        <br>
    </div>

    <div class="container">
        <div class="row-1">
            <br>
            <div class="splide_3_2">
                <div class="splide__track" style="height: 520px;">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <div class="col-md-3">
                                <div class="produdcs-section2">
                                    <div class="flex-itm">
                                        <div class="flex-iem-inner">
                                            <!-- card -->
                                            <a href="#">
                                                <div class="card-front bg-violet">
                                                    <a href="#" class="card-link">
                                                        <button class="btn"
                                                                style="width: 48px;height: 48px;background-color: #FFF5F5;position: absolute;right: 10px;">
                                                            <img
                                                                    src="{% static './images/like.svg' %}"
                                                                    style="margin-top: 7px;" alt=""></button>
                                                    </a>
                                                    <a href="#" class="card-link">
                                                        <button class="btn"
                                                                style="width: 48px;height: 48px;background-color: #E97171;position: absolute;right: 70px;border-radius: 50px;">
                                                            <p style="margin-left:-32%;color: #fff;font-weight: normal;">
                                                                -30%</p>
                                                        </button>
                                                    </a>
                                                    <img src="{% static './images/stanok.png' %}"
                                                         style="width: 281px;height: 300px;display: table;margin: auto;"
                                                         alt="">
                                                    <div class="card-text"
                                                         style="background: #F4F5F7;padding: 11px;border-radius: 4px;height: 150px;">
                                                        <h4 class="front-title">Буровая установка БР 73212С</h4>
                                                        <p class="detail">Артикул: US</p>
                                                        <p class="desc">$3 800 - 24 731 675 сум</p>
                                                        <div class="text-center">
                                                            <ul>
                                                                <li>
                                                                    <button class="button-center button-bottom2 mobile-button"
                                                                            style="width: 127px;height: 43px;">
                                                                        <p style="font-size: 13px;">Заказать</p>
                                                                    </button>
                                                                </li>
                                                            </ul>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <!-- /card -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="col-md-3">
                                <div class="produdcs-section2">
                                    <div class="flex-item">
                                        <div class="flex-item-inner">
                                            <!-- card -->
                                            <a href="#">
                                                <div class="card-front bg-violet">
                                                    <a href="#" class="card-link">
                                                        <button class="btn"
                                                                style="width: 48px;height: 48px;background-color: #FFF5F5;position: absolute;right: 10px;">
                                                            <img
                                                                    src="{% static './images/like.svg' %}"
                                                                    style="margin-top: 7px;" alt=""></button>
                                                    </a>
                                                    <a href="#" class="card-link">
                                                        <button class="btn"
                                                                style="width: 48px;height: 48px;background-color: #E97171;position: absolute;right: 70px;border-radius: 50px;">
                                                            <p style="margin-left:-32%;color: #fff;font-weight: normal;">
                                                                -30%</p>
                                                        </button>
                                                    </a>
                                                    <img src="{% static './images/stanok.png' %}"
                                                         style="width: 281px;height: 300px;display: table;margin: auto;"
                                                         alt="">
                                                    <div class="card-text"
                                                         style="background: #F4F5F7;padding: 11px;border-radius: 4px;height: 150px;">
                                                        <h4 class="front-title">Буровая установка БР 73212С</h4>
                                                        <p class="detail">Артикул: US</p>
                                                        <p class="desc">$3 800 - 24 731 675 сум</p>
                                                        <div class="text-center">
                                                            <ul>
                                                                <li>
                                                                    <button class="button-center button-bottom2 mobile-button"
                                                                            style="width: 127px;height: 43px;">
                                                                        <p style="font-size: 13px;">Заказать</p>
                                                                    </button>
                                                                </li>
                                                            </ul>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <!-- /card -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="col-md-3">
                                <div class="produdcs-section2">
                                    <div class="flex-item">
                                        <div class="flex-item-inner">
                                            <!-- card -->
                                            <a href="#">
                                                <div class="card-front bg-violet">
                                                    <a href="#" class="card-link">
                                                        <button class="btn"
                                                                style="width: 48px;height: 48px;background-color: #FFF5F5;position: absolute;right: 10px;">
                                                            <img
                                                                    src="{% static './images/like.svg' %}"
                                                                    style="margin-top: 7px;" alt=""></button>
                                                    </a>
                                                    <a href="#" class="card-link">
                                                        <button class="btn"
                                                                style="width: 48px;height: 48px;background-color: #E97171;position: absolute;right: 70px;border-radius: 50px;">
                                                            <p style="margin-left:-32%;color: #fff;font-weight: normal;">
                                                                -30%</p>
                                                        </button>
                                                    </a>
                                                    <img src="{% static './images/stanok.png' %}"
                                                         style="width: 281px;height: 300px;display: table;margin: auto;"
                                                         alt="">
                                                    <div class="card-text"
                                                         style="background: #F4F5F7;padding: 11px;border-radius: 4px;height: 150px;">
                                                        <h4 class="front-title">Буровая установка БР 73212С</h4>
                                                        <p class="detail">Артикул: US</p>
                                                        <p class="desc">$3 800 - 24 731 675 сум</p>
                                                        <div class="text-center">
                                                            <ul>
                                                                <li>
                                                                    <button class="button-center button-bottom2 mobile-button"
                                                                            style="width: 127px;height: 43px;">
                                                                        <p style="font-size: 13px;">Заказать</p>
                                                                    </button>
                                                                </li>
                                                            </ul>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <!-- /card -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="col-md-3">
                                <div class="produdcs-section2">
                                    <div class="flex-item">
                                        <div class="flex-item-inner">
                                            <!-- card -->
                                            <a href="#">
                                                <div class="card-front bg-violet">
                                                    <a href="#" class="card-link">
                                                        <button class="btn"
                                                                style="width: 48px;height: 48px;background-color: #FFF5F5;position: absolute;right: 10px;">
                                                            <img
                                                                    src="{% static './images/like.svg' %}"
                                                                    style="margin-top: 7px;" alt=""></button>
                                                    </a>
                                                    <a href="#" class="card-link">
                                                        <button class="btn"
                                                                style="width: 48px;height: 48px;background-color: #E97171;position: absolute;right: 70px;border-radius: 50px;">
                                                            <p style="margin-left:-32%;color: #fff;font-weight: normal;">
                                                                -30%</p>
                                                        </button>
                                                    </a>
                                                    <img src="{% static './images/stanok.png' %}"
                                                         style="width: 281px;height: 300px;display: table;margin: auto;"
                                                         alt="">
                                                    <div class="card-text"
                                                         style="background: #F4F5F7;padding: 11px;border-radius: 4px;height: 150px;">
                                                        <h4 class="front-title">Буровая установка БР 73212С</h4>
                                                        <p class="detail">Артикул: US</p>
                                                        <p class="desc">$3 800 - 24 731 675 сум</p>
                                                        <div class="text-center">
                                                            <ul>
                                                                <li>
                                                                    <button class="button-center button-bottom2 mobile-button"
                                                                            style="width: 127px;height: 43px;">
                                                                        <p style="font-size: 13px;">Заказать</p>
                                                                    </button>
                                                                </li>
                                                            </ul>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <!-- /card -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container ">
        <div class="row desk-product">
            {% for product in products|slice:'4'  %}
            <div class="col-md-3">
                {% include 'layouts/product_block.html' %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<br>
<script>
    console.clear();
</script>
{% endblock %}
<!-- Articul id ++++++-->
<!-- 4,5 -->

{% block extra_js %}
<script>
        $(function () {
            var Accordion = function (el, multiple) {
                this.el = el || {};
                this.multiple = multiple || false;

                // Variables privadas
                var links = this.el.find('.link');
                // Evento
                links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
            }

            Accordion.prototype.dropdown = function (e) {
                var $el = e.data.el;
                $this = $(this),
                    $next = $this.next();

                $next.slideToggle();
                $this.parent().toggleClass('open');

                if (!e.data.multiple) {
                    $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
                }
                ;
            }

            var accordion = new Accordion($('#accordion2'), false);
        });


</script>

<script>

        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent3");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();


</script>

<script>
        $(function () {
            var Accordion = function (el, multiple) {
                this.el = el || {};
                this.multiple = multiple || false;

                // Variables privadas
                var links = this.el.find('.link');
                // Evento
                links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
            }

            Accordion.prototype.dropdown = function (e) {
                var $el = e.data.el;
                $this = $(this),
                    $next = $this.next();

                $next.slideToggle();
                $this.parent().toggleClass('open');

                if (!e.data.multiple) {
                    $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
                }
                ;
            }

            var accordion = new Accordion($('#accordion'), false);
        });


</script>
<script>
        $(function () {
            var Accordion = function (el, multiple) {
                this.el = el || {};
                this.multiple = multiple || false;

                // Variables privadas
                var links = this.el.find('.link');
                // Evento
                links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
            }

            Accordion.prototype.dropdown = function (e) {
                var $el = e.data.el;
                $this = $(this),
                    $next = $this.next();

                $next.slideToggle();
                $this.parent().toggleClass('open');

                if (!e.data.multiple) {
                    $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
                }
                ;
            }

            var accordion = new Accordion($('#accordion4_2'), false);
        });



</script>

<script>
      $(".js-range-slider").ionRangeSlider({
        type: "double",
        grid: true,
        min: {{ min_price }},
        max: {{ max_price }},
        prefix: "$",
        onFinish(data) {
            let result = data.from.toString() + ';' + data.to.toString()
            addUrlParameter('price', result);
        }
    });
</script>

<!--asd-->
<script>
        var splide = new Splide('.splide_3_2', {
            perPage: 1,
            rewind: true,
        });

        splide.mount();


</script>

<script>
$(function () {
    var Accordion = function (el, multiple) {
        this.el = el || {};
        this.multiple = multiple || false;

        // Variables privadas
        var links = this.el.find('.link');
        // Evento
        links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
    }

    Accordion.prototype.dropdown = function (e) {
        var $el = e.data.el;
        $this = $(this),
            $next = $this.next();

        $next.slideToggle();
        $this.parent().toggleClass('open');

        if (!e.data.multiple) {
            $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
        }
        ;
    }

    var accordion = new Accordion($('#accordion4'), false);
});
</script>


<!--asd-->

{% endblock %}