{% load static %}
{% load i18n %}
{% load widget_tweaks %}
<style>

@media (max-width: 950px) {
    .alert-warning {
        color: #856404;
        background-color: ##FFE700;
        position: absolute;
        top: 80%;
        width: 93%;
        border-color: #FFE700;
    }
}
@media (min-width: 1000px) {
     .alert-warning {
        color: #856404;
        background-color: #FFE700;
        position: absolute;
        top: 50%;
        width: 43%;
        padding: 65px;
        height: 200px;
        border-color: #FFE700;
    }
 }


</style>

<div class="container mt-5">

    <img src="{% static './images/Group_419.svg' %}" class="icon-right m-3" style="transform: rotate(20.33deg);" alt="">
    <form method="post" role="form" class="form2" action="{% url 'home:request' %}?next={{ request.path }}" style="box-shadow: 0px 6px 20px rgba(169, 169, 170, 0.1);padding: 20px 32px;
    width: 100%;
    margin-top: 20px;">
        {% csrf_token %}
        <h3 class="text-center form-us">{% trans 'Обратная связь с нами' %}</h3>
        <p class="text-center">Идейные соображения высшего порядка, а также постоянное информационно-<br>пропагандистское
            обеспечение нашей деятельности представляет собой интересный.</p>
        <br>
       <img src="{% static './images/title-icon.png' %}"  style="margin:auto;display:block">
        <div class="row mt-3">
            <div class="col-md-6 col-12 p-3">
                <input class="form-control" style="height: 50px;background-color: #F4F5F7;border: none;" name="name"
                       type="text"
                       placeholder="{% trans 'ФИО' %}" required>
            </div>

            <div class="col-md-6 col-12 p-3">
                <input class="form-control" style="height: 50px;background-color: #F4F5F7;border: none;" type="tel"
                       name="phone" placeholder="{% trans 'Ваш номер' %}" required>
            </div>
            <div class="col-md-12 mt-4">
          <textarea class="form-control" style="background-color: #F4F5F7;border: none;" name="message" id="" cols="30" rows="7" placeholder="{% trans 'Введите сообщения' %}"></textarea>
            </div>
                <img src="{% static './images/Settings.svg' %}" class="icon-right m-3" style="left:8%" alt="">
            <div class="text-center" style="margin: auto;">
                <ul>
                    <li>
                        <button class="button-center button-bottom" type="submit">
                            <p style="font-size: 16px;">{% trans 'Отправить' %}</p>
                        </button>
                    </li>
                </ul>
                <br>
            </div>
        </div>

    </form>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="text-align:center">
            <h1 style="font-size:30px">{{ message }}</h1>
            <p>{% trans 'Ваша сообщения успешно отправлено скоро наши операторы с вами свяжутся!!!' %}</p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endfor %}
{% endif %}

</div>