{% extends 'layouts/base.html' %}
{% load i18n %}
{% block title %} {{ object.title }}  {% endblock %}
{% load static %}
{% block content %}
<style>
    p {
        line-height: 25px;
    }
    .fa-angle-left:before {
        margin-right: 8px;
        position: relative;
    }

    .fa-angle-right:before {
        position: relative;
        margin-left: 10px;
    }
    @media screen and (max-width: 900px){
        .left-mobile {
            display: block;
            float: right;
            font-size: 20px;
            color: #333;
            margin-top: 15px;
        }

        .left-desktop {
            display: none;
        }

        .right-desktop {
            display: none;
        }

        .right-mobile2 {
             display: block;
            float: left;
            font-size: 20px;
            color: #333;
            margin-top: 15px;
        }
    }

    @media (min-width: 1200px) {
        .left-mobile {
            display: none;
        }

        .left-desktop {
            float: right;
            font-size: 20px;
            color: #333;
            margin-top: 15px;
        }

        .right-mobile2 {
            display: none;
        }

        .right-desktop {
            float: left;
            font-size: 20px;
            color: #333;
            margin-top: 15px;
        }


    }
</style>

<section class="banner">
    <div class="banner-container container">
        <h1 class="banner-text">{% trans 'Наши работы' %}</h1>
        <div class="banner-links">
            <a href="{% url 'home:home' %}" style="color:#132E6B" class="banner-desc">{% trans 'Главная' %} <span> > </span></a>
            <a href="{% url 'blog:blogs' %}" class="banner-desc-title" style="color:#132E6B;">{% trans 'Наши работы' %}<span> > </span></a>
            <a href="" class="banner-desc-title" style="color:#132E6B;">{{ object.title|safe }}</a>
            </div>
    </div>
</section>

<br>
<img src="{% static './images/settings.svg' %}" class="icon-right" alt="">

<br>


<div class="container ">
    <div class="row">
        <div class="col-md-12">
            <div class="single-blog ">
                <p style="font-size: 32px;color: #131311;line-height: 38px;font-weight: 500;">{{ object.title }}</p>
                <p>{{ object.short_descriptions|safe }}</p>
                <img class="img-fluid" style="margin:15px auto;display: table;max-width: 600px;" width="100%" height="300px"
                     src="{{ object.image.url }}" alt="">
                <br>
                <div class="container mobile-work">
                    <p style="color: #131311;font-size: 16px;line-height: 24px;margin-top: 10px">{{ object.descriptions|safe }} </p>
                    <br>
                    <div class="row">
                        {% for k in workmodel.work_image.all %}
                        <div class="col-md-3">
                            <img src="{{ k.image.url|default:'none' }}" class="img-fluid"
                                 style="display: table;margin: 3px auto;height: 200px" alt="">
                        </div>
                        {% endfor %}
                    </div>
                    <br>
                    <table class="table table-striped" style="border-top: 0px;">
                        <tbody>
                        {% for i in workmodel.work.all %}
                        <tr>
                            <td style="font-weight: 500;">{{ i.work_customer }}</td>
                            <td style="text-align:center">{{ i.work_number }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <img src="{% static './images/Group_418.svg' %}" class="icon-right"
                         style="right:-7%;transform: rotate(-29.52deg);" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container p-3">
    {% if object.get_prev %}
        <a class="right-desktop" href="{% url 'work:single-work' pk=object.get_prev.pk %}">
           <i class="fa-light fa-angle-left"></i>Avvalgisi
        </a>
    {% endif %}

    {% if object.get_next %}
        <a class="left-desktop" href="{% url 'work:single-work' pk=object.get_next.pk %}">
          Keyingisi <i class="fa-light fa-angle-right"></i>
        </a>
    {% endif %}

<!--mobile-->
    {% if object.get_prev %}
        <a class="right-mobile2" href="{% url 'work:single-work' pk=object.get_prev.pk %}">
           <i class="fa-light fa-angle-left"></i>Avvalgisi
        </a>
    {% endif %}

   {% if object.get_next %}
        <a class="left-mobile" href="{% url 'work:single-work' pk=object.get_next.pk %}">
            Keyingisi<i class="fa-light fa-angle-right"></i>
        </a>
   {% endif %}
</div>
<br>
<br>

<script>
        console.clear();
</script>
<!--  Code by Fathulla Latipov LF -->
{% endblock %}