{% extends 'layouts/base.html' %}
{% load i18n %}
{% block title %} {% trans 'Kompaniya haqida' %} {% endblock %}
{% load embed_video_tags %}
{% block content %}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<style>
.us-single-company {
    margin-top: 4%;
}

.us-single-company-container {
    /* max-width: 1600px; */
    width: 100%;
    margin: auto;
}

.us-single-slider {}

.single-company-swiper {
    position: relative;
}

.single-company-swiper-slide img {
    object-fit: cover;
    width: 100%;
    height: 90vh;
}

.single-company-swiper-button {
    position: absolute;
    top: 50%;
    z-index: 9999;
    width: 70px;
    height: 70px;
    object-fit: contain;
    cursor: pointer;
}

.swiper-button_prev {
    left: 20px;
}

.swiper-button_next {
    right: 20px;
}

.single-company-swiper .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: #fff;
}

.single-company-swiper .swiper-pagination-bullet-active-main {
    background-color: #ffe600 !important;
}

.us-single-swiper-pagination {
    margin-bottom: 6%;
}

/* Content */
.us-single-company-content {
    max-width: 100%;
    width: 1210px;
    margin: auto;
    background: #fff;
    padding: 50px 70px;
    transform: translateY(-10%);
    z-index: 998;
    position: relative;
    box-shadow: 0px -10px 43px 21px rgba(0,0,0,0.1);
}

.us-single-company-content-container {
    margin: auto;
}

.us-single-company-content-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.us-single-company-holder {
    position: relative;
}

.us-single-company-content-title {
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
    display: flex;
    flex-direction: column;
}

.us-single-company-content-title::selection {
    background-color: #ffe600;
    color: #333;
}

.us-single-company-content-title::after {
    content: '';
    display: block;
    height: 1px;
    width: 20%;
    background: #333;
    margin-top: 20px;
    align-self: center;
}

.us-single-company-content-shortDesc {
    max-width: 1000px;
    width: 100%;
    color: #8f8f8f;
    margin-bottom: 20px;
    line-height: 140%;
}
.us-single-company-content-shortDesc::selection {
    background-color: #ffe600;
    color: #333;
}

.us-single-company-videoBlock {
    max-width: 900px;
    width: 100%;
    margin: auto;
}

.us-single-company-content-longDesc {
    margin-top: 20px;
    line-height: 150%;
}
.us-single-company-content-longDesc::selection {
    background-color: #ffe600;
    color: #333;
}

.us-single-company-date {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #929292;
}

@media (max-width: 1351px) {
    .us-single-company-content {
        width: 1000px;
    }
    .us-single-swiper-pagination {
        margin-bottom: 9%;
    }
}

@media (max-width: 1150px) {
    .us-single-company-content {
        width: 920px;
    }
    .us-single-swiper-pagination {
        margin-bottom: 11%;
    }
    .us-single-company-content-title {
        font-size: 26px;
    }
    .us-single-company-content {
        width: 920px;
        padding: 50px 40px;
    }
    .single-company-swiper-slide img {
        height: 80vh;
    }
}

@media (max-width: 1010px) {
    .us-single-company-content {
        width: 790px;
        padding: 50px 40px;
        transform: translateY(-8%);
    }
    .us-single-company-content-title {
        font-size: 22px;
    }
    .single-company-swiper-slide img {
        height: 70vh;
    }
}
@media (max-width: 875px) {
    .us-single-company-content {
        width: 660px;
    }
}
@media (max-width: 770px) {
    .us-single-company-content {
        width: auto;
        transform: translateY(0);
        box-shadow: none;
    }
    .us-single-swiper-pagination {
        margin-bottom: 10px;
    }

    .single-company-swiper-slide img {
        height: 55vh;
    }
}

@media (max-width: 550px) {
    .single-company-swiper-slide img {
        height: 45vh;
    }
    .single-company-swiper-button {
        width: 45px;
        height: 45px;
    }
    .us-single-company-videoBlock iframe {
        height: 320px;
    }
}

@media (max-width: 445px) {
    .us-single-company-content {
        padding: 20px;
    }
    .single-company-swiper-slide img {
        height: 30vh;
    }
    .us-single-company-date {
        position: unset;
    }
    .us-single-company-content-longDesc {
        margin-bottom: 10px;
    }
}


</style>
    <div class="us-single-company">
        <div class="us-single-company-container">
            <div class="us-single-slider">
                <div class="swiper mySwiper single-company-swiper">
                    <div class="swiper-wrapper">
                        {% for object in object.images.all %}
                            <div class="swiper-slide single-company-swiper-slide "><img src="{{ object.image.url }}"
                                    alt=""></div>
                        {% endfor %}

                    </div>
                    <!-- If we need navigation buttons -->
                    <img src="/static/images/left-arrow.svg" alt="" class="swiper-button_prev single-company-swiper-button">
                    <img src="/static/images/right-arrow.svg" alt="" class="swiper-button_next single-company-swiper-button">
                    <div class="swiper-pagination us-single-swiper-pagination"></div>
                </div>
            </div>
            <div class="us-single-company-content">
                <div class="us-single-company-content-container">
                    <div class="us-single-company-content-holder">
                        <h2 class="us-single-company-content-title">{{ object.title }}</h2>
                        <p class="us-single-company-content-shortDesc">{{ object.short_descriptions|safe }}</p>
                        <div class="us-single-company-videoBlock">
                                {% video object.video '100%x520' %}
                        </div>
                        <p class="us-single-company-content-longDesc">{{ object.long_descriptions|safe }}</p>
                        <span class="us-single-company-date"><i class="fa-light fa-calendar-image" style="margin-right: 10px;"></i>{{ object.last_date }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
var swiper = new Swiper(".mySwiper", {
    pagination: {
        el: ".swiper-pagination",
        dynamicBullets: true,
    },
    autoplay: {
        delay: 5000,
    },
    navigation: {
        nextEl: ".swiper-button_next",
        prevEl: ".swiper-button_prev",
    },
});
</script>
{% endblock %}