{% extends 'layouts/base.html' %}
{% load i18n %}
{% block title %} {% trans 'Mahsulotlar' %} {% endblock %}
{% load static %}
{% load tags %}
{% load static watermark %}
{% load humanize %}
{% block content %}
<style>
    @media(max-width:900px) {
      .btn.btn-min {
            width: 48px;
            height: 48px;
            background-color: #FFF5F5;
            position: absolute;
            right: 6.3%;
            top: 25px;
        }
    }

      @media(min-width:1000px) {
      .btn.btn-min {
            width: 48px;
            height: 48px;
            background-color: #FFF5F5;
            position: absolute;
            right: 16.3%;
            top: 25px;
        }
    }

.single-product-container {
    max-width: 1500px;
    width: 100%;
    margin: auto;
    margin-top: 1%;
}

.single-product_block {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.single-product-img-Holder {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column-reverse;
}

.single-product-images-list {
    max-height: 600px;
    height: 100%;
    max-width: 100%;
    width: 600px;
    padding: 10px 5px;
    display: flex;
    align-items: center;
}

.single-product-swiper {
    overflow: hidden;
}

.single-product-images-option {
    max-width: 100px;
    width: 100%;
    height: 100px;
    padding: 5px;
    background-color: white;
    border-radius: 15px;
    transition: box-shadow .5s ease-in-out;
    border: 1px solid #eee;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; */
}

.single-product-images-option:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.single-product-images-option.active {
    border: 2px solid #ffe600;
}

.single-product-images-option img {
    max-width: 150px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 10px;
}

.single-product-images-mainImage {
    max-width: 100%;
    width: 600px;
    max-height: 100%;
    height: 600px;
    overflow: hidden;
    margin-left: 5px;
    position: relative;
}

.single-product-images-mainImage::after {
    content: '';
    display: block;
    background: url('{{ object.background.image.url }}') no-repeat center center / contain;
    max-width: 600px;
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: -10;
    top: 10%;
}


/* Content */

.single-product-content-Holder {
    margin-left: 30px;
}

.single-prodcut-title {
    color: #333333;
    font-size: 30px;
    font-weight: 600;
}

.single-products-newproduct {
    color: white;
    background: #ff4500;
    font-size: 24px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
}

.single-product-status-block {
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}

.single-product_status {
    color: #16c67a;
    text-align: center;
    display: flex;
    align-items: center;
}

.on-the-way {
    color: #ffa600;
}
.on-the-way i{
    background-color: #ffa600 !important;
}

.single-product_status i {
    color: #fff;
    font-size: 12px;
    padding: 6px 6px;
    border-radius: 50%;
    background-color: #16c67a;
    margin-right: 5px;
}

.single-product_articuleID {
    color: black;
    font-size: 27px;
    font-weight: 500;
}

.single-product-short-description {
    margin-top: 2%;
    border-top: 1px dashed #333;
    padding-top: 20px;
}

.single-product-miniBlock {
    margin-top: 5%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.single-product-miniInfo-list {
    background: #f7f7f7;
    max-width: 330px;
    width: 100%;
    padding: 15px 10px;
    border-radius: 10px;
}

.single-product-miniInfo-list-info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px;
}

.list-dashed {
    border-top: 1px dashed #333333;
    border-bottom: 1px dashed #333333;
}


/* Banks */
.single-product-buyFromBank-list-holder {
    margin-left: 30px;
}

.single-product-buyFromBank-list {
    display: grid;
    grid-template-columns: repeat(3, 25%);
}

.single-product-buyFromBank-bank {
    transition: .5s ease-in-out;
}

.single-product-buyFromBank-list-title {
    color: #333333;
}

.single-product-buyFromBank-bank-img {
    max-width: 100%;
    width: 150px;
    object-fit: contain;
    transition: .5s ease-in-out;
}

.single-product-buyFromBank-bank:hover .single-product-buyFromBank-bank-img {
    transform: translateY(-10%);
}

.sinle-products-purchase-block {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 5px 10px;
    background-color: white;
    border-radius: 10px;
}

.single-products-product-purchase-container {
    display: flex;
    align-items: center;
}

.single-products-product-priceBlock {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.single-products-product-priceBlock-title {
    font-size: 28px;
}

.single-products-product-priceBlock-usdPrice {
    font-size: 36px;
    color: #ff0000;
    line-height: 100%;
}

.single-products-product-priceBlock-uzsPrice {
    font-size: 20px;
    font-weight: 400;
}

/* Purchase BTn */
.single-products-product-purchase-buy {
    background-image: linear-gradient(to right, #333 0%, #5a5a5a 51%, #333 100%);
    margin: 10px;
    padding: 15px 15px;
    max-width: 100%;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
    background-size: 400% auto;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.single-products-product-purchase-buy:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}


/* Download PDF btn */

.single-products-product-purchase-downloadPDf {
    /* background-image: linear-gradient(to right, #ffa600 0%, #fac666  51%, #ffa600  100%); */
    background: transparent;
    border: 2px solid #ffa600;
    margin: 10px;
    padding: 15px 15px;
    max-width: 100%;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 400% auto;
    color: #333333;
    border-radius: 6px;
    display: block;
    /* border: none; */
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.single-products-product-purchase-downloadPDf:hover {
    background-position: right center;
    /* change the direction of the change here */
    text-decoration: none;
}


/* Product Characteristics */

.single-product-characteristics-container {
    margin-top: 3%;
    margin-bottom: 3%;
    border-top: 2px dashed #333;
    padding-top: 20px;
}

.single-product-characteristics-options-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single-product-characteristics-options-option {
    color: #333;
    margin-left: 10px;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
    border: 1px solid #333;
    /* background-color: white; */
    /* border: 1px solid #333;
    border-top: none;
    border-bottom: none;
    border-left: none; */
    border-radius: 6px;
    text-align: center;
    padding: 15px 10px;
    width: 100%;
    transition: all .4s ease-in-out;
}

.single-product-characteristics-options-option.active {
    background-color: #333;
    color: #fff;
}
/* .single-product-characteristics-options-option:hover {
    background-color: #ffe600;
} */

.single-product-characteristics-optionInfo-block {
    margin-top: 2%;
    border: 1px solid #333;
    padding: 10px 20px;
    border-radius: 10px;
    min-height: 600px;
    height: 100%;
}

.single-product-characteristics-optionInfo-insideBlock {
    display: none;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
.single-product-characteristics-optionInfo-insideBlock.active {
    display: block;
    opacity: 1;
}

.single-product-characteristics-optionInfo-insideBlock ul li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 5px;
}
.single-product-characteristics-optionInfo-insideBlock ul li:hover {
    background-color: #ffe600;
}
.single-product-characteristics-optionInfo-insideBlock ul li:nth-child(even) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #c9c8c8;
}
.single-product-characteristics-optionInfo-insideBlock ul li:hover {
    background-color: #ffe600;
}
/* .single-product-characteristics-optionInfo-insideBlock ul li:nth-child() {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #fff;
} */



/* Share Button */
.single-produce-backgroundinMobile {
    position: relative;
}
.single-product-share-block {
    position: absolute;
    top: 0;
    right: 10px;
    width: 100px;
    height: 100px;
    /* background-color: white; */
    text-align: end;
}
.single-product-shareBtn {
    font-size: 32px;
    color: #333;
    background: #ffe600;
    padding: 0 10px;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
}
.single-product-share-option {
    font-size: 32px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: -10;
    visibility: hidden;
    transition: .4s ease-in-out;
    cursor: pointer;
}
.single-product-share-option:nth-child(1).active {
    transform: translateX(-180%);
    top: -20%;
    visibility: visible;
    z-index: 0;
}
.single-product-share-option:nth-child(1) a {
    color: #0088cc;
}
.single-product-share-option:nth-child(2).active {
    transform: translateX(-160%);
    top: 30%;
    visibility: visible;
    z-index: 0;
}
.single-product-share-option:nth-child(2) a {
    color: #1877f2;
}
.single-product-share-option:nth-child(3).active {
    transform: translateX(-20%);
    visibility: visible;
    top: 55%;
    z-index: 0;
}
.single-product-share-option:nth-child(3) a {
    color: #25d366;
}

/* Media Queries */
@media (max-width: 1450px) {
    .single-product-content-Holder {
        margin-left: 15px;
    }
    .single-product-status-block {
        width: 90%;
    }
    .single-product-buyFromBank-list {
        grid-template-columns: repeat(3, 30%);
    }
    .single-product-characteristics-options-option {
        padding: 10px 5px;
    }
    .single-product-characteristics-optionInfo-block {
        padding: 10px 15px;
        margin: 10px;
    }
    .single-product-characteristics-options-list {
        margin-right: 10px;
    }
    .single-product-miniInfo-list-info {
        padding: 10px;
    }
}

@media (max-width: 1300px) {
    .single-products-product-purchase-container {
        flex-direction: column-reverse;
    }
    .single-product-miniInfo-list {
        padding: 10px;
    }
    .single-products-product-purchase-downloadPDf {
        margin: 0;
        margin-bottom: 10px;
        box-shadow: none;
    }
    .single-products-product-purchase-buy {
        margin: 0;
    }
    .sinle-products-purchase-block {
        align-items: center;
        margin-top: 3%;
    }
}

@media (max-width: 1200px) {
    .single-product-miniInfo-list {
        padding: 0 10px;
    }
    .single-products-product-purchase-container {
        flex-direction: column-reverse;
    }
    .single-products-product-purchase-downloadPDf {
        box-shadow: none;
    }
    .sinle-products-purchase-block {
        align-items: center;
        margin-top: 2%;
    }
    .single-product-miniInfo-list-info {
        padding: 10px;
    }
    .single-product-img-Holder {
        align-items: center;
    }
    .single-product-images-mainImage {
        width: 500px;
        height: 550px;
    }
    .single-product-content-Holder {
        margin-left: 0;
    }
    .single-product-characteristics-options-option {
        font-size: 18px;
    }
    .single-prodcut-title {
        line-height: 150%;
    }
    .single-product-images-list {
        width: 525px;
    }
}


@media (max-width: 1100px) {
    .single-product-images-option {
        height: 85px;
    }
}
@media (max-width: 992px) {
    .single-product-images-mainImage {
        width: 400px;
        height: 450px;
    }
    .single-product-images-mainImage::after {
        height: 480px;
    }
    .single-prodcut-title {
        line-height: 130%;
    }
    .single-product-short-description {
        font-size: 14px;
    }
    .single-product-images-list {
        width: 460px;
    }
    .single-product-images-option {
        height: 70px;
    }
    .single-product-miniInfo-list-infoTitle {
        font-size: 14px;
    }
    .single-products-product-purchase-downloadPDf {
        padding: 10px;
    }
    .single-products-product-purchase-buy {
        padding: 12px;
    }
    .single-product-buyFromBank-list-title {
        font-size: 14px;
    }
    .single-products-product-priceBlock-title {
        font-size: 20px;
    }
    .single-products-product-priceBlock-usdPrice {
        font-size: 30px;
    }
    .single-products-product-priceBlock-uzsPrice {
        font-size: 18px;
    }
    .single-products-newproduct {
        margin-left: 5px;
    }
}

@media (max-width: 880px) {
    .single-product-miniInfo-list-infoTitle {
        font-size: 12px;
    }
    .single-products-product-priceBlock-uzsPrice {
        font-size: 15px;
    }
    .single-products-product-purchase-downloadPDf {
        width: 160px;
        font-size: 13px;
    }
    .single-products-product-purchase-buy {
        width: 160px;
        font-size: 13px;
    }
    .single-prodcut-title {
        font-size: 24px;
    }
    .single-products-newproduct {
        font-size: 16px;
    }
    .single-product_status {
        font-size: 14px;
    }
    .single-product_articuleID {
        font-size: 16px;
    }
    .single-product-images-mainImage  {
        width: 370px;
        height: 380px;
    }
    .single-product-images-list {
        width: 420px;
    }
    .single-product-characteristics-options-option {
        font-size: 17px;
    }
    .single-product-images-mainImage {
        margin-left: 0;
    }
    .single-product-share-block {
        right: 10px;
    }
}

@media (max-width: 800px) {
    .single-product_block {
        flex-direction: column;
        align-items: center;
    }
    .single-product-content-container {
        padding: 10px;
    }
    .single-product-characteristics-options-option {
        font-size: 14px;
    }
    .single-product-miniInfo-list-infoTitle {
        font-size: 15px;
    }
    .single-products-product-priceBlock-title {
        font-size: 28px;
    }
    .single-products-product-priceBlock-usdPrice {
        font-size: 34px;
    }
    .sinle-products-purchase-block {
        margin-top: 0;
    }
    .single-product-characteristics-optionInfo-insideBlock p {
        font-size: 15px;
    }
    .single-product-videoBlock iframe {
        width: 500px;
        height: 300px;
    }
    .single-product-characteristics-optionInfo-block {
        min-height: 100%;
    }
    .single-product-images-option {
        height: 50px;
    }
    .single-product-characteristics-options-option {
        margin-left: 0;
    }
    .single-product-images-mainImage::after {
        top: 0;
    }
    .single-product-status-block {
        width: 95%;
    }
}

@media (max-width: 674px) {
    .single-product-characteristics-options-option {
        font-size: 13px;
    }
    .single-product-characteristics-options-list {
        display: grid;
        grid-template-columns: repeat(2, 40%);
        grid-gap: 5px 20px;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .single-product-images-list {
        width: 340px;
    }
    .single-product-miniBlock {
        flex-direction: column;
    }
    .single-product-buyFromBank-list-holder {
        margin-top: 5%;
        margin-left: 10px;
    }
    .single-product-buyFromBank-list {
        grid-template-columns: repeat(3, 25%);
        justify-content: center;
        grid-gap: 10px;
    }
}
@media (max-width: 300px) {
    .single-product-miniInfo-list-infoTitle {
        font-size: 12px;
    }
    .single-product-images-mainImage {
        width: 266px;
    }
    .single-product-images-list {
        padding: 5px;
    }
    .single-product-images-mainImage {
        height: 345px;
    }
    .single-product-content-container {
        padding: 0;
    }
    .single-product-miniInfo-list {
        padding: 0;
    }
    .single-prodcut-title {
        margin-top: 10px;
    }
    .single-product-images-list {
        width: 270px;
    }
    .single-product-images-option {
        height: 35px;
    }
    .single-products-product-purchase-downloadPDf {
        width: 130px;
        font-size: 10px;
    }
    .single-products-product-purchase-buy {
        width: 130px;
        font-size: 11px;
    }
    .single-products-product-priceBlock-title {
        font-size: 20px;
    }
    .single-products-product-priceBlock-usdPrice {
        font-size: 28px;
    }
    .single-products-product-priceBlock-uzsPrice {
        font-size: 13px;
    }
    .single-product-short-description {
        padding-left: 5px;
    }
    .single-prodcut-title {
        padding-left: 5px;
    }
    .single-products-product-purchase-downloadPDf {
        margin-bottom: 5px;
    }
    .single-product_status {
        padding-left: 5px;
    }
}
</style>
<section class="banner">
    <div class="container">
        <div class="row">

        </div>
        <h1 class="banner-text">{% trans 'Карточка товара' %}</h1>
        <a href="{% url 'home:home' %}" style="color:#132E6B"><p class="banner-desc">{% trans 'Главная' %}</a> <span> > <a
            href="" class="banner-desc-title">{% trans 'Карточка товара' %}</a></span> > <a
            href="" class="banner-desc-title" style="#132E6B;">{{ object.title }}</a></span></p>

        <img src="{% static './images/backgorund-shadow.svg' %}" style="margin-top: -30%;margin-left: -60%;" alt="">
    </div>

</section>

<br>
<br> <div class="single-product-container">
        <div class="single-product_block">
            <div class="single-produce-backgroundinMobile">
                <div class="single-product-img-Holder">
                    <!-- Lists -->

                    <!-- Swiper -->
                    <div class="single-product-swiper mySwiper">
                        <ul class="swiper-wrapper single-product-images-list">
                              {% for i in object.images.all %}
                            <li class="swiper-slide single-product-images-option ">
                                <img src="{{ i.image.url }}" alt="">
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="swiper-pagination"></div>
                    </div>
                    <!-- Image -->
                    <div class="single-product-images-mainImage"
                        style="background: url({{ object.image.url }}) no-repeat center center / contain;"
                        oncontextmenu="return false;">
                        <!-- <img class="single-product-images-mainImage-img" src="./images/us11-removebg-preview.png" alt=""> -->
                    </div>
                </div>
                <div class="single-product-share-block">
                    <buttun class="single-product-shareBtn"><i class="fa-light fa-share-nodes"></i></buttun>
                    <ul class="single-product-share-options">
                        <li class="single-product-share-option"><a href="https://t.me/share/url?url={{ request.get_host }}{{ request.get_full_path }}&text={{ object.title }}" target="_blank"><i class="fa-brands fa-telegram"></i></a></li>
                        <li class="single-product-share-option"><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.get_host }}{{ request.get_full_path }}" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                        <li class="single-product-share-option"><a href="https://wa.me/?text={{ request.get_host }}{{ request.get_full_path }}" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="single-product-content-Holder">
                <div class="single-product-content-container">
                    <!-- Title -->
                    <h2 class="single-prodcut-title">{{ object.title }}
                        {% if object.is_new %}
                            <span class="single-products-newproduct">{% trans 'New' %}</span>
                        {% endif %}
                    </h2>
                    <!-- Status and ID -->
                    <div class="single-product-status-block">
                        {% if object.inbox %}
                        <p class="single-product_status"><i class="fa-light fa-check"></i>{{ object.inbox }}</p>
                        {% endif %}
                        {% if object.delivery %}
                         <p class="single-product_status"><i class="fa-light fa-truck-bolt"></i>{{ object.delivery }}</p>
                        {% endif %}
                        <!-- <p class="single-product_status on-the-way"><i class="fa-light fa-clock-rotate-left"></i> Kelmoqda</p> -->
                        <span class="single-product_articuleID">ID: {{ object.pk }}</span>
                    </div>
                    <!-- Short Description -->
                    <p class="single-product-short-description">{{ object.short_description|safe }}</p>

                    <!-- Convertation and Buy by Bank -->
                    <div class="single-product-miniBlock">
                        <!-- Convertation Icons -->
                        <ul class="single-product-miniInfo-list">
                            <li class="single-product-miniInfo-list-info">
                                <p class="single-product-miniInfo-list-infoTitle"><i
                                        class="fa-light fa-money-bill-transfer"></i> Konvertatsiya xizmatlari uchun 1%
                                </p>
                            </li>
                            <li class="single-product-miniInfo-list-info list-dashed">
                                <p class="single-product-miniInfo-list-infoTitle"><i
                                        class="fa-light fa-building-columns"></i> Bank xizmatlari uchun 0.5%</p>
                            </li>
                            <li class="single-product-miniInfo-list-info">
                                <p class="single-product-miniInfo-list-infoTitle"><i
                                        class="fa-light fa-badge-percent"></i> 15% QQS (so'mda)</p>
                            </li>
                        </ul>

                        <!-- Buy By Bank -->
                        <div class="single-product-buyFromBank-list-holder">
                            <h3 class="single-product-buyFromBank-list-title">Bank orqali xarid qilish</h3>
                            <ul class="single-product-buyFromBank-list">
                                <li class="single-product-buyFromBank-bank">
                                    <a href=""><img class="single-product-buyFromBank-bank-img" src="/static/images/sqb.png"
                                            alt=""></a>
                                </li>
                                <li class="single-product-buyFromBank-bank">
                                    <a href=""><img class="single-product-buyFromBank-bank-img" src="/static/images/qqb.png"
                                            alt=""></a>
                                </li>
                                <li class="single-product-buyFromBank-bank">
                                    <a href=""><img class="single-product-buyFromBank-bank-img"
                                            src="/static/images/ipoteka.png" alt=""></a>
                                </li>
                                <li class="single-product-buyFromBank-bank">
                                    <a href=""><img class="single-product-buyFromBank-bank-img"
                                            src="/static/images/trastbank.png" alt=""></a>
                                </li>
                                <li class="single-product-buyFromBank-bank">
                                    <a href=""><img class="single-product-buyFromBank-bank-img"
                                            src="/static/images/infinbank.png" alt=""></a>
                                </li>
                                <li class="single-product-buyFromBank-bank">
                                    <a href=""><img class="single-product-buyFromBank-bank-img"
                                            src="/static/images/hamkorbank.png" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Purchase-->
                    <div class="sinle-products-purchase-block">
                        <!-- Product Price Block -->
                        <div class="single-products-product-priceBlock">
                            <h3 class="single-products-product-priceBlock-title">Narxi:</h3>
                            <div>
                                <h4 class="single-products-product-priceBlock-usdPrice">${{ object.get_price_dollar }}</h4>
                                <h5 class="single-products-product-priceBlock-uzsPrice"><span> </span> so'm</h5>
                            </div>
                        </div>

                        <!-- Purchase Button -->
                        <div class="single-products-product-purchase-container">
                            <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="single-products-product-purchase-buy"><i
                                    class="fa-solid fa-cart-shopping"></i> Sotib Olish</button>
                            <a href="{{ object.pdf.url|default:'' }}" target="_blank"><button type="submit" class="single-products-product-purchase-downloadPDf"><i
                                    class="fa-solid fa-file"></i> Pdf Yuklab olish</button></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="single-product-characteristics-container">
            <div class="single-product-characteristics-options-block">
                <ul class="single-product-characteristics-options-list">
                    <li id="us-product-1" class="single-product-characteristics-options-option active">Xususiyatlari
                    </li>
                    <li id="us-product-2" class="single-product-characteristics-options-option">Tavsifi</li>
                    <li id="us-product-3" class="single-product-characteristics-options-option">Videolar</li>
                    <li id="us-product-4" class="single-product-characteristics-options-option">Yetkazib Berish</li>
                    <li id="us-product-5" class="single-product-characteristics-options-option">Kafolat shartlari</li>
                </ul>
            </div>
            <div class="single-product-characteristics-optionInfo-block">
                <div id="us-product-1" class="single-product-characteristics-optionInfo-insideBlock active">
                    <ul>
                         {% for z in object.specifications.all %}
                              <li>
                                <p class="single-product-characteristics-title">{{ z.product_customer|safe }}</p>
                                <p class="single-product-characteristics-character">{{ z.product_number|safe }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="us-product-2" class="single-product-characteristics-optionInfo-insideBlock">
                    <p>{{ object.long_description|safe}}</p>
                </div>
                <div id="us-product-3" class="single-product-characteristics-optionInfo-insideBlock">
                    <div class="single-product-videoBlock" style="display: flex;justify-content: center;">
                        <iframe width="1000" height="600" src="https://www.youtube.com/embed/kKlnpUWQWdE"
                            title="Night lovell - Deira City Centre Madness Remix |CAR MUSIC 2021" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div id="us-product-4" class="single-product-characteristics-optionInfo-insideBlock">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, laboriosam modi quam
                        officiis, minus necessitatibus atque in vero ducimus obcaecati quod debitis temporibus laborum
                        eum non mollitia repellendus est doloremque architecto. Magni nulla libero accusantium quod
                        mollitia maiores obcaecati. Error voluptate quasi veniam. Quaerat aspernatur unde, temporibus
                        quae placeat blanditiis. Maiores aliquam est numquam obcaecati assumenda magnam cumque vitae
                        repudiandae accusantium quia. Non et, ratione a ipsum ex qui facilis vero provident, ad repellat
                        quasi reprehenderit. Neque voluptates rerum possimus et delectus velit commodi ab excepturi
                        accusantium placeat. Nostrum libero sequi totam obcaecati natus placeat ipsa excepturi ipsam
                        dignissimos officia.</p>
                </div>
                <div id="us-product-5" class="single-product-characteristics-optionInfo-insideBlock">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, atque nam, debitis quis
                        maxime aperiam ipsa repellat aut, dolorem nobis aspernatur repellendus pariatur ducimus et
                        similique! Cum beatae, optio debitis, illum odio dolore amet eligendi magni necessitatibus
                        voluptates dolorem similique ex officia placeat exercitationem praesentium fugit tempora?
                        Cupiditate, asperiores voluptatibus odio nobis consequatur commodi minima ipsa architecto fuga
                        placeat inventore esse deserunt quam maxime autem, provident soluta? Explicabo fuga libero
                        asperiores, voluptates facere, officiis cum rerum architecto accusamus quibusdam minus facilis
                        illo. Consectetur, quisquam vel suscipit repellendus dicta, quis accusamus cum itaque amet nobis
                        illo animi voluptates nisi harum quaerat? Pariatur at nulla sint error, ullam, repudiandae
                        doloremque id unde iste quo quaerat ad tempore, delectus iusto corrupti vitae eveniet. Atque
                        facere cumque ea, sed eligendi quaerat iste voluptates beatae. Similique autem harum dicta
                        debitis cumque libero minima aperiam. Enim, laudantium inventore! Obcaecati quos animi repellat
                        eaque expedita aperiam iusto.</p>
                </div>
            </div>
        </div>
    </div>
            <div class="row">
                <div class="col-md-6 col-6">
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">{% trans 'Заполните форму и наши операторы с вами свяжутся' %}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    {% include 'form.html' %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" style="height: 55px;margin-top: 5%;"
                                            data-dismiss="modal">{% trans 'Закрыть' %}
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br>
        </div>
    </div>
</div>
<div class="container">
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="text-align:center">
            <h1 style="font-size:30px">{{ message }}</h1>
            <p>{% trans 'Ваша сообщения успешно отправлено скоро наши операторы с вами свяжутся!!!' %}</p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endfor %}
{% endif %}
</div>
<br>
{#<div data-aos="fade-right">#}
{#    <div class="container">#}
{#        <p class="description_prod">{% trans 'Характеристики и описания оборудования' %}</p>#}
{#    </div>#}
{#    <div class="container" style="border: 1px solid #C9C8D3;border-radius: 4px;padding: 20px;">#}
{#        <table class="table table-striped">#}
{#            <tbody>#}
{#            {% for z in object.specifications.all %}#}
{#            <tr>#}
{#                <td style="font-weight: 500;">{{ z.product_customer|safe }}</td>#}
{#                <td style="text-align:center">{{ z.product_number|safe }}</td>#}
{#                <td style="text-align:center"><img src="{% if z.product_image %} {{ z.product_image.url }} {% endif %}"#}
{#                                                   style="width:44px" alt=""></td>#}
{#            </tr>#}
{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#        <p style=" border-bottom: 3px silver dashed;"></p>#}
{#        <br>#}
{#        <p class="description_long">{{ object.long_description|safe }} </p>#}
{#        <br>#}
{#    </div>#}
{#</div>#}
<br>
<br>

    <div class="container">
        <h1 class="text-center"
            style="font-weight: 600;font-size: 35px;padding: 20px;margin-top: 30px;margin-left: 5%;">
            {% trans 'Популярные товары' %}</h1>
        <p class="text-center" style="color: silver;">Идейные соображения высшего порядка, а также постоянное
            информационно-<br>пропагандистское обеспечение нашей деятельности представляет собой интересный.</p>
        <br>
        <br>
        <hr style="border: 2px solid #ffe600;width: 100px;text-align: center;margin: auto;border-radius: 20px;">
        <br>

    </div>


<div class="container">
    <div class="row-1">
        <br>
        <div class="splide_3_2">
            <div class="splide__track">
                    <ul class="splide__list" style="height:700px">
                     {% for product in products %}
                        <li class="splide__slide">
                             <div class="us-products">
                                  {% include 'layouts/product_block.html' %}
                              </div>
                        </li>
                      {% endfor %}
                    </ul>
                </div>
        </div>
    </div>
</div>


<div class="products-none">
      <div class="us-products">
            {% for product in products|slice:'4'  %}
                {% include 'layouts/product_block.html' %}
            {% endfor %}
     </div>
</div>




<br>


<br>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
{% block extra_js %}
<script>
var swiper = new Swiper(".mySwiper", {
    direction: "horizontal",
    slidesPerView: 3,
    spaceBetween: 15,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });

//   Slider Get  Image
const singleProductImages = document.querySelectorAll('.single-product-images-option img')
const singleProductImage = document.querySelector('.single-product-images-mainImage');
let lastActiveProductImage;

// singleProductImages[0].parentElement.classList.add('active');

singleProductImages.forEach(singleProductImageElement => {
    if (singleProductImageElement.parentElement.classList.contains('active')) {
        lastActiveProductImage = singleProductImageElement.parentElement;
    }
    singleProductImageElement.addEventListener('click', () => {
        console.log(singleProductImageElement.src)
        const singleProductNewImage = singleProductImageElement.src.split('products/')[1];
        singleProductImage.style.background = `url(/media/products/${singleProductNewImage}) no-repeat center center / contain`
        lastActiveProductImage.classList.remove('active')
        lastActiveProductImage = singleProductImageElement.parentElement;
        singleProductImageElement.parentElement.classList.add('active')
    })
//    single-product-images-option
})



var zoomedImage = document.querySelector('.single-product-images-mainImage');

if (zoomedImage) {
// Zoom image on mouse enter.
zoomedImage.addEventListener('mouseenter', function(e) {
    this.style.backgroundSize = "200%";
}, false);


// Show different parts of image depending on cursor position.
zoomedImage.addEventListener('mousemove', function(e) {

    // getBoundingClientReact gives us various information about the position of the element.
    var dimentions = this.getBoundingClientRect();

    // Calculate the position of the cursor inside the element (in pixels).
    var x = e.clientX - dimentions.left;
    var y = e.clientY - dimentions.top;

    // Calculate the position of the cursor as a percentage of the total width/height of the element.
    var xpercent = Math.round(100 / (dimentions.width / x));
    var ypercent = Math.round(100 / (dimentions.height / y));

    // Update the background position of the image.
    this.style.backgroundPosition = xpercent+'% ' + ypercent+'%';

}, false);


// When leaving the container zoom out the image back to normal size.
zoomedImage.addEventListener('mouseleave', function(e) {
    this.style.backgroundSize = "contain";
    this.style.backgroundPosition = "center";
}, false);
}

// Product Characteristics

const characteristicsOptions = document.querySelectorAll('.single-product-characteristics-options-option');
const characteristicsContent = document.querySelectorAll('.single-product-characteristics-optionInfo-insideBlock');
let lastcharacteristicsOption, lastcharacteristicsListOption;

characteristicsOptions.forEach(element => {

    if (element.classList.contains('active')) {
        lastcharacteristicsListOption = element;
    }

    element.addEventListener('click', () => {
        lastcharacteristicsListOption.classList.remove('active');
        lastcharacteristicsListOption = element;
        element.classList.add('active')

        characteristicsContent.forEach(contentElement => {
            if (element.id === contentElement.id) {
                contentElement.classList.add('active')
            }
            else {
                contentElement.classList.remove('active')
            }
        })
    })
})


// Share Button
const shareBtn = document.querySelector('.single-product-shareBtn');
const shareBtnOption = document.querySelectorAll('.single-product-share-option');

shareBtn.addEventListener('click', () => {
    shareBtnOption.forEach(element => {
        element.classList.toggle('active')
    })
})
</script>
<script>
      function add_to_wishlist(element, pk) {
        $.getJSON('/products/' + "wishlist/" + pk, function (data) {
            if (!data.status) {
               $('#message').append(`<div style="padding:5px">
                        <div id="inner-message" class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            Error
                        </div>
                    </div>`);
            } else {
                if (data.added) {
                    $('#message');
                    element.innerHTML = '<button class="btn-like2" type="submit"><img src="{% static './images/red_active.svg' %}"alt=""></button>'
                } else {
                    $('#message');
                     element.innerHTML = '<button class="btn-like2" type="submit"><img src="{% static './images/like.svg' %}"alt=""></button>'
                }
                  $('.like_count').html(data.wishlist_len);
            }
        });
    }
</script>
<script>
  var splide = new Splide('.splide_3_2', {
    perPage: 1,
    rewind: true,
  });

  splide.mount();


</script>
<script>
$(".nav-2 li").hover(function () {
	$(this).children("ul").stop().delay(200).animate({height: "toggle", opacity: "toggle"}, 200);
});
</script>
<script>
    $(function() {
	var Accordion = function(el, multiple) {
		this.el = el || {};
		this.multiple = multiple || false;

		// Variables privadas
		var links = this.el.find('.link');
		// Evento
		links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
	}

	Accordion.prototype.dropdown = function(e) {
		var $el = e.data.el;
			$this = $(this),
			$next = $this.next();

		$next.slideToggle();
		$this.parent().toggleClass('open');

		if (!e.data.multiple) {
			$el.find('.submenu').not($next).slideUp().parent().removeClass('open');
		};
	}

	var accordion = new Accordion($('#accordion6_4'), false);
});


</script>
<script>
       // Currency
        const apiUrl = 'https://nbu.uz/en/exchange-rates/json/'
        const usdSinglePrice = document.querySelector('.single-products-product-priceBlock-usdPrice').innerHTML.substring(1);
        const uzsSinglePrice = document.querySelector('.single-products-product-priceBlock-uzsPrice span')

        // Currency
        async function singleExchangeCurrency(usd, element) {
            let response = await fetch(apiUrl);

            if (response.ok) {
                let json = await response.json();
                let CurrencyRate = json[json.length - 1]['cb_price'];
                let finalPrice = Math.floor(CurrencyRate * usd);
                element.innerHTML = finalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
            } else {
                alert("HTTP-Error: " + response.status);
            }
        }


         singleExchangeCurrency(usdSinglePrice, uzsSinglePrice)


</script>
{% endblock %}

{% endblock %}