{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% block content %}

<section class="banner">
    <div class="container">
        <div class="row">

        </div>
        <h1 class="banner-text">{% trans 'Карточка товара' %}</h1>
        <a href="/" style="color:#132E6B"><p class="banner-desc">{% trans 'Главная' %}</a> <span> > <a href="" class="banner-desc-title">{% trans 'Карточка товара' %}</a></span> > <a
                href="" class="banner-desc-title">{{ object.title }}</a></span></p>

        <img src="{% static './images/backgorund-shadow.svg' %}" style="margin-top: -30%;margin-left: -60%;" alt="">
    </div>

</section>

<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="single-image">
                <div class="product-gallery">
                    <div class="product-image">
                        <img class="active" src="{{ object.image.url }}"
                             style="width: 100%;margin-top: 10px;height: 450px;">
                    </div>
                    <ul class="image-list" style="margin-left: 2%;">
                        <li class="image-item"><img style="width: 80px;height: 79px;padding: 2px;"
                                                    src="{{ object.image.url }}"></li>
                        {% for i in object.images.all %}
                        <li class="image-item"><img style="width: 80px;height: 79px;padding: 2px;"
                                                    src="{{ i.image.url }}"></li>
                        {% endfor %}
                    </ul>
                </div>
                <a onclick="add_to_wishlist(this, {{ object.pk }})" class="card-link">
                    <button class="btn"
                            style="width: 48px;height: 48px;background-color: #FFF5F5;position: absolute;right: 16.3%;top: 25px;">
                        <img
                                src="{% static './images/like.svg' %}" style="margin-top: 7px;" alt=""></button>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <p class="single-product-title" style="font-size: 24px;">{{ object.title }}</p>
            <div class="row">
                <div class="col-md-6 mt-3">
                    <p class="in_box"><img src="{% static './images/radius.svg' %}" alt="">
                       {% if object.inbox == object.pk %}
                        {{ object.inbox }}aaa
                       {% elif object.delivery == object.pk %}
                        {{ object.delivery }}
                       {% endif %}
                    </p>
                </div>
                <div class="col-md-6 mt-3">
                    <p class="in_article">{% trans 'Артикул' %}:{{ object.sku }}</p>
                </div>
            </div>
            <p class="desc_prod mt-4">{{ object.short_description|safe }}</p>
            <div class="row">
                <div class="col-md-6 mt-4">
                    <p class="price_prod">{% trans 'Цена в долорах' %}:</p>
                    <h3 class="count_prod">${{ object.dollar }}</h3>
                </div>
                <div class="col-md-6 mt-4">
                    <p class="price_prod">{% trans 'Цена в суммах' %}:</p>
                    <h3 class="count_prod">{{ object.price|intcomma }} сум</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-6">
                    <div class="numbers_prod">
                        <p class="count_num">Количество</p>
                        <div class='ctrl mt-2'>
                            <div class='ctrl-button ctrl-button-decrement'>-</div>
                            <div class='ctrl-counter'>
                                <input class='ctrl-counter-input' maxlength='10' type='text' value='1'>
                                <div class='ctrl-counter-num'>1</div>
                            </div>
                            <div class='ctrl-button ctrl-button-increment'>+</div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-6">
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">{% trans 'Заполните форму и наши операторы с вами свяжутся' %}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                  {% include 'requests.html' %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" style="height: 55px;margin-top: 5%;"
                                            data-dismiss="modal">{% trans 'Закрыть' %}
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="numbers_prod" style="margin-left: 20%;margin-top: 35px;">
                        <ul>
                            <li>
                                <button id="single-buttom" class="button-left button-bottom-left" type="button"
                                        data-toggle="modal" data-target="#exampleModalCenter"
                                        style="width: 113px;height: 57px;">
                                    <p class="carousel-button-text">{% trans 'Купить' %}</p>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="numbers_prod">
                        <p class="mas"><a href="https://qishloqqurilishbank.uz/ru/credits/dlya-fizicheskikh-lic" target="_blank"
                                          style="border-bottom: 1px dashed #132E6B;color: #132E6B;list-style-type: none;">{% trans 'Купить через банк' %}</a></p>
                    </div>
                </div>
            </div>
            <a href="{{ object.pdf.url }}"> <img src="{% static './images/pdf' %} 1.svg" alt=""><span
                    class="download_pdf">{% trans 'Скачать Pdf' %}</span></a>
        </div>
        <img src="{% static './images/settings.svg' %}" class="icon-right" style="transform: rotate(-25deg);" alt="">
        <img src="{% static './images/Group_419.svg' %}" class="icon-right-2"
             style="position: absolute;right: 27%;transform: rotate(-35deg);" alt="">
    </div>
</div>
<br>
<div data-aos="fade-right">
    <div class="container">
        <p class="description_prod">{% trans 'Характеристики и описания оборудования' %}</p>
    </div>
    <div class="container" style="border: 1px solid #C9C8D3;border-radius: 4px;padding: 20px;">
        <table class="table table-striped">
            <tbody>
            {% for z in object.specifications.all %}
            <tr>
                <td style="font-weight: 500;">{{ z.product_customer|safe }}</td>
                <td style="text-align:center">{{ z.product_number|safe }}</td>
                <td style="text-align:center"><img src="{% if z.product_image %} {{ z.product_image.url }} {% endif %}"
                                                   style="width:44px" alt=""></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <p style=" border-bottom: 3px silver dashed;"></p>
        <br>
        <p class="description_long">{{ object.long_description|safe }} </p>
        <br>
    </div>
</div>
<img src="{% static './images/Group_418.svg' %}" class="icon-left" style="width: 90px;margin-left: 4%;" alt="">
<br>
<br>

<div class="container">
    <div class="back_elements">

    </div>
    <img src="{% static './images/Group_417.svg' %}" class="icon-right-transform" style="position: absolute;" alt="">
    <h1 class="text-center" style="font-weight: 600;font-size: 35px;padding: 20px;margin-top: 30px;margin-left: 5%;">
        {% trans 'Популярные товары' %}</h1>
    <p class="text-center" style="color: silver;">Идейные соображения высшего порядка, а также постоянное
        информационно-<br>пропагандистское обеспечение нашей деятельности представляет собой интересный.</p>
    <br>
    <hr style="border: 2px solid #ffe600;width: 100px;text-align: center;margin: auto;border-radius: 20px;background-color: #ffe700;">
</div>

<div class="container">
    <div class="row-1">
        <br>
        <div class="splide_3_2">
            <div class="splide__track" style="height: 520px;">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <div class="col-md-3">
                            <div class="produdcs-section2">
                                <div class="flex-itm">
                                    <div class="flex-iem-inner">
                                        <!-- card -->
                                        <a href="#">
                                            <div class="card-front bg-violet">
                                                <a href="#" class="card-link">
                                                    <button class="btn"
                                                            style="width: 48px;height: 48px;background-color: #FFF5F5;position: absolute;right: 10px;">
                                                        <img
                                                                src="{% static './images/like.svg' %}"
                                                                style="margin-top: 7px;" alt=""></button>
                                                </a>
                                                <a href="#" class="card-link">
                                                    <button class="btn"
                                                            style="width: 48px;height: 48px;background-color: #E97171;position: absolute;right: 70px;border-radius: 50px;">
                                                        <p style="margin-left:-32%;color: #fff;font-weight: normal;">
                                                            -30%</p>
                                                    </button>
                                                </a>
                                                <img src="{% static './images/stanok.png' %}"
                                                     style="width: 281px;height: 300px;display: table;margin: auto;"
                                                     alt="">
                                                <div class="card-text"
                                                     style="background: #F4F5F7;padding: 11px;border-radius: 4px;height: 150px;">
                                                    <h4 class="front-title">Буровая установка БР 73212С</h4>
                                                    <p class="detail">Артикул: US</p>
                                                    <p class="desc">$3 800 - 24 731 675 сум</p>
                                                    <div class="text-center">
                                                        <ul>
                                                            <li>
                                                                <button class="button-center button-bottom2 mobile-button"
                                                                        style="width: 127px;height: 43px;">
                                                                    <p style="font-size: 13px;">Заказать</p>
                                                                </button>
                                                            </li>
                                                        </ul>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- /card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="col-md-3">
                            <div class="produdcs-section2">
                                <div class="flex-item">
                                    <div class="flex-item-inner">
                                        <!-- card -->
                                        <a href="#">
                                            <div class="card-front bg-violet">
                                                <a href="#" class="card-link">
                                                    <button class="btn"
                                                            style="width: 48px;height: 48px;background-color: #FFF5F5;position: absolute;right: 10px;">
                                                        <img
                                                                src="{% static './images/like.svg' %}"
                                                                style="margin-top: 7px;" alt=""></button>
                                                </a>
                                                <a href="#" class="card-link">
                                                    <button class="btn"
                                                            style="width: 48px;height: 48px;background-color: #E97171;position: absolute;right: 70px;border-radius: 50px;">
                                                        <p style="margin-left:-32%;color: #fff;font-weight: normal;">
                                                            -30%</p>
                                                    </button>
                                                </a>
                                                <img src="{% static './images/stanok.png' %}"
                                                     style="width: 281px;height: 300px;display: table;margin: auto;"
                                                     alt="">
                                                <div class="card-text"
                                                     style="background: #F4F5F7;padding: 11px;border-radius: 4px;height: 150px;">
                                                    <h4 class="front-title">Буровая установка БР 73212С</h4>
                                                    <p class="detail">Артикул: US</p>
                                                    <p class="desc">$3 800 - 24 731 675 сум</p>
                                                    <div class="text-center">
                                                        <ul>
                                                            <li>
                                                                <button class="button-center button-bottom2 mobile-button"
                                                                        style="width: 127px;height: 43px;">
                                                                    <p style="font-size: 13px;">Заказать</p>
                                                                </button>
                                                            </li>
                                                        </ul>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- /card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="col-md-3">
                            <div class="produdcs-section2">
                                <div class="flex-item">
                                    <div class="flex-item-inner">
                                        <!-- card -->
                                        <a href="#">
                                            <div class="card-front bg-violet">
                                                <a href="#" class="card-link">
                                                    <button class="btn"
                                                            style="width: 48px;height: 48px;background-color: #FFF5F5;position: absolute;right: 10px;">
                                                        <img
                                                                src="{% static './images/like.svg' %}"
                                                                style="margin-top: 7px;" alt=""></button>
                                                </a>
                                                <a href="#" class="card-link">
                                                    <button class="btn"
                                                            style="width: 48px;height: 48px;background-color: #E97171;position: absolute;right: 70px;border-radius: 50px;">
                                                        <p style="margin-left:-32%;color: #fff;font-weight: normal;">
                                                            -30%</p>
                                                    </button>
                                                </a>
                                                <img src="{% static './images/stanok.png' %}"
                                                     style="width: 281px;height: 300px;display: table;margin: auto;"
                                                     alt="">
                                                <div class="card-text"
                                                     style="background: #F4F5F7;padding: 11px;border-radius: 4px;height: 150px;">
                                                    <h4 class="front-title">Буровая установка БР 73212С</h4>
                                                    <p class="detail">Артикул: US</p>
                                                    <p class="desc">$3 800 - 24 731 675 сум</p>
                                                    <div class="text-center">
                                                        <ul>
                                                            <li>
                                                                <button class="button-center button-bottom2 mobile-button"
                                                                        style="width: 127px;height: 43px;">
                                                                    <p style="font-size: 13px;">Заказать</p>
                                                                </button>
                                                            </li>
                                                        </ul>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- /card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="col-md-3">
                            <div class="produdcs-section2">
                                <div class="flex-item">
                                    <div class="flex-item-inner">
                                        <!-- card -->
                                        <a href="#">
                                            <div class="card-front bg-violet">
                                                <a href="#" class="card-link">
                                                    <button class="btn"
                                                            style="width: 48px;height: 48px;background-color: #FFF5F5;position: absolute;right: 10px;">
                                                        <img
                                                                src="{% static './images/like.svg' %}"
                                                                style="margin-top: 7px;" alt=""></button>
                                                </a>
                                                <a href="#" class="card-link">
                                                    <button class="btn"
                                                            style="width: 48px;height: 48px;background-color: #E97171;position: absolute;right: 70px;border-radius: 50px;">
                                                        <p style="margin-left:-32%;color: #fff;font-weight: normal;">
                                                            -30%</p>
                                                    </button>
                                                </a>
                                                <img src="{% static './images/stanok.png' %}"
                                                     style="width: 281px;height: 300px;display: table;margin: auto;"
                                                     alt="">
                                                <div class="card-text"
                                                     style="background: #F4F5F7;padding: 11px;border-radius: 4px;height: 150px;">
                                                    <h4 class="front-title">Буровая установка БР 73212С</h4>
                                                    <p class="detail">Артикул: US</p>
                                                    <p class="desc">$3 800 - 24 731 675 сум</p>
                                                    <div class="text-center">
                                                        <ul>
                                                            <li>
                                                                <button class="button-center button-bottom2 mobile-button"
                                                                        style="width: 127px;height: 43px;">
                                                                    <p style="font-size: 13px;">Заказать</p>
                                                                </button>
                                                            </li>
                                                        </ul>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- /card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container ">
    <div class="row desk-product">
        {% for product in related|slice:':4' %}
            <div class="col-md-3">
            <div class="produdcs-section">
                <div class="flex-item">
                    <div class="flex-item-inner">
                        <!-- card -->
                        <a href="#">
                            <div class="card-front bg-violet">
                                <a href="#" class="card-link">
                                    <button class="btn"
                                            style="width: 48px;height: 48px;background-color: #FFF5F5;position: absolute;right: 10px;">
                                        <img
                                                src="{% static './images/like.svg' %}" style="margin-top: 7px;" alt="">
                                    </button>
                                </a>
                                <a href="#" class="card-link">
                                    <button class="btn"
                                            style="width: 48px;height: 48px;background-color: #E97171;position: absolute;right: 70px;border-radius: 50px;">
                                        <p style="margin-left:-32%;color: #fff;font-weight: normal;">-30%</p>
                                    </button>
                                </a>
                                <img src="{{ product.image.url }}" class="product-image-url" alt="">
                                <div class="card-text">
                                    <h4 class="front-title">{{ object.title }}</h4>
                                    <p class="detail">{% trans 'Артикул' %}: {{ object.sku }}</p>
                                    <p class="detail">{% trans 'Город' %}: {{ object.city }}</p>
                                    <p class="desc">${{ object.dollar }} - {{ object.price }} сум</p>
                                </div>
                            </div>
                            <div class="card-back bg-violet">
                                <p class="back-title">{{ object.title }}</p>
                                <p class="desc">${{ object.dollar }} - {{ object.price }} сум</p>
                                <div class="container">
                                    <div class="spetifications" style="margin-top: 15%;padding: 1px;">
                                        <div class="row">
                                            {% for j in object.specifications.all %}
                                            <div class="col-md-6">

                                                <p style="font-size: 14px;margin-bottom: 8px;">
                                                    {{ j.product_customer }}:</p>
                                            </div>
                                            <br>
                                            <div class="col-md-6">
                                                <p style="font-size: 14px;margin-bottom: 8px;">
                                                    {{ j.product_number }}</p>
                                            </div>
                                            <br>
                                            <br>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="buttons" style="text-align: center;padding: 10px;">
                                    <ul>
                                        <li>
                                            <button class="button-product button-bottom-product">
                                                <p style="font-size: 16px;">{% trans 'Заказать' %}</p>
                                            </button>
                                        </li>
                                    </ul>
                                    <a href="#" class="card-link">
                                        <button class="btn-like2"><img src="{% static './images/like.svg' %}"
                                                                       alt=""></button>
                                    </a>
                                </div>
                            </div>
                        </a>
                        <!-- /card -->
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>

<br>


<br>
<script>
  (function () {
    'use strict';

    function ctrls() {
      var _this = this;

      this.counter = 1;
      this.els = {
        decrement: document.querySelector('.ctrl-button-decrement'),
        counter: {
          container: document.querySelector('.ctrl-counter'),
          num: document.querySelector('.ctrl-counter-num'),
          input: document.querySelector('.ctrl-counter-input')
        },
        increment: document.querySelector('.ctrl-button-increment')
      };

      this.decrement = function () {
        var counter = _this.getCounter();
        var nextCounter = (_this.counter > 0) ? --counter : counter;
        _this.setCounter(nextCounter);
      };

      this.increment = function () {
        var counter = _this.getCounter();
        var nextCounter = (counter < 9999999999) ? ++counter : counter;
        _this.setCounter(nextCounter);
      };

      this.getCounter = function () {
        return _this.counter;
      };

      this.setCounter = function (nextCounter) {
        _this.counter = nextCounter;
      };

      this.debounce = function (callback) {
        setTimeout(callback, 100);
      };

      this.render = function (hideClassName, visibleClassName) {
        _this.els.counter.num.classList.add(hideClassName);

        setTimeout(function () {
          _this.els.counter.num.innerText = _this.getCounter();
          _this.els.counter.input.value = _this.getCounter();
          _this.els.counter.num.classList.add(visibleClassName);
        },
          100);

        setTimeout(function () {
          _this.els.counter.num.classList.remove(hideClassName);
          _this.els.counter.num.classList.remove(visibleClassName);
        },
          200);
      };

      this.ready = function () {
        _this.els.decrement.addEventListener('click',
          function () {
            _this.debounce(function () {
              _this.decrement();
              _this.render('is-decrement-hide', 'is-decrement-visible');
            });
          });

        _this.els.increment.addEventListener('click',
          function () {
            _this.debounce(function () {
              _this.increment();
              _this.render('is-increment-hide', 'is-increment-visible');
            });
          });

        _this.els.counter.input.addEventListener('input',
          function (e) {
            var parseValue = parseInt(e.target.value);
            if (!isNaN(parseValue) && parseValue >= 0) {
              _this.setCounter(parseValue);
              _this.render();
            }
          });

        _this.els.counter.input.addEventListener('focus',
          function (e) {
            _this.els.counter.container.classList.add('is-input');
          });

        _this.els.counter.input.addEventListener('blur',
          function (e) {
            _this.els.counter.container.classList.remove('is-input');
            _this.render();
          });
      };
    };

    // init
    var controls = new ctrls();
    document.addEventListener('DOMContentLoaded', controls.ready);
  })();


</script>
<script>
  const activeImage = document.querySelector(".product-image .active");
  const productImages = document.querySelectorAll(".image-list img");
  const navItem = document.querySelector('a.toggle-nav');

  function changeImage(e) {
    activeImage.src = e.target.src;
  }

  function toggleNavigation(){
    this.nextElementSibling.classList.toggle('active');
  }

  productImages.forEach(image => image.addEventListener("click", changeImage));
  navItem.addEventListener('click', toggleNavigation);


</script>
<script>
    function add_to_wishlist(element, pk) {
        $.getJSON('/products/' + "wishlist/" + pk, function (data) {
            if (!data.status) {
               $('#message').append(`<div style="padding:5px">
                        <div id="inner-message" class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            Error
                        </div>
                    </div>`);
            } else {
                if (data.added) {
                    $('#message').append(`<div style="padding:5px">
                        <div id="inner-message" class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            Added to wishlist
                        </div>
                    </div>`);
                } else {
                    $('#message').append(`<div style="padding:5px">
                        <div id="inner-message" class="alert alert-success">
                            <button type="button" onclick="MyFunction()" class="close" data-dismiss="alert">&times;</button>
                            Removed from wishlist
                        </div>
                    </div>`);
                }
                  $('#wishlist_length2').html(data.wishlist_len);
            }
        });
    }
</script>
<script>
  var splide = new Splide('.splide_3_2', {
    perPage: 1,
    rewind: true,
  });

  splide.mount();


</script>
<script>
  AOS.init();


</script>

{% endblock %}