{% extends 'layouts/base.html' %}
{% load i18n %}
{% block title %} {% trans 'Bizning maqolalar' %} {% endblock %}
{% load static %}
{% block content %}

<section class="banner">
    <div class="banner-container container">
        <h1 class="banner-text">{{ object.title }}</h1>
        <div class="banner-links">
            <a href="{% url 'home:home' %}" style="color:#132E6B" class="banner-desc">{% trans 'Главная' %} <span> > </span></a>
            <a href="{% url 'blog:blogs' %}" class="banner-desc-title" style="color:#132E6B;">{% trans 'Наши статьи' %} <span> > </span></a>
            <a href="" class="banner-desc-title" style="color:#132E6B;">{{ object.title|safe }}</a>
            </div>
    </div>
</section>


  <br>
  <br>
  <div class="container mt-4">
    <img src="{{ object.image.url }}" style="filter: drop-shadow(0px 4px 6px rgba(105, 105, 105, 0.25));
    border-radius: 6px;width: 100%;height: 600px" alt="">
    <br>
    <p style="margin-top: 10px; font-size: 18px;font-family: sans-serif;line-height: 140%;">{{ object.description|safe }}</p>
    <br>
      <br>

    <div class="best-text">
      <img src="{% static './images/azx.svg' %}" alt="">
      <br>
      <p class="best-info-text">{{ object.smart_description|safe }}</p>
    </div>
    <br>
    <br>
    <img src="{{ object.image.url|slice:'2' }}" style="width: 100%;border-radius: 10px;" alt="">
    <br>
    <p style="margin-top: 10px; font-size: 18px;font-family: sans-serif;line-height: 140%;">{{ object.smart_text|safe }}</p>

    <p style="float: left;margin-top: 1%;">{{ object.created_at|date:'d.F' }}</p>

<!--    <p style="float: right;margin-top: 1%;">See 459 peoples</p>-->
    <br>
    <div class="row mt-3">
   {% if object.get_prev %}
      <div class="col-md-6">
        <img src="{% static './images/Group_419.svg' %}" class="icon-left" style="left: -13%;" alt="">
        <div class="single-image p-3">
          <img src="{{ object.get_prev.image.url }}" class="img-fluid w-100" style="width:100%;height:350px" alt="">
          <h3 style="font-size: 19px;padding: 10px;">{{ object.get_prev.title|safe }}</h3>
          <p style="padding: 10px;margin-top: 0px;padding-top: 0px;">{{ object.get_prev.smart_description|safe }}</p>
             {% if object.get_prev %}
                     <a href="{% url 'blog:single-blog' pk=object.get_prev.pk %}" style="font-size: 18px;font-weight: 500;margin-left: 3%;">{% trans 'Читать дальше' %} <img src="{% static './images/right.svg' %}" class="blog-right" alt=""></a>
             {% endif %}

        </div>
      </div>
   {% endif %}
    {% if object.get_next %}
      <div class="col-md-6">
        <div class="single-image p-3">
          <img src="{{ object.get_next.image.url }}" class="img-fluid"  style="width:100%;height:350px" alt="">
          <h3 style="font-size: 19px;padding: 10px;">{{ object.get_next.title|safe }}</h3>
          <p style="padding: 10px;margin-top: 0px;padding-top: 0px;">{{ object.get_next.smart_description|safe }}</p>
            {% if object.get_next %}
              <a href="{% url 'blog:single-blog' pk=object.get_next.pk %}" style="font-size: 18px;font-weight: 500;margin-left: 3%;">{% trans 'Читать дальше' %} <img src="{% static './images/right.svg' %}" class="blog-right" alt=""></a>
            {% endif %}
        </div>
      </div>
   {% endif %}
    </div>
  </div>
    
<script>
  console.clear();
</script>
<!-- Code by FathullaLatipov LF -->
{% endblock %}