{% extends 'layouts/base.html' %}
{% load i18n %}
{% block title %} {{ object.title }}  {% endblock %}
{% load static %}
{% block content %}
<style>
    dl, ol, ul {
        margin-bottom: 0;
    }
    .us-products-page-products-productCard {
        width: auto;
    }
    .us-products-page-products-productCard_top {
        max-width: -webkit-fill-available;
        max-width: -moz-available;
        max-width: stretch;
        width: 100%;
    }
    .us-products-page-products-productCard-detailsView , us-products-page-products-productCard-preview{
        max-width: -webkit-fill-available;
        max-width: -moz-available;
        max-width: stretch;
        width: 100%;
        max-height: -webkit-fill-available;
        max-height: -moz-available;
        max-height: stretch;
        height: 100%;
    }

    .us-products-page-products-productCard-moreLink {
        width: auto;
    }
</style>

 <div class="us-navigation-block">
        <div class="us-products-page-container">
            <ul class="us-navigation-block-list">
                <li class="us-navigation-block-item">
                    <a href="{% url 'index' %}" class="us-navigation-block-link">{% trans 'Главная' %}</a>
                </li>
                <li class="us-navigation-block-item">
                    <a href="{% url 'blog:blogs' %}" class="us-navigation-block-link">{% trans 'Наши статьи'  %}</a>
                </li>
                  <li class="us-navigation-block-item">
                    <a href="{% url 'blog:blogs' %}" class="us-navigation-block-link">{{ object.title|safe }}</a>
                </li>
            </ul>
        </div>
</div>

  <br>
     <div class="us-single-line">
        <div class="us-single-line-container">
            <aside class="us-single-line-latest">
                <div class="us-single-line-latest-container">
                    <h3 class="us-single-line-latest-title"><i class="fa-regular fa-circle-small"></i> {% trans "O'xshash maqolalar" %}
                    </h3>
                    <ul class="us-single-line-latest-listOfLines">
                        {% for blog in random_blog %}
                              <li class="us-single-line-latest-ItemLine">
                                <h5 class="us-single-line-latest-ItemLine-price"><i class="fa-regular fa-newspaper"></i> {{ object.created_at }}</h5>
                                <a href="{% url 'blog:single-blog' pk=blog.pk %}" class="us-single-line-latest-ItemLine-title">{{ blog.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </aside>
            <div class="us-single-line-mainBlock">
                <div class="us-single-line-mainBlock-container">
                    <!-- Top Buttons -->
                    <div class="us-single-line-mainBlock-meta">
                        <div class="us-single-line-mainBlock-metaViewShare">
                            <p class="us-single-line-mainBlock-view"><i class="fa-light fa-eye"></i>  {{ object.views }}</p>
                            <ul class="us-single-line-mainBlock-share-links">
                                <li class="us-single-line-mainBlock-share-link"><a class="copyClipboard"
                                        rel="noopener noreferrer"><i title="Havolani ko'chirish"
                                            class="fa-light fa-link-simple"></i></a>
                                </li>
                                <li class="us-single-line-mainBlock-share-link"><a href="https://t.me/share/url?url={{ request.get_host }}{{ request.get_full_path }}&text={{ object.title }}" target="_blank"
                                        rel="noopener noreferrer"><i title="Telegram"
                                            class="fa-brands fa-telegram"></i></a>
                                </li>
                                <li class="us-single-line-mainBlock-share-link"><a href="https://wa.me/?text={{ request.get_host }}{{ request.get_full_path }}" target="_blank"
                                        rel="noopener noreferrer"><i title="WhatsApp"
                                            class="fa-brands fa-whatsapp"></i></a>
                                </li>
                                <li class="us-single-line-mainBlock-share-link"><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.get_host }}{{ request.get_full_path }}" target="_blank"
                                        rel="noopener noreferrer"><i title="Facebook"
                                            class="fa-brands fa-facebook"></i></a>
                                </li>
                            </ul>
                        </div>
{#                        <a href="{{ object.pdf.url }}"><button class="us-single-line-mainBlock-meta-downloadPDF"><i class="fa-regular fa-files"></i>#}
{#                            Download PDF</button></a>#}
                    </div>

                    <h1 class="us-single-line-mainBlock-line-title">{{ object.title }}</h1>

                    <div class="us-single-line-mainBlock-line-fullDescription">
                            {{ object.smart_description|safe }}
                    </div>
                </div>
            </div>
            <aside class="us-single-line-recAndPopularBlock">
                <div class="us-single-line-recAndPopularBlock-container">

                    <div class="us-single-line-recAndPopularBlock-first">
                        <h3 class="us-single-line-recAndPopularBlock-title"><i class="fa-regular fa-circle-small"></i>
                            {% trans "Tavsiya qilamiz" %}</h3>
                        <ul class="us-single-line-recAndPopularBlock-listOfLines">
                            {% for blog in random_blog %}
                            <li class="us-single-line-recAndPopularBlock-ItemLine">
                                <h5 class="us-single-line-recAndPopularBlock-ItemLine-price"><i class="fa-regular fa-newspaper"></i> {{ object.created_at }}</h5>
                                <a href="{% url 'blog:single-blog' pk=blog.pk %}" class="us-single-line-recAndPopularBlock-ItemLine-title">{{ blog.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="us-single-line-recAndPopularBlock-second">
                        <!-- Slider main container -->
                        <div class="swiper us-productsRec">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper us-productsRec-swiper">
                                <!-- Slides -->
                                {% for product in random_prod_line %}
                                      <div class="swiper-slide">
                                             {% include 'layouts/product-block2.html' %}
                                      </div>
                                {% endfor %}


                            </div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>

                            <!-- If we need navigation buttons -->
                            <!-- <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div> -->

                            <!-- If we need scrollbar -->
                            <!-- <div class="swiper-scrollbar"></div> -->
                        </div>
                    </div>

                </div>
            </aside>
        </div>
    </div>
<script>
  console.clear();
</script>
<!-- Code by FathullaLatipov LF -->
{% endblock %}