{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

  <section class="banner">
    <div class="container">
      <div class="row">

      </div>
      <h1 class="banner-text">Наши работы</h1>
      <p class="banner-desc">Главная <span> > <a href="" class="banner-desc-title">Наши работы</a></span> > <a href="" class="banner-desc-title">Ягочга ишлов бериш (1325-ровер)      </a></span></p>

      <img src="{% static './images/backgorund-shadow.svg' %}" style="margin-top: -30%;margin-left: -60%;" alt="">
    </div>

  </section>
  <br>
  <img src="{% static './images/settings.svg' %}" class="icon-right" alt="">

  <br>


  <div class="container ">
    <div class="row">
      <div class="col-md-12">
        <div class="single-blog ">
          <p style="font-size: 32px;color: #131311;line-height: 38px;">Обработка ягоча(1325-Ровер)</p>
          <p style="font-size: 16px;font-weight: 500;line-height: 20px;color: #132E6B;padding: 20px 0px;">ДЕРЕВООБРАБОТКА(ФРЕЗЕРОВАНИЕ)</p>
          <p style="color: #131311;font-size: 16px;line-height: 24px;">Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке соответствующий условий активизации. Равным образом новая модель организационной деятельности требуют определения и уточнения направлений прогрессивного развития. Новая модель организационной деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. </p>
            <img src="{% static './images/Group_417.svg' %}" class="icon-right-22"  alt="">
          <img class="img-fluid" style="margin: auto;display: table;margin-top: -16%;" width="700px" height="300px"
            src="{% static './images/H1866eb98064e4b409acd216e2903cee5x-removebg-preview.png' %}" alt="">
          <br>
          <div class="container mobile-work">
            <table class="table table-striped" style="border-top: 0px;">
              <tbody>
                <tr>
                  <td style="font-weight: 500;">Модель</td>
                  <td style="text-align:center">ROVER - 1325A</td>

                </tr>
                <tr>
                  <td style="font-weight: 500;">Размер рабочего стола:</td>
                  <td style="text-align:center">1300х2500х200 mm</td>

                </tr>
                <tr>
                  <td style="font-weight: 500;">Система управления:</td>
                  <td style="text-align:center">NC STUDIO</td>

                </tr>
                <tr>
                  <td style="font-weight: 500;">Рабочий стол:</td>
                  <td style="text-align:center">Без ваккума</td>

                </tr>
                <tr>
                  <td style="font-weight: 500;">Мощность шпинделя:</td>
                  <td style="text-align:center">5,5 кв, 24000 об / мин</td>

                </tr>
                <tr>
                  <td style="font-weight: 500;">Система охлаждения шпинделя:</td>
                  <td style="text-align:center">Водяное охлаждения</td>

                </tr>
                <tr>
                  <td style="font-weight: 500;">Напряжения:</td>
                  <td style="text-align:center">350V50Hz</td>

                </tr>
                <tr>
                  <td style="font-weight: 500;">Страна происхрождения:</td>
                  <td style="text-align:center">Китайский</td>

                </tr>
                <tr>
                  <td style="font-weight: 500;">Автоматическая система смазки:</td>
                  <td style="text-align:center">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Есть
                    </label>
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: 500;">Датчик Автоматического управления:</td>
                  <td style="text-align:center">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Есть
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
            <img src="{% static './images/Group_418.svg' %}" class="icon-right" style="right:-7%;transform: rotate(-29.52deg);"  alt="">
            <div class="row">
              <div class="col-md-3">
                <img src="{% static './images/more_product.png' %}" class="img-fluid" style="display: table;margin: 3px auto;" alt="">
              </div>
              <div class="col-md-3">
                <img src="{% static './images/more_product2.png' %}" class="img-fluid" style="display: table;margin: 3px auto;" alt="">
              </div>
              <div class="col-md-3">
                <img src="{% static './images/more_product3.png' %}" class="img-fluid" style="display: table;margin: 3px auto;" alt="">
              </div>
              <div class="col-md-3">
                <img src="{% static './images/more_product4.png' %}" class="img-fluid" style="display: table;margin: 3px auto;" alt="">
              </div>
              <div class="container">
                <p style="margin-top: 20px;">Равным образом реализация намеченных плановых заданий способствует подготовки и реализации модели развития. Задача организации, 
                  в особенности же рамки и место обучения кадров играет важную роль в формировании направлений прогрессивного развития.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container p-3">
    <button class="btn btn-prev"><img src="{% static './images/left.svg' %}" style="position: absolute;padding: 2px;margin-left: -9px;" alt=""><span style="font-size: 20px;line-height: 24px;position: relative;left: 9px;">  Перейти к предыдущей</span> </button>
    <button class="btn btn-next float-right"> <span style="font-size: 17px;line-height: 24px;position: relative;left: -8px;">Перейти к следующей</span>  <img src="{% static './images/right.svg' %}" style="position: absolute;padding: 2px;margin-left: -3px;" alt=""></button>

    <button class="btn btn-prev-mobile"><img src="{% static './images/left.svg' %}" style="position: absolute;padding: 2px;margin-left: -9px;" alt=""><span style="font-size: 19px;line-height: 24px;position: relative;left: 9px;">Назад</span></button>
    <button class="btn btn-next-mobile float-right"><span style="font-size: 19px;line-height: 24px;position: absolute;margin-left: -3%;"></span>Далее <b></b><img src="{% static './images/right.svg' %}" style="position: absolute;padding: 2px;margin-left: -3px;" alt=""></button>
  </div>
  <br>
  <br>

<script>
  console.clear();
</script>
<!--  Code by Fathulla Latipov LF -->
{% endblock %}