{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% load tags %}
{% load static watermark %}
{% load humanize %}
{% block content %}
<style>
    @media(max-width:900px) {
      .btn.btn-min {
            width: 48px;
            height: 48px;
            background-color: #FFF5F5;
            position: absolute;
            right: 6.3%;
            top: 25px;
        }
    }

      @media(min-width:1000px) {
      .btn.btn-min {
            width: 48px;
            height: 48px;
            background-color: #FFF5F5;
            position: absolute;
            right: 16.3%;
            top: 25px;
        }
    }

    .btn-like2 {
        position: absolute;
        bottom: 9.8%;
        right: 13%;
        width: 48px;
        height: 48px;
        background-color: #FFF5F5;
        border: none;
        border-radius: 4px;
    }

.img-magnifier-container {
  position:relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 150px;
  height: 150px;
}
</style>
<section class="banner">
    <div class="container">
        <div class="row">

        </div>
        <h1 class="banner-text">{% trans 'Карточка товара' %}</h1>
        <a href="{% url 'home:home' %}" style="color:#132E6B"><p class="banner-desc">{% trans 'Главная' %}</a> <span> > <a
            href="" class="banner-desc-title">{% trans 'Карточка товара' %}</a></span> > <a
            href="" class="banner-desc-title" style="#132E6B;">{{ object.title }}</a></span></p>

        <img src="{% static './images/backgorund-shadow.svg' %}" style="margin-top: -30%;margin-left: -60%;" alt="">
    </div>

</section>

<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="single-image">
                <div class="product-gallery">
                    <div class="img-magnifier-container">
                      {% with object.image.url as url_path %}
                        <img id="myimage" src="{{ object.image.url|watermark:"uskunalar,scale=R35%,position=br,opacity=100"  }}" style="width: 100%;margin-top: 10px;height: 450px;">
                      {% endwith %}
                    </div>
                    <ul class="image-list" style="margin-left: 2%;">
                        <li class="image-item">
                            <img src="{{ object.image.url }}" alt="">
{#                            {% with object.image.url as url_path %}#}
{#                                <img style="width: 80px;height: 79px;padding: 2px;" src="{{ object.image.url|watermark:"uskunalar,scale=R35%,position=br,opacity=100"  }}"></li>#}
{#                            {% endwith %}#}
                        {% for i in object.images.all %}
                        <li class="image-item"><img style="width: 80px;height: 79px;padding: 2px;"
                                                    src="{{ i.image.url }}"></li>
                        {% endfor %}
                    </ul>
                </div>
{#                <a onclick="add_to_wishlist(this, {{ object.pk }})" class="card-link">#}
{#                    {% if object|in_wishlist:request %}#}
{#                    <button class="btn btn-min"#}
{#                            style="">#}
{#                        <img#}
{#                                src="{% static './images/red_active.svg' %}" style="margin-top: 7px;" alt=""></button>#}
{#                    {% else %}#}
{#                    <button class="btn btn-min"#}
{#                            style="">#}
{#                        <img#}
{#                                src="{% static './images/like.svg' %}" style="margin-top: 7px;" alt=""></button>#}
{#                    {% endif %}#}
{#                </a>#}
            </div>
        </div>
        <div class="col-md-6">
            <p class="single-product-title" style="font-size: 24px;">{{ object.title }}</p>
            <div class="row">
                <div class="col-md-6 mt-3">
                    {% if object.inbox %}
                        <p class="in_box"><img src="{% static './images/radius.svg' %}" alt="">
                        {{ object.inbox }}
                    {% endif %}
                    {% if object.delivery %}
                          <p class="in_box"><img src="{% static './images/radius.svg' %}" alt="">
                        {{ object.delivery }}
                    {% endif %}
                    </p>
                </div>
                <div class="col-md-6 mt-3">
                    <p class="in_article"><img src="{% static './images/radius.svg' %}" alt=""> {% trans 'Артикул' %}:{{ object.sku }}</p>
                </div>
            </div>
            <p style="line-height:28px;font-family:sans-serif">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab delectus incidunt magni nostrum officia pariatur, ullam. Ab accusamus consequuntur dignissimos error ipsum labore laudantium necessitatibus nesciunt non perferendis, possimus, recusandae rem temporibus. Accusamus accusantium aut dolore error et excepturi harum, provident sed sequi tenetur. Consequuntur dicta doloremque dolores magnam minus.</p>
            <div class="row">
                <div class="col-md-7">
                      <p class="desc_prod mt-3 mb-1">КОНВEРТАЦИЯ:</p>
                        <p class="desc_prod mt-1"><img src="{% static './images/bank.png' %}" style="width:30px" alt=""><span style="margin:8px;position:relative;top:-6px;">15% НДС</span></p>
                        <p class="desc_prod mt-1"><img src="{% static './images/krip.png' %}" style="width:30px" alt=""><span style="margin:8px;position:relative;top:-6px;">Конвертация хизмати учун 1%</span></p>
                        <p class="desc_prod mt-1"><img src="{% static './images/procent.png' %}" style="width:30px" alt=""><span style="margin:8px;position:relative;top:-6px;">Банк хизмати учун 0.5%</span></p>
                        <p class="desc_prod mt-1"><img src="{% static './images/dollar.png' %}" style="width:30px" alt=""><span style="margin:8px;position:relative;top:-6px;">Доллар без НДС</span></p>
                </div>
                <div class="col-md-5">
                      <div class="numbers_prod">
                        <ul id="accordion6_4" class="accordion6_4">
                            <li>
                                <div class="link">{% trans 'Купить через банк' %}<i class="fa fa-chevron-down"
                                                                                    style="margin-left:10px"></i></div>
                                <ul class="submenu" style="position:absolute;margin-top:5px">
                                    <li style="box-shadow:0 0rem 0.9rem rgb(0 0 0 / 5%) !important"><a
                                            href="https://qishloqqurilishbank.uz/ru/credits/dlya-fizicheskikh-lic">Qishloq
                                        qurilish banki</a></li>
                                    <li style="box-shadow:0 0rem 0.9rem rgb(0 0 0 / 5%) !important"><a
                                            href="https://www.infinbank.com/ru/private/credits/">Infinbank</a></li>
                                    <li style="box-shadow:0 0rem 0.9rem rgb(0 0 0 / 5%) !important"><a
                                            href="https://hamkorbank.uz/uz/physical/credits/">Hamkorbank</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <br>
                                <a href="{{ object.pdf.url|default:'' }}"> <img src="{% static './images/pdf' %} 1.svg" alt=""><span
                    class="download_pdf">{% trans 'Скачать Pdf' %}</span></a>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mt-4">
                    <p class="price_prod" style="font-size: 20px;font-weight: bold;color: #000;">{% trans 'Цена' %}:</p>
                    <h3 class="count_prod" style="color: #e3000f;font-size: 35px;font-weight: bold;">${{ object.dollar }}</h3>
                    <h3 class="count_prod" style="margin-top: 5px;font-size:20px">{{ object.dollar_exchanges|intcomma }} сум</h3>
                </div>
                <div class="col-md-6 mt-4">
                    <div class="numbers_prod" style="margin-top: 3px;">
                        <ul>
                            <li>
                                <button id="single-buttom" class="button-left button-bottom-left" type="button"
                                        data-toggle="modal" data-target="#exampleModalCenter"
                                        style="width: 195px;height: 57px;margin-top:20px;right:0px">
                                    <p class="carousel-button-text">{% trans 'Купить' %}</p>
                                </button>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-6">
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">{% trans 'Заполните форму и наши операторы с вами свяжутся' %}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    {% include 'form.html' %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" style="height: 55px;margin-top: 5%;"
                                            data-dismiss="modal">{% trans 'Закрыть' %}
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br>
        </div>
        <img src="{% static './images/settings.svg' %}" class="icon-right" style="transform: rotate(-25deg);" alt="">
        <img src="{% static './images/Group_419.svg' %}" class="icon-right-2"
             style="position: absolute;right: 24%;transform: rotate(-35deg);" alt="">
    </div>
</div>
<div class="container">
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="text-align:center">
            <h1 style="font-size:30px">{{ message }}</h1>
            <p>{% trans 'Ваша сообщения успешно отправлено скоро наши операторы с вами свяжутся!!!' %}</p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endfor %}
{% endif %}
</div>
<br>
<div data-aos="fade-right">
    <div class="container">
        <p class="description_prod">{% trans 'Характеристики и описания оборудования' %}</p>
    </div>
    <div class="container" style="border: 1px solid #C9C8D3;border-radius: 4px;padding: 20px;">
        <table class="table table-striped">
            <tbody>
            {% for z in object.specifications.all %}
            <tr>
                <td style="font-weight: 500;">{{ z.product_customer|safe }}</td>
                <td style="text-align:center">{{ z.product_number|safe }}</td>
                <td style="text-align:center"><img src="{% if z.product_image %} {{ z.product_image.url }} {% endif %}"
                                                   style="width:44px" alt=""></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <p style=" border-bottom: 3px silver dashed;"></p>
        <br>
        <p class="description_long">{{ object.long_description|safe }} </p>
        <br>
    </div>
</div>
<img src="{% static './images/Group_418.svg' %}" class="icon-left" style="width: 90px;margin-left: 4%;" alt="">
<br>
<br>

<div class="container">
    <div class="back_elements">

    </div>
    <img src="{% static './images/Group_417.svg' %}" class="icon-right-transform" style="position: absolute;" alt="">
    <h1 class="text-center" style="font-weight: 600;font-size: 35px;padding: 20px;margin-top: 30px;margin-left: 5%;">
        {% trans 'Популярные товары' %}</h1>
    <p class="text-center" style="color: silver;">Идейные соображения высшего порядка, а также постоянное
        информационно-<br>пропагандистское обеспечение нашей деятельности представляет собой интересный.</p>
    <br>
    <hr style="border: 2px solid #ffe600;width: 100px;text-align: center;margin: auto;border-radius: 20px;background-color: #ffe700;">
</div>

<div class="container">
    <div class="row-1">
        <br>
        <div class="splide_3_2">
            <div class="splide__track" style="height: 520px;">
                <ul class="splide__list">
                    {% for product in related %}
                    <li class="splide__slide">
                        <div class="col-md-3">
                            <div class="produdcs-section2">
                                <div class="flex-itm">
                                    <div class="flex-iem-inner">
                                        <!-- card -->
                                        <a onclick="add_to_wishlist(this, {{ product.pk }})">
                                            <div class="card-front bg-violet">
                                                <a onclick="add_to_wishlist(this, {{ product.pk }})" class="card-link">
                                                    {% if product|in_wishlist:request %}
                                                    <button class="btn-like2" type="submit"
                                                            style="width: 48px;height: 48px;background-color: #FFF5F5;position: absolute;right: 10px;top:5%">
                                                        <img
                                                                src="{% static './images/red_active.svg' %}"
                                                                style="margin-top: 7px;" alt=""></button>
                                                    {% else %}
                                                    <button class="btn-like2" type="submit"
                                                            style="width: 48px;height: 48px;background-color: #FFF5F5;position: absolute;right: 10px;top:5%">
                                                        <img
                                                                src="{% static './images/like.svg' %}"
                                                                style="margin-top: 7px;" alt=""></button>
                                                    {% endif %}
                                                </a>
                                                {% if product.is_discount %}
                                                <a href="#" class="card-link">
                                                    <button class="btn"
                                                            style="width: 48px;height: 48px;background-color: #E97171;position: absolute;right: 70px;border-radius: 50px;">
                                                        <p style="margin-left:-10%;color: #fff;font-weight: normal;">{{ product.discount }}%</p>
                                                    </button>
                                                </a>
                                                {% elif product.is_new %}
                                                <a href="#" class="card-link1">
                                                    <button class="btn new-mobile-1">
                                                        <p class="new-mobile-text {% if product.is_discount %}mt-5{% endif %}">New!</p>
                                                    </button>
                                                </a>
                                                {% endif %}
                                                <a href="{% url 'products:single' pk=product.pk %}">
                                                    <img src="{{ product.image.url }}"
                                                         style="width: 100%;height: 300px;display: table;margin: auto;"
                                                         alt="">
                                                </a>

                                                <div class="card-text"
                                                     style="background: #F4F5F7;padding: 11px;border-radius: 4px;height: 150px;">
                                                    <h4 class="front-title">{{ product.title }}</h4>
                                                    <p class="detail">{% trans 'Артикул' %}: {{ product.sku }}</p>
                                                    <p class="desc">${{ product.get_price_dollar }} - {{ product.get_price }} сум</p>
                                                    <div class="text-center">
                                                        <ul>
                                                            <li>
                                                                <a href="{% url 'products:single' pk=product.pk %}">
                                                                    <button class="button-center button-bottom2 mobile-button"
                                                                            style="width: 127px;height: 43px;">
                                                                        <p style="font-size: 13px;">{% trans 'Заказать' %}</p>
                                                                    </button>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- /card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container ">
    <div class="row desk-product">
        {% for product in related|slice:':4' %}
        <div class="col-md-3">
            <div class="produdcs-section">
                <div class="flex-item">
                    <div class="flex-item-inner">
                        <!-- card -->
                        <a href="{% url 'products:single' pk=product.pk %}">
                            <div class="card-front bg-violet">
                                <a onclick="add_to_wishlist(this, {{ product.pk }})" class="card-link">
                                    <button class="btn"
                                            style="width: 48px;height: 48px;background-color: #FFF5F5;position: absolute;right: 10px;">
                                        <img
                                                src="{% static './images/like.svg' %}" style="margin-top: 7px;" alt="">
                                    </button>
                                </a>
                                {% if product.is_discount %}
                                <a href="#" class="card-link">
                                    <button class="btn"
                                            style="width: 48px;height: 48px;background-color: #E97171;position: absolute;right: 70px;border-radius: 50px;">
                                        <p style="margin-left:-32%;color: #fff;font-weight: normal;">{{ product.discount }}%</p>
                                    </button>
                                </a>
                                {% elif product.is_new %}
                                <a href="#" class="card-link1">
                                    <button class="btn new-mobile-1">
                                        <p class="new-mobile-text {% if product.is_discount %}mt-5{% endif %}">New!</p>
                                    </button>
                                </a>
                                {% endif %}
                                <img src="{{ product.image.url }}" class="product-image-url"  alt="">
{#                              {% with product.image.url as url_path %}#}
{#                                <img src="{{ product.image.url|watermark:"uskunalar,scale=R35%,position=br,opacity=100"  }}" class="product-image-url" alt="">#}
{#                              {% endwith %}#}
                                <div class="card-text">
                                    <h4 class="front-title">{{ product.title }}</h4>
                                    <p class="detail">{% trans 'Артикул' %}: {{ product.sku }}</p>
                                    <p class="detail">{% trans 'Город' %}: {{ product.city }}</p>
                                    <p class="desc">${{ product.dollar }} - {{ product.dollar_exchanges|intcomma  }} сум</p>
                                </div>
                            </div>
                            <div class="card-back bg-violet">
                                <p class="back-title">{{ product.title }}</p>
                                <p class="desc">${{ product.dollar }} - {{ product.dollar_exchanges|intcomma  }} сум</p>
                                <div class="container">
                                    <div class="spetifications" style="margin-top: 15%;padding: 1px;">
                                        <div class="row">
                                            {% for j in product.specifications.all %}
                                            <div class="col-md-6">

                                                <p style="font-size: 14px;margin-bottom: 8px;">
                                                    {{ j.product_customer }}:</p>
                                            </div>
                                            <br>
                                            <div class="col-md-6">
                                                <p style="font-size: 14px;margin-bottom: 8px;">
                                                    {{ j.product_number }}</p>
                                            </div>
                                            <br>
                                            <br>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="buttons" style="text-align: center;padding: 10px;">
                                    <ul>
                                        <li>
                                            <a href="{% url 'products:single' pk=product.pk %}">
                                                <button class="button-product button-bottom-product">
                                                    <p style="font-size: 16px;">{% trans 'Заказать' %}</p>
                                                </button>
                                            </a>
                                        </li>
                                    </ul>
                                    <a onclick="add_to_wishlist(this, {{ product.pk }})" class="card-link">
                                         {% if product|in_wishlist:request %}
                                            <button class="btn-like2" type="submit"><img src="{% static './images/red_active.svg' %}" alt=""></button>
                                            {% else %}
                                            <button class="btn-like2" type="submit"><img src="{% static './images/like.svg' %}" alt=""></button>
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                        </a>
                        <!-- /card -->
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>

<br>


<br>
{% block extra_js %}
<script>
(function () {

    $(".hamburger").on("click", function () {
        $(this).parent(".hamburger-wrapper").toggleClass("hamburger-active")
    });

}());


</script>
<script>
  const activeImage = document.querySelector(".product-image .active");
  const productImages = document.querySelectorAll(".image-list img");
  const navItem = document.querySelector('a.toggle-nav');

  function changeImage(e) {
    activeImage.src = e.target.src;
  }

  function toggleNavigation(){
    this.nextElementSibling.classList.toggle('active');
  }

  productImages.forEach(image => image.addEventListener("click", changeImage));
  navItem.addEventListener('click', toggleNavigation);




</script>
<script>
      function add_to_wishlist(element, pk) {
        $.getJSON('/products/' + "wishlist/" + pk, function (data) {
            if (!data.status) {
               $('#message').append(`<div style="padding:5px">
                        <div id="inner-message" class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            Error
                        </div>
                    </div>`);
            } else {
                if (data.added) {
                    $('#message');
                    element.innerHTML = '<button class="btn-like2" type="submit"><img src="{% static './images/red_active.svg' %}"alt=""></button>'
                } else {
                    $('#message');
                     element.innerHTML = '<button class="btn-like2" type="submit"><img src="{% static './images/like.svg' %}"alt=""></button>'
                }
                  $('.like_count').html(data.wishlist_len);
            }
        });
    }
</script>
<script>
  var splide = new Splide('.splide_3_2', {
    perPage: 1,
    rewind: true,
  });

  splide.mount();


</script>
<script>
    $(function() {
	var Accordion = function(el, multiple) {
		this.el = el || {};
		this.multiple = multiple || false;

		// Variables privadas
		var links = this.el.find('.link');
		// Evento
		links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
	}

	Accordion.prototype.dropdown = function(e) {
		var $el = e.data.el;
			$this = $(this),
			$next = $this.next();

		$next.slideToggle();
		$this.parent().toggleClass('open');

		if (!e.data.multiple) {
			$el.find('.submenu').not($next).slideUp().parent().removeClass('open');
		};
	}

	var accordion = new Accordion($('#accordion6_4'), false);
});


</script>
{#<script>#}
{#function magnify(imgID, zoom) {#}
{#  var img, glass, w, h, bw;#}
{#  img = document.getElementById(imgID);#}
{#  /*create magnifier glass:*/#}
{#  glass = document.createElement("DIV");#}
{#  glass.setAttribute("class", "img-magnifier-glass");#}
{#  /*insert magnifier glass:*/#}
{#  img.parentElement.insertBefore(glass, img);#}
{#  /*set background properties for the magnifier glass:*/#}
{#  glass.style.backgroundImage = "url('" + img.src + "')";#}
{#  glass.style.backgroundRepeat = "no-repeat";#}
{#  glass.style.backgroundSize = (img.width * zoom) + "px " + (img.height * zoom) + "px";#}
{#  bw = 3;#}
{#  w = glass.offsetWidth / 2;#}
{#  h = glass.offsetHeight / 2;#}
{#  /*execute a function when someone moves the magnifier glass over the image:*/#}
{#  glass.addEventListener("mousemove", moveMagnifier);#}
{#  img.addEventListener("mousemove", moveMagnifier);#}
{#  /*and also for touch screens:*/#}
{#  glass.addEventListener("touchmove", moveMagnifier);#}
{#  img.addEventListener("touchmove", moveMagnifier);#}
{#  function moveMagnifier(e) {#}
{#    var pos, x, y;#}
{#    /*prevent any other actions that may occur when moving over the image*/#}
{#    e.preventDefault();#}
{#    /*get the cursor's x and y positions:*/#}
{#    pos = getCursorPos(e);#}
{#    x = pos.x;#}
{#    y = pos.y;#}
{#    /*prevent the magnifier glass from being positioned outside the image:*/#}
{#    if (x > img.width - (w / zoom)) {x = img.width - (w / zoom);}#}
{#    if (x < w / zoom) {x = w / zoom;}#}
{#    if (y > img.height - (h / zoom)) {y = img.height - (h / zoom);}#}
{#    if (y < h / zoom) {y = h / zoom;}#}
{#    /*set the position of the magnifier glass:*/#}
{#    glass.style.left = (x - w) + "px";#}
{#    glass.style.top = (y - h) + "px";#}
{#    /*display what the magnifier glass "sees":*/#}
{#    glass.style.backgroundPosition = "-" + ((x * zoom) - w + bw) + "px -" + ((y * zoom) - h + bw) + "px";#}
{#  }#}
{#  function getCursorPos(e) {#}
{#    var a, x = 0, y = 0;#}
{#    e = e || window.event;#}
{#    /*get the x and y positions of the image:*/#}
{#    a = img.getBoundingClientRect();#}
{#    /*calculate the cursor's x and y coordinates, relative to the image:*/#}
{#    x = e.pageX - a.left;#}
{#    y = e.pageY - a.top;#}
{#    /*consider any page scrolling:*/#}
{#    x = x - window.pageXOffset;#}
{#    y = y - window.pageYOffset;#}
{#    return {x : x, y : y};#}
{#  }#}
{#}#}
{#</script>#}
<script>
magnify("myimage", 2);
</script>
<script>
  AOS.init();
</script>

{% endblock %}

{% endblock %}