{% extends 'layouts/base.html' %}
{% load embed_video_tags %}
{% load i18n %}
{% load static %}
{% block content %}

  <section class="banner">
    <div class="container">
      <div class="row">

      </div>
      <h1 class="banner-text">{% trans 'Наши видео' %}</h1>
        <a href="/" style="color:#132E6B"><p class="banner-desc">{% trans 'Главная' %}</a>  <span> > <a href="" class="banner-desc-title">{% trans 'Наши видео' %}</a></span></p>

      <img src="{% static './images/backgorund-shadow.svg' %}" style="margin-top: -30%;margin-left: -60%;" alt="">
    </div>

  </section>

  <br>
  <img src="{% static './images/settings.svg' %}" class="icon-right" alt="">
  <br>
  <br>
  <div class="container">
      <div class="row">
          {% for video in videos %}
          <div class="col-md-4">
              <div class="box" style="width: 100%;height: auto;">
                 {% video video.url '320x230' %}
               <div>
                <h3>{{ video.title }}</h3>
                <p>{{ video.description }} </p>
               </div>
              </div>
          </div>
          {% endfor %}
    </div>
  </div>
<!-- pagination menu -->
     <nav aria-label="Page navigation example" style="margin: 20px auto;display: flex;
justify-content: center;">
                <a class="prew_icon" href=""></a>
                <ul style="display: flex;justify-content: center;">
                    {% for page in page_obj.paginator.page_range %}
                    <li class="page_numb{% if page == page_obj.number %}-active {% endif %}"  onclick="addUrlParameter('page', '{{ page }}')" style="cursor:pointer;position:relative;padding-top:15px"><a href="?page={{ page }}" style="color: #132E6B;">{{ page }}</a></li>
                    {% endfor %}
                </ul>
                <a href="?page={{ page }}"></a>
            </nav>

<!-- end pagination menu -->

  <br>
{% include 'requests.html' %}

{% endblock %}