{% extends 'layouts/base.html' %}
{% load i18n %}
{% block title %} {% trans 'Sevimlilar' %} {% endblock %}
{% load static %}
{% load tags %}
{% block content %}
<style>
    @media screen and (max-width: 900px){
         .us-products {
             display: none;
         }
    }
</style>
    <link rel="stylesheet" href="{% static 'css/splide.min.css' %}">

<section class="banner">
    <div class="banner-container">
        <h1 class="banner-text">{% trans 'Избранное' %}</h1>
            <a href="{% url 'home:home' %}" style="color:#132E6B"><p class="banner-desc">{% trans 'Главная' %}</a>
            <span> > <a href="" class="banner-desc-title" style="color:#132E6B;">{% trans 'Избранное' %}</a></span></p>
    </div>
</section>


<br>

    <div class="container">
        <div class="row-1">
            <br>
            <div class="splide_9_2">
                <div class="splide__track">
                    <ul class="splide__list">
                    {% if object_list %}
                        {% for product in object_list %}
                            <li class="splide__slide">
                                <div class="us-products">
                                    {% include 'layouts/product_block.html' %}
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                    <h3 style="text-align: center">{% trans "В избранном пусто" %}</h3>
                    {%  endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="products-none">
        <div class="us-products">
        {% if object_list %}
            {% for product in object_list %}
                {% include 'layouts/product_block.html' %}
            {% endfor %}
        {% else %}
            <h3 style="text-align: center">{% trans "В избранном пусто" %}</h3>
        {% endif %}
        </div>
    </div>
<br>
<script src="{% static 'js/splide.min.js' %}"></script>
<script>
    var splide = new Splide('.splide_9_2', {
      perPage: 1,
      rewind: false,
    });
  
    splide.mount();

</script>

<!-- Code by Fathulla Latipov LF -->

{% endblock %}