{% extends 'layouts/base.html' %}
{% load i18n %}
{% block title %} {% trans 'Sevimlilar' %} {% endblock %}
{% load static %}
{% load tags %}
{% block content %}
    <style>
        @media screen and (max-width: 900px) {
            .us-products {
                display: none;
            }
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/splide.min.css' %}">

    <div class="us-navigation-block">
        <div class="us-products-page-container">
            <ul class="us-navigation-block-list">
                <li class="us-navigation-block-item">
                    <a href="{% url 'index' %}" class="us-navigation-block-link">{% trans 'Главная' %}</a>
                </li>
                <li class="us-navigation-block-item">
                    <a href="#" class="us-navigation-block-link">{% trans 'Избранное' %}</a>
                </li>
            </ul>
        </div>
    </div>

    <br>
 <div class="container">
    <div class="us-products-page-products-grid">
        <ul class="us-products-page-products-grid-list active">
            {% if object_list %}
                {% for product in object_list %}
                      {% include 'layouts/product-block2.html' %}
                {% endfor %}
            {% else %}
                <h3 style="text-align: center">{% trans "В избранном пусто" %}</h3>
            {% endif %}
        </ul>
    </div>
</div>
    <br>
    <script src="{% static 'js/splide.min.js' %}"></script>
    <script>
        var splide = new Splide('.splide_9_2', {
            perPage: 1,
            rewind: false,
        });

        splide.mount();

    </script>

    <!-- Code by Fathulla Latipov LF -->

{% endblock %}